@model List<EIRS.Web.Models.NewTccViewModel>

@{
    ViewBag.Title = "My Operations - Sign eTCC";
}


<div class="title">
    <h1>
        My Operations - Sign eTCC
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Sign eTCC</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>
        }

        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblNewRequest">
            <thead class="red-th">
                <tr>
                    <th>Request Ref</th>
                    <th>Tax Payer Name</th>
                    <th class="none">Mobile Number</th>
                    <th>Request Date</th>
                    <th>Tax Year</th>
                    <th class="none">Bill Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RequestRefNo</td>
                        <td>@item.TaxFName  @item.TaxLName</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.RequestDate</td>
                        <td>@item.TaxYear</td>
                        <td>@item.BillStatus</td>
                        <td>
                            @if (item.IsSigned == false)
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("SignTCCDetails", "Staff", new { reqId = item.TCCRequestID })">
                                                Open Request
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            { <div class="btn-group">
                                    <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      View ALL Signatures<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a target="_blank" href="@Url.Action("GetTCC", "ProcessTCCRequest")">
                                                <button id="bttViewTcc" type="submit" class="btn btn-theme">View eTCC </button>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsStaffSignTCCList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


