@model IList<EIRS.BOL.usp_GetCompanyList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.CompanyRIN</td>
            <td>@item.CompanyName</td>
            <td>@item.TIN</td>
            <td>@item.MobileNumber1</td>
            <td>@item.MobileNumber2</td>
            <td>@item.EmailAddress1</td>
            <td>@item.EmailAddress2</td>
            <td>@item.TaxOfficeName</td>
            <td>@item.TaxPayerTypeName</td>
            <td>@item.EconomicActivitiesName</td>
            <td>@item.NotificationMethodName</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Company", new { id = item.CompanyID, name=item.CompanyName.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Company", new { id = item.CompanyID, name=item.CompanyName.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddressInformationList", "Company", new { id = item.CompanyID, name=item.CompanyName.ToSeoUrl() })">
                                Address Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssetList", "Company", new { id = item.CompanyID, name=item.CompanyRIN.ToSeoUrl() })">
                                Asset Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ShowProfileInformation(@item.CompanyID,'@item.CompanyRIN','@item.CompanyName')">
                                Profile Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ShowAssessmentRuleInformation(@item.CompanyID,'@item.CompanyRIN','@item.CompanyName')">
                                Assessment Rule Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssessmentList", "Company", new { id = item.CompanyID, name=item.CompanyRIN.ToSeoUrl() })">
                                Assessment Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ServiceBillList", "Company", new { id = item.CompanyID, name=item.CompanyRIN.ToSeoUrl() })">
                                Service Bill Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SettlementList", "Company", new { id = item.CompanyID, name=item.CompanyRIN.ToSeoUrl() })">
                                Settlement Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.CompanyID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
