@model EIRS.BOL.usp_GetServiceBillList_Result
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Service Bill Details";
    IList<usp_GetServiceBillItemList_Result> lstServiceBillItems = (IList<usp_GetServiceBillItemList_Result>)ViewBag.ServiceBillItemList;
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Service Bill Details
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvServiceBillDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Service Bill</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Service Bill Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Service Bill Ref No</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ServiceBillRefNo
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Service Bill Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.ServiceBillDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Type Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Service Bill Amount</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ServiceBillAmount.GetValueOrDefault().ToString("N2")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Due Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.SettlementDueDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SettlementStatusName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SettlementDate
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                    <section>
                                        <table id="tbServiceBillItem" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>MDA Service</th>
                                                    <th>MDA Service Item</th>
                                                    <th>Service Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyServiceBillItemList">
                                                @foreach (var item in lstServiceBillItems)
                                                {
                                                    <tr>
                                                        <td>@item.MDAServiceName</td>
                                                        <td>@item.MDAServiceItemName</td>
                                                        <td>@item.ServiceAmount.GetValueOrDefault().ToString("N2")</td>
                                                        <td>@item.PaymentStatusName</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </section>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("ServiceBillList","Company",new { id=Model.TaxPayerID, name=Model.TaxPayerRIN.ToSeoUrl() })">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@{ Html.RenderPartial("_MDAServiceItemDetailPopup"); }

@section footer {
    <script type="text/javascript" src="~/Scripts/jsServiceBillView.js"></script>
}