@model IList<EIRS.BOL.usp_GetServiceBillList_Result>
@using EIRS.Common

@{
    ViewBag.Title = "Service Bill List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Service Bill for @ViewBag.TaxPayerName
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            <a href="@Url.Action("List","Company")" class="btn btn-default margin-right-5">
                Back
            </a>
            <a href="@Url.Action("AddServiceBill","Company", new { id=ViewBag.TaxPayerID, name=ViewBag.TaxPayerRIN })" class="btn btn-primary">
                Add Service Bill
            </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvServiceBillList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Service Bill List </h2>
                        <div class="widget-toolbar">
                            <a href="@Url.Action("AddServiceBill","Company", new { id=ViewBag.TaxPayerID, name=ViewBag.TaxPayerRIN })" class="btn btn-primary">
                                Add Service Bill
                            </a>
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbServiceBill" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Service Bill Ref No" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Service Bill Date" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Service Bill Amount" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Due Date" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Status" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Date" />
                                        </th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Service Bill Ref No</th>
                                        <th>Service Bill Date</th>
                                        <th>Service Bill Amount</th>
                                        <th>Settlement Due Date</th>
                                        <th>Settlement Status</th>
                                        <th>Settlement Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ServiceBillRefNo</td>
                                                <td>@CommUtil.GetFormatedDate(item.ServiceBillDate)</td>
                                                <td>@item.ServiceBillAmount.GetValueOrDefault().ToString("N2")</td>
                                                <td>@CommUtil.GetFormatedDate(item.SettlementDueDate)</td>
                                                <td>@item.SettlementStatusName</td>
                                                <td>@CommUtil.GetFormatedDate(item.SettlementDueDate)</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                            Actions
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            @if (item.SettlementStatusID < 3)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("EditServiceBill", "Company", new { id = ViewBag.TaxPayerID, name = ViewBag.TaxPayerRIN, sbillid = item.ServiceBillID })">
                                                                        Edit Details
                                                                    </a>
                                                                </li>
                                                            }
                                                            <li>
                                                                <a href="@Url.Action("ServiceBillDetails", "Company", new { id = ViewBag.TaxPayerID, name = ViewBag.TaxPayerRIN, sbillid = item.ServiceBillID })">
                                                                    View Details
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script Function="text/javascript" src="~/Scripts/jsServiceBillList.js"></script>
}

