@model IList<EIRS.BOL.usp_GetSettlementList_Result>
@using EIRS.Common

@{
    ViewBag.Title = "Settlement List";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Settlement for @ViewBag.TaxPayerName
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
            <a href="@Url.Action("List","Company")" class="btn btn-default margin-right-5">
                Back
            </a>
            <a href="@Url.Action("GenerateSettlement","Company", new { id=ViewBag.TaxPayerID, name=ViewBag.TaxPayerRIN })" class="btn btn-primary">
                Add Settlement
            </a>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvSettlementList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Settlement List </h2>
                        <div class="widget-toolbar">
                            <a href="@Url.Action("GenerateSettlement","Company", new { id=ViewBag.TaxPayerID, name=ViewBag.TaxPayerRIN })" class="btn btn-primary">Add Settlement </a>
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbSettlement" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Ref No" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Date" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Assessment Ref No" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Assessment Amount" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Amount" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Method" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Status" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filter Settlement Notes" />
                                        </th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Settlement Ref No</th>
                                        <th>Settlement Date</th>
                                        <th>Assessment / Service Bill Ref No</th>
                                        <th>Assessment / Service Bill Amount</th>
                                        <th>Settlement Amount</th>
                                        <th>Settlement Method</th>
                                        <th>Settlement Status</th>
                                        <th>Notes</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                   @if (Model != null && Model.Count > 0)
                                   {
                                       foreach (var item in Model)
                                       {
                                        <tr>
                                            <td>@item.SettlementRefNo</td>
                                            <td>@CommUtil.GetFormatedDate(item.SettlementDate)</td>
                                            <td>@item.ASRefNo</td>
                                            <td>@item.ASAmount.GetValueOrDefault().ToString("N2")</td>
                                            <td>@item.SettlementAmount.GetValueOrDefault().ToString("N2")</td>
                                            <td>@item.SettlementMethodName</td>
                                            <td>@item.SettlementStatusName</td>
                                            <td>@item.SettlementNotes</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                        Actions
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="@Url.Action("SettlementDetails","Company", new { id = ViewBag.TaxPayerID, name = ViewBag.TaxPayerRIN, smtid = item.SettlementID })">
                                                                View Details
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                       }
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script Function="text/javascript" src="~/Scripts/jsSettlementList.js"></script>
}

