@model IList<EIRS.BOL.usp_GetUserList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblUser">
    <thead class="red-th">
        <tr>
            <th> User Name </th>
            <th> User Type </th>
            <th class="desktop"> Contact Name </th>
            <th> Status </th>
            <th class="action-th all"> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.UserTypeName</td>
                <td>@item.ContactName</td>
                <td>@item.ActiveText</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @if (item.UserID > 1)
                            {
                                <li>
                                    <a href="@Url.Action("Edit", "User", new { id = item.UserID, name=item.UserName.ToSeoUrl() })">
                                        Edit User
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="@Url.Action("Details","User", new { id = item.UserID, name=item.UserName.ToSeoUrl()})">
                                    View Details
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ScreenList","User", new { id = item.UserID, name=item.UserName.ToSeoUrl()})">
                                    Manage Screens
                                </a>
                            </li>
                        </ul>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>

