@model usp_GetCertificateTypeList_Result
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Operation Manager - Manage Certificate Type";

    IList<usp_GetCertificateTypeItemList_Result> lstCertificateTypeItems = (IList<usp_GetCertificateTypeItemList_Result>)ViewBag.CertificateItemList;
    IList<usp_GetCertificateTypeFieldList_Result> lstCertificateTypeField = (IList<usp_GetCertificateTypeFieldList_Result>)ViewBag.CustomFieldList;

}

<div class="title">
    <h1>
        Operation Manager - Manage Certificate Type
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Certificate Type Details
        </div>
        <div class="actions">
            <a href="@Url.Action("List","CertificateType")" class="btn btn-theme">Cancel</a>
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Edit","CertificateType", new { id=Model.CertificateTypeID, name =Model.CertificateTypeName.ToSeoUrl() })">Edit Detail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Certificate Type: </label>
                <div class="form-control-static">
                    @Model.CertificateTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Agency: </label>
                <div class="form-control-static">
                    @Model.AgencyName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Certificate Number Prefix: </label>
                <div class="form-control-static">
                    @Model.CNPrefix
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Tax Year: </label>
                <div class="form-control-static">
                    @Model.TaxYear
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Template: </label>
                <div class="form-control-static">

                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Status: </label>
                <div class="form-control-static">
                    @Model.ActiveText
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label bold">Description: </label>
                <div class="form-control-static">
                    @Model.Description
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Fields</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblCustomField">
            <thead class="purple-th">
                <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                    <th>Attribute</th>
                </tr>
            </thead>
            <tbody>
                @if (lstCertificateTypeField.Any())
                {
                    foreach (var item in lstCertificateTypeField)
                    {
                        <tr>
                            <td>@item.FieldName</td>
                            <td>@item.FieldTypeName</td>
                            <td>@item.RequiredText</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Items</div>

    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblCertificateItem">
            <thead class="purple-th">
                <tr>
                    <th>Item Type</th>
                    <th>Item Name</th>
                </tr>
            </thead>
            <tbody>
                @if (lstCertificateTypeItems.Any())
                {
                    foreach (var item in lstCertificateTypeItems)
                    {
                        <tr>
                            <td>@item.ItemTypeName</td>
                            <td>@item.ItemName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblCertificateItem'), [
                { "orderable": true },
                { "orderable": true }
            ], 'No Certificate Item Found', []);

            jsfn_ConvertToDatableWithCustomSort($('#tblCustomField'), [
                { "orderable": true },
                { "orderable": true },
                { "orderable": true }
            ], 'No Fields Found', []);
        });
    </script>
}


