@model EIRS.Admin.Models.MDAServiceItemViewModel

@{
    ViewBag.Title = "Edit MDA Service Item";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                MDA Service Item 
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditMDAServiceItem">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                        <h2>Edit MDA Service Item </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Edit", "MDAServiceItem", FormMethod.Post, htmlAttributes: new { @class = "smart-form", @id="frmMDAServiceItem" }))
                            {
                                <header>
                                    MDA Service Item Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.MDAServiceItemID, htmlAttributes: new { @value = Model.MDAServiceItemID })
                                @Html.HiddenFor(model => model.MDAServiceRefNo, htmlAttributes: new { @value = Model.MDAServiceRefNo })

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset>
                                    <section>
                                        @Html.LabelFor(model => model.MDAServiceRefNo, htmlAttributes: new { @class = "label" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.MDAServiceRefNo, htmlAttributes: new { @disabled = "true", @readonly = "true" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Auto numbering by system
                                            </b>
                                        </label>
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.RevenueStreamID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.RevenueStreamID, (SelectList)ViewBag.RevenueStreamList, "Select Revenue Stream", htmlAttributes: new { id = "cboRevenueStream", @tabindex = "4", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.RevenueStreamID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.RevenueSubStreamID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.RevenueSubStreamID, (SelectList)ViewBag.RevenueSubStreamList, "Select Revenue Sub Stream", htmlAttributes: new { id = "cboRevenueSubStream", @tabindex = "5", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.RevenueSubStreamID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.AssessmentItemCategoryID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.AssessmentItemCategoryID, (SelectList)ViewBag.AssessmentItemCategoryList, "Select Item Category", htmlAttributes: new { id = "cboItemCategory", @tabindex = "6", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.AssessmentItemCategoryID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.AssessmentItemSubCategoryID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.AssessmentItemSubCategoryID, (SelectList)ViewBag.AssessmentItemSubCategoryList, "Select Item Sub Category", htmlAttributes: new { id = "cboItemSubCategory", @tabindex = "7", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.AssessmentItemSubCategoryID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.AgencyID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.AgencyID, (SelectList)ViewBag.AgencyList, "Select Agency", htmlAttributes: new { @tabindex = "8", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.AgencyID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.MDAServiceItemName, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.MDAServiceItemName, htmlAttributes: new { @tabindex = "9", @placeholder = "Enter MDA Service Item" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter MDA Service Item
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.MDAServiceItemName, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.ComputationID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.ComputationID, (SelectList)ViewBag.ComputationList, "Select Computation", htmlAttributes: new { @id = "cboComputation", @tabindex = "10", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.ComputationID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.ServiceBaseAmount, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.ServiceBaseAmount, htmlAttributes: new { @tabindex = "11", @id = "txtServiceBaseAmount", @placeholder = "Enter Tax Base Amount", @value = "0.00" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Service Base Amount
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.ServiceBaseAmount, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section id="scServicePercentage">
                                        @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "label" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.Percentage, htmlAttributes: new { @tabindex = "12", @placeholder = "Enter Percentage", @id = "txtPercentage" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Percentage
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Percentage, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.ServiceAmount, htmlAttributes: new { @class = "label" })
                                        <label class="input" id="lblServiceAmount">
                                            0.00
                                        </label>
                                        @Html.ValidationMessageFor(model => model.ServiceAmount, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "label" })
                                        <label class="checkbox">
                                            @Html.CheckBoxFor(model => model.Active, htmlAttributes: new { @tabindex = "18" })
                                            <i></i> Active
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <a id="btnSubmit" class="btn btn-primary">
                                        Submit
                                    </a>
                                    <a href="@Url.Action("List","MDAServiceItem")" class="btn btn-default" >
                                        Back
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Footer {
    <script type="text/javascript" src="~/Scripts/jsMDAServiceItemDetails.js"></script>
    }