@model EIRS.Web.Models.UpdateBusinessViewModel
@using EIRS.BOL

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Business";
}

<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Data Profiler
            </h1>
            <hr>
            <p>
                We have dumped all the business data to allow for accurate cleansing and profiling. Where you find duplicates, just select the one that best matches your business and click on proceed. Kindly use the search button below to begin
            </p>
        </div>
        @using (Html.BeginForm("UpdateBusiness", "CBS", FormMethod.Post, new { @id = "frmUpdateBusiness" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(m => m.BusinessID, new { @value = Model.BusinessID })
            @Html.HiddenFor(m => m.BusinessName, new { @value = Model.BusinessName })
            @Html.HiddenFor(m => m.AssetTypeID, new { @value = Model.AssetTypeID })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Step 3: Tax Payer Information
                    </div>
                    <div class="actions hide">
                        <a href="@Url.Action("Home", "CBS")" class="">Return to CBS Home</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="redheader">Tax Payer Information</h4>
                            <div class="horizontal-form">
                                <div class="form-group">
                                    <label class="control-label required-star">Tax Payer Type</label>
                                    @Html.DropDownListFor(m => m.TaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", new { @class = "form-control select2", @id = "cboTaxPayerType", @tabindex = "1" })
                                    @Html.ValidationMessageFor(m => m.TaxPayerTypeID, "", new { @class = "help-block" })
                                </div>
                            </div>
                            <fieldset id="fsCompany" class="horizontal-form hide">
                                <div class="form-group">
                                    <label class="control-label required-star">Company Name</label>
                                    @Html.TextBoxFor(m => m.COMP_CompanyName, new { @class = "form-control", @tabindex = "2", @placeholder = "Enter Company Name", @maxlength = "150", @id = "txtComp_CompanyName" })
                                    @Html.ValidationMessageFor(m => m.COMP_CompanyName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">TIN</label>
                                    @Html.TextBoxFor(m => m.COMP_TIN, new { @class = "form-control", @tabindex = "3", @placeholder = "Enter JTB TIN number of company", @maxlength = "50", @id = "txtComp_TIN" })
                                    @Html.ValidationMessageFor(m => m.COMP_TIN, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Mobile No 1</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                        @Html.TextBoxFor(m => m.COMP_MobileNumber1, new { @class = "form-control", @tabindex = "4", @placeholder = "Enter mobile phone number of Company", @maxlength = "10", @id = "txtComp_MobileNo1" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.COMP_MobileNumber1, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mobile No 2</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                        @Html.TextBoxFor(m => m.COMP_MobileNumber2, new { @class = "form-control", @tabindex = "5", @placeholder = "Enter alternative mobile phone number of Company", @maxlength = "10", @id = "txtComp_MobileNo2" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.COMP_MobileNumber2, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email Address 1</label>
                                    @Html.TextBoxFor(m => m.COMP_EmailAddress1, new { @class = "form-control", @tabindex = "6", @placeholder = "Enter Company email address", @maxlength = "50", @id = "txtComp_EmailAddress1" })
                                    @Html.ValidationMessageFor(m => m.COMP_EmailAddress1, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email Address 2</label>
                                    @Html.TextBoxFor(m => m.COMP_EmailAddress2, new { @class = "form-control", @tabindex = "7", @placeholder = "Enter Company alternative email address", @maxlength = "50", @id = "txtComp_EmailAddress2" })
                                    @Html.ValidationMessageFor(m => m.COMP_EmailAddress2, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Office</label>
                                    @Html.DropDownListFor(m => m.COMP_TaxOfficeID, (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", new { @class = "form-control select2", @id = "cboComp_TaxOffice", @tabindex = "8" })
                                    @Html.ValidationMessageFor(m => m.COMP_TaxOfficeID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Economic Activity</label>
                                    @Html.DropDownListFor(m => m.COMP_EconomicActivitiesID, (SelectList)ViewBag.EconomicActivitiesList, "Select Economic Activities", new { @class = "form-control select2", @id = "cboComp_EconomicActivities", @tabindex = "9" })
                                    @Html.ValidationMessageFor(m => m.COMP_EconomicActivitiesID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Preferred Notification</label>
                                    @Html.DropDownListFor(m => m.COMP_NotificationMethodID, (SelectList)ViewBag.NotificationMethodList, "Select Notification Method", new { @class = "form-control select2", @id = "cboComp_NotificationMethod", @tabindex = "10" })
                                    @Html.ValidationMessageFor(m => m.COMP_NotificationMethodID, "", new { @class = "help-block" })
                                </div>
                            </fieldset>
                            <fieldset id="fsIndividual" class="horizontal-form hide">
                                <div class="form-group">
                                    <label class="control-label required-star">Gender</label>
                                    @Html.DropDownListFor(m => m.IND_GenderID, (SelectList)ViewBag.GenderList, "Select Gender", new { @class = "form-control select2", @id = "cboInd_Gender", @tabindex = "2" })
                                    @Html.ValidationMessageFor(m => m.IND_GenderID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Title</label>
                                    @Html.DropDownListFor(m => m.IND_TitleID, (SelectList)ViewBag.TitleList, "Select Title", new { @class = "form-control select2", @id = "cboInd_Title", @tabindex = "3" })
                                    @Html.ValidationMessageFor(m => m.IND_TitleID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">First Name</label>
                                    @Html.TextBoxFor(m => m.IND_FirstName, new { @class = "form-control", @tabindex = "4", @placeholder = "Enter Individual's first name", @maxlength = "150", @id = "txtInd_FirstName" })
                                    @Html.ValidationMessageFor(m => m.IND_FirstName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Last Name</label>
                                    @Html.TextBoxFor(m => m.IND_LastName, new { @class = "form-control", @tabindex = "5", @placeholder = "Enter Individual's last name", @maxlength = "150", @id = "txtInd_LastName" })
                                    @Html.ValidationMessageFor(m => m.IND_LastName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Middle Name</label>
                                    @Html.TextBoxFor(m => m.IND_MiddleName, new { @class = "form-control", @tabindex = "6", @placeholder = "Enter Individual's middle name", @maxlength = "150", @id = "txtInd_MiddleName" })
                                    @Html.ValidationMessageFor(m => m.IND_MiddleName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Date of Birth</label>
                                    @Html.TextBoxFor(m => m.IND_DOB, new { @class = "form-control", @tabindex = "7", @placeholder = "Enter Individual's Date of Birth", @id = "txtInd_DOB" })
                                    @Html.ValidationMessageFor(m => m.IND_DOB, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">TIN</label>
                                    @Html.TextBoxFor(m => m.IND_TIN, new { @class = "form-control", @tabindex = "8", @placeholder = "Enter Individual's tax identification number from JTB if available", @maxlength = "150", @id = "txtInd_TIN" })
                                    @Html.ValidationMessageFor(m => m.IND_TIN, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Mobile No 1</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                        @Html.TextBoxFor(m => m.IND_MobileNumber1, new { @class = "form-control", @tabindex = "9", @placeholder = "Enter mobile phone number of Individual", @maxlength = "10", @id = "txtInd_MobileNo1" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.IND_MobileNumber1, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mobile No 2</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                        @Html.TextBoxFor(m => m.IND_MobileNumber2, new { @class = "form-control", @tabindex = "10", @placeholder = "Enter alternative mobile phone number of Individual", @maxlength = "10", @id = "txtInd_MobileNo2" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.IND_MobileNumber2, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email Address 1</label>
                                    @Html.TextBoxFor(m => m.IND_EmailAddress1, new { @class = "form-control", @tabindex = "11", @placeholder = "Enter Individual email address", @maxlength = "50", @id = "txtInd_EmailAddress1" })
                                    @Html.ValidationMessageFor(m => m.IND_EmailAddress1, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email Address 2</label>
                                    @Html.TextBoxFor(m => m.IND_EmailAddress2, new { @class = "form-control", @tabindex = "12", @placeholder = "Enter Individual alternative email address", @maxlength = "50", @id = "txtInd_EmailAddress2" })
                                    @Html.ValidationMessageFor(m => m.IND_EmailAddress2, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Biometric Details</label>
                                    @Html.TextBoxFor(m => m.IND_BiometricDetails, new { @class = "form-control", @tabindex = "13", @placeholder = "Enter Biometric Details", @id = "txtInd_BiomerticDetails" })
                                    @Html.ValidationMessageFor(m => m.IND_BiometricDetails, "", new { @class = "help-block" })

                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Office</label>
                                    @Html.DropDownListFor(m => m.IND_TaxOfficeID, (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", new { @class = "form-control select2", @id = "cboInd_TaxOffice", @tabindex = "14" })
                                    @Html.ValidationMessageFor(m => m.IND_TaxOfficeID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Marital Status</label>
                                    @Html.DropDownListFor(m => m.IND_MaritalStatusID, (SelectList)ViewBag.MaritalStatusList, "Select Marital Status", new { @class = "form-control select2", @id = "cboInd_MaritalStatus", @tabindex = "15" })
                                    @Html.ValidationMessageFor(m => m.IND_MaritalStatusID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Nationality</label>
                                    @Html.DropDownListFor(m => m.IND_NationalityID, (SelectList)ViewBag.NationalityList, "Select Nationality", new { @class = "form-control select2", @id = "cboInd_Nationality", @tabindex = "16" })
                                    @Html.ValidationMessageFor(m => m.IND_NationalityID, "", new { @class = "help-block" })
                                </div>

                                <div class="form-group">
                                    <label class="control-label required-star">Economic Activity</label>
                                    @Html.DropDownListFor(m => m.IND_EconomicActivitiesID, (SelectList)ViewBag.EconomicActivitiesList, "Select Economic Activities", new { @class = "form-control select2", @id = "cboInd_EconomicActivities", @tabindex = "17" })
                                    @Html.ValidationMessageFor(m => m.IND_EconomicActivitiesID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Preferred Notification</label>
                                    @Html.DropDownListFor(m => m.IND_NotificationMethodID, (SelectList)ViewBag.NotificationMethodList, "Select Notification Method", new { @class = "form-control select2", @id = "cboInd_NotificationMethod", @tabindex = "18" })
                                    @Html.ValidationMessageFor(m => m.IND_NotificationMethodID, "", new { @class = "help-block" })
                                </div>
                            </fieldset>
                            <fieldset id="fsGovernment" class="horizontal-form hide">
                                <div class="form-group">
                                    <label class="control-label required-star">Government Name</label>
                                    @Html.TextBoxFor(m => m.GOV_GovernmentName, "", new { @class = "form-control", @tabindex = "2", @placeholder = "Enter Government Name", @maxlength = "150", @id = "txtGov_GovernmentName" })
                                    @Html.ValidationMessageFor(m => m.GOV_GovernmentName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Government Type</label>
                                    @Html.DropDownListFor(m => m.GOV_GovernmentTypeID, (SelectList)ViewBag.GovernmentTypeList, "Select Government Type", new { @class = "form-control select2", @id = "cboGov_GovernmentType", @tabindex = "2" })
                                    @Html.ValidationMessageFor(m => m.GOV_GovernmentTypeID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Office</label>
                                    @Html.DropDownListFor(m => m.GOV_TaxOfficeID, (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", new { @class = "form-control select2", @id = "cboGov_TaxOffice", @tabindex = "3" })
                                    @Html.ValidationMessageFor(m => m.GOV_TaxOfficeID, "", new { @class = "help-block" })
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Contact Name</label>
                                    @Html.TextBoxFor(m => m.GOV_ContactName, new { @class = "form-control", @tabindex = "5", @placeholder = "Enter Contact Name", @maxlength = "50", @id = "txtGov_ContactName" })
                                    @Html.ValidationMessageFor(m => m.GOV_ContactName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contact Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                        @Html.TextBoxFor(m => m.GOV_ContactNumber, new { @class = "form-control", @tabindex = "6", @placeholder = "Enter Contact Number", @maxlength = "50", @id = "txtGov_ContactNumber" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.GOV_ContactNumber, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contact Email</label>
                                    @Html.TextBoxFor(m => m.GOV_ContactEmail, new { @class = "form-control", @tabindex = "7", @placeholder = "Enter Contact Email", @maxlength = "50", @id = "txtGov_ContactEmail" })
                                    @Html.ValidationMessageFor(m => m.GOV_ContactEmail, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Preferred Notification</label>
                                    @Html.DropDownListFor(m => m.GOV_NotificationMethodID, (SelectList)ViewBag.NotificationMethodList, "Select Notification Method", new { @class = "form-control select2", @id = "cboGov_NotificationMethod", @tabindex = "8" })
                                    @Html.ValidationMessageFor(m => m.GOV_NotificationMethodID, "", new { @class = "help-block" })
                                </div>
                            </fieldset>
                            <fieldset id="fsSpecial" class="horizontal-form hide">
                                <div class="form-group">
                                    <label class="control-label required-star">Special Tax Payer Name</label>
                                    @Html.TextBoxFor(m => m.SP_SpecialName, new { @class = "form-control", @tabindex = "2", @placeholder = "Enter Special Name", @maxlength = "150", @id = "txtSpc_SpecialName" })
                                    @Html.ValidationMessageFor(m => m.SP_SpecialName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Office</label>
                                    @Html.DropDownListFor(m => m.SP_TaxOfficeID, (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", new { @class = "form-control select2", @id = "cboSpc_TaxOffice", @tabindex = "3" })
                                    @Html.ValidationMessageFor(m => m.SP_TaxOfficeID, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contact Name</label>
                                    @Html.TextBoxFor(m => m.SP_ContactName, new { @class = "form-control", @tabindex = "5", @placeholder = "Enter Contact Name", @maxlength = "50", @id = "txtSpc_ContactName" })
                                    @Html.ValidationMessageFor(m => m.SP_ContactName, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contact Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                        @Html.TextBoxFor(m => m.SP_ContactNumber, new { @class = "form-control", @tabindex = "6", @placeholder = "Enter Contact Number", @maxlength = "50", @id = "txtSpc_ContactNumber" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SP_ContactNumber, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contact Email</label>
                                    @Html.TextBoxFor(m => m.SP_ContactEmail, new { @class = "form-control", @tabindex = "7", @placeholder = "Enter Contact Email", @maxlength = "50", @id = "txtSpc_ContactEmail" })
                                    @Html.ValidationMessageFor(m => m.SP_ContactEmail, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Description</label>
                                    @Html.TextAreaFor(m => m.SP_Description, new { @class = "form-control", @tabindex = "8", @placeholder = "Enter Description", @id = "txtSpc_Description", @Rows = "5" })
                                    @Html.ValidationMessageFor(m => m.SP_Description, "", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label required-star">Preferred Notification</label>
                                    @Html.DropDownListFor(m => m.SP_NotificationMethodID, (SelectList)ViewBag.NotificationMethodList, "Select Notification Method", new { @class = "form-control select2", @id = "cboSpc_NotificationMethod", @tabindex = "9" })
                                    @Html.ValidationMessageFor(m => m.SP_NotificationMethodID, "", new { @class = "help-block" })
                                </div>

                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="redheader">Business Information</h4>
                            <div class="form-group">
                                <label class="control-label required-star">Tax Payer Role</label>
                                @Html.DropDownListFor(m => m.TaxPayerRoleID, (SelectList)ViewBag.TaxPayerRoleList, "Select Tax Payer Role", new { @class = "form-control select2", @id = "cboTaxPayerRole", @tabindex = "31" })
                                @Html.ValidationMessageFor(m => m.TaxPayerRoleID, "", new { @class = "help-block" })
                            </div>

                            <div class="form-group">
                                <label class="control-label required-star">Business Name</label>
                                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @tabindex = "32", @placeholder = "Enter Business Name", @maxlength = "150", @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Asset Type</label>
                                @Html.DropDownListFor(m => m.AssetTypeID, (SelectList)ViewBag.AssetTypeList, "Select Asset Type", new { @class = "form-control select2", @id = "cboAssetType", @tabindex = "33", @disabled = "true" })
                                @Html.ValidationMessageFor(m => m.AssetTypeID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business Type</label>
                                @Html.DropDownListFor(m => m.BusinessTypeID, (SelectList)ViewBag.BusinessTypeList, "Select Business Type", new { @class = "form-control select2", @id = "cboBusinessType", @tabindex = "34" })
                                @Html.ValidationMessageFor(m => m.BusinessTypeID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business LGA</label>
                                @Html.DropDownListFor(m => m.LGAID, (SelectList)ViewBag.LGAList, "Select Business LGA", new { @class = "form-control select2", @id = "cboLGA", @tabindex = "35" })
                                @Html.ValidationMessageFor(m => m.LGAID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business Category</label>
                                @Html.DropDownListFor(m => m.BusinessCategoryID, (SelectList)ViewBag.BusinessCategoryList, "Select Business Category", new { @class = "form-control select2", @id = "cboBusinessCategory", @tabindex = "36" })
                                @Html.ValidationMessageFor(m => m.BusinessCategoryID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business Sector</label>
                                @Html.DropDownListFor(m => m.BusinessSectorID, (SelectList)ViewBag.BusinessSectorList, "Select Business Sector", new { @class = "form-control select2", @id = "cboBusinessSector", @tabindex = "37" })
                                @Html.ValidationMessageFor(m => m.BusinessSectorID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business Sub Sector</label>
                                @Html.DropDownListFor(m => m.BusinessSubSectorID, (SelectList)ViewBag.BusinessSubSectorList, "Select Business Sub Sector", new { @class = "form-control select2", @id = "cboBusinessSubSector", @tabindex = "38" })
                                @Html.ValidationMessageFor(m => m.BusinessSubSectorID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business Structure</label>
                                @Html.DropDownListFor(m => m.BusinessStructureID, (SelectList)ViewBag.BusinessStructureList, "Select Business Structure", new { @class = "form-control select2", @id = "cboBusinessStructure", @tabindex = "39" })
                                @Html.ValidationMessageFor(m => m.BusinessStructureID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Business Operations</label>
                                @Html.DropDownListFor(m => m.BusinessOperationID, (SelectList)ViewBag.BusinessOperationList, "Select Business Operation", new { @class = "form-control select2", @id = "cboBusinessOperation", @tabindex = "40" })
                                @Html.ValidationMessageFor(m => m.BusinessOperationID, "", new { @class = "help-block" })
                            </div>
                            <div class="form-group">
                                <label class="control-label required-star">Premises Size</label>
                                @Html.DropDownListFor(m => m.SizeID, (SelectList)ViewBag.BusinessSizeList, "Select Premises Size", new { @class = "form-control select2", @id = "cboSize", @tabindex = "41" })
                                @Html.ValidationMessageFor(m => m.SizeID, "", new { @class = "help-block" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-footer">
                    <div class="text-right">
                        <button class="btn btn-theme" type="submit">
                            Claim Business
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section footer {
    <script type="text/javascript" src="~/Scripts/jsUpdateBusiness.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}