@model EIRS.Web.Models.VerifyTreasuryReceiptViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Verify Treasury Receipt";
}


<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Verify Treasury Receipt
            </h1>
            <hr>
            <p>
                This section helps in verify treasury receipt
            </p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("VerifyTreasuryReceipt", "CBS", FormMethod.Post, htmlAttributes: new { @id = "frmVerifyDocument" }))
                {
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                Verify Treasury Receipt
                            </div>
                            <div class="actions">

                            </div>
                        </div>
                        <div class="portlet-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }

                            @if (ViewBag.TRValid == true)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span>The bill number and receipt number you submitted are valid.</span>
                                        <ul>
                                            <li>This is a true Treasury Receipt</li>
                                            <li>To View Treasury Receipt <a href="@ViewBag.TRDocumentUrl" target="_blank">Click Here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.TRValid == false)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span>The bill number and receipt number enter are invalid. Possible causes for this failure are:</span>
                                        <ul>
                                            <li>The recipt number is not a valid receipt number</li>
                                            <li>The bill number is not a valid bill number</li>
                                        </ul>
                                    </div>
                                </div>
                            }


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BillNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.BillNumber, htmlAttributes: new { @tabindex = "1", @class = "form-control", @placeholder = "Enter Bill Number" })
                                    @Html.ValidationMessageFor(model => model.BillNumber, "", htmlAttributes: new { @class = "help-block" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReceiptNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.ReceiptNumber, htmlAttributes: new { @tabindex = "2", @class = "form-control", @placeholder = "Enter Receipt Number" })
                                    @Html.ValidationMessageFor(model => model.ReceiptNumber, "", htmlAttributes: new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="portlet-footer">
                            <div class="row">
                                <div class="text-right col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" class="btn-theme btn" value="Submit" tabindex="4" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
