@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tax Payers - Companies";
    ViewBag.MetaTitle = "Tax Payers  - Companies";
    ViewBag.MetaKeywords = "Tax Payers, Companies";
    ViewBag.MetaDescription = "Companies and legal entities who engage in business activities within the state. They can be remote or located within the state";
    ViewBag.MenuID = 2;
}
<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Welcome to Tax Payers Section
            </h1>
            <hr>
            <p>
                This section covers information relating to tax payers, different types and importance
            </p>
        </div>

        <div class="row custom-tabs">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Tax Payer
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav">
                            <li class="active">
                                <a href="@Url.Action("Companies","Default")"><i class="fa fa-angle-right"></i> Companies</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Individual","Default")"><i class="fa fa-angle-right"></i> Individuals </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Government","Default")"><i class="fa fa-angle-right"></i> Governments </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Special","Default")"><i class="fa fa-angle-right"></i> Special </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Company Tax Payers
                        </div>
                    </div>
                    <div class="portlet-body text-justify">
                        <p>
                            Companies and legal entities who engage in business activities within the state. They can be remote or located within the state
                        </p>

                        <div class="btn-custom-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("Paye","Default")"> PAYE <i class="icon-arrow-right"></i> </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("PoolsBetting","Default")"> POOLS &amp; BETTING <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("ConsumptionTax","Default")"> CONSUMPTION TAX <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("LandUseCharge","Default")"> LAND USE CHARGE <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("VehicleRegistration","Default")"> VEHICLE REGISTRATION <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("WitholdingTax","Default")"> WITHHOLDING TAX <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline" href="@Url.Action("BusinessPremises","Default")"> BUSINESS PREMISES <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline"  href="@Url.Action("CapitalGains","Default")"> CAPITAL GAINS TAX <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block btn-outline"  href="@Url.Action("WasteManagement","Default")"> WASTE MANAGEMENT <i class="icon-arrow-right"></i>  </a>
                                </div>
                            </div>

                        </div>

                        <div class="btn-custom-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block"> BUSINESS CAPTURE <i class="icon-arrow-right"></i> </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block"> BUSINESS PROFILES <i class="icon-arrow-right"></i>  </a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-theme btn-block"> TAX CLEARANCE CERTIFICATE <i class="icon-arrow-right"></i>  </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

