
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
    ViewBag.MenuID = 5;
}

<section class="banner">
    <div class="container">
        <h1 class="heading wow fadeInDown">
            Smarter, Clearer, Simpler
        </h1>
        <hr style="display: none" />
        <p class="wow fadeInUp">
            ERAS is the best way to know and manage your Edo State Government taxes and services.
        </p>
        <a href="@Url.Action("SignUp", "Default")" class="btn btn-redtheme btn-lg"> Start Here </a>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="portlet light" style="min-height: 280px">
                    <div class="portlet-title">
                        <div class="caption">Get to Know More</div>
                    </div>
                    <div class="portlet-body">
                        <div class="link-box-data">
                            <p>
                                Edo State Internal Revenue Service is here to help you understand and pay your taxes.
                            </p>
                            <ul>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Awareness", "Default")">What are taxes and available types</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Awareness", "Default")">How do I register to pay taxes</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Awareness", "Default")">How do I make payment</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Awareness", "Default")">I need to speak with someone in EIRS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portlet light" style="min-height: 280px">
                    <div class="portlet-title">
                        <div class="caption">
                            Search and Register
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="link-box-data">
                            <p>
                                Search our database and register to obtain your own Revenue Identification Number (RIN)
                            </p>
                            <ul>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Search", "SignupIndividual")">I am an Individual, Self Employed or Employed</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Search", "SignupCorporate")">I am a Company or Institution</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Search", "SignupGovernment")">I am a Government Body</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="portlet light" style="min-height: 280px">
                    <div class="portlet-title">
                        <div class="caption">Pay Taxes and Services</div>
                    </div>
                    <div class="portlet-body">
                        <div class="link-box-data">
                            <p>
                                With or without a bill, you can pay your taxes or for a government service.
                            </p>
                            <ul>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Home", "CBS")">I received a bill and want to pay</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Home", "CBS")">I don't have a bill but want to pay</a></li>
                                <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Home", "CBS")">I want to find out how much I owe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*
    <section class="bordered highlight">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("SearchBill", "Default", FormMethod.Post))
                {
                    <div class="col-sm-4 text-justify">
                        If you have received a notification of assessment or a service bill, please enter the reference number here to make payment.
                    </div>
                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" required class="form-control mt12" id="txtMobileNumber" name="txtMobileNumber" placeholder="Tax Payer Mobile Number" />
                    </div>
                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" required class="form-control mt12" id="txtReferenceNumber" name="txtReferenceNumber" placeholder="Enter 10 Digit Reference ID" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-theme btn-block mt12">Retrieve</button>
                    </div>
                }
            </div>
        </div>
    </section>
*@