@model EIRS.BOL.MST_Pages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tax Type in Edo Revenue Administration";
    ViewBag.MetaTitle = "Tax Type in Edo Revenue Administration";
    ViewBag.MetaKeywords = "Tax Type";
    ViewBag.MetaDescription = "Tax Type in Edo Revenue Administration";
    ViewBag.MenuID = 8;

    IList<EIRS.BOL.usp_GetMenuList_Result> lstMenuData = (IList<EIRS.BOL.usp_GetMenuList_Result>)ViewBag.MenuList;
}

<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Welcome to Tax Type Section
            </h1>
            <hr>
            <p>
                This section covers information relating to tax types and its importance
            </p>
        </div>

        <div class="row custom-tabs">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Tax Type
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Paye","Default")"><i class="fa fa-angle-right"></i> PAYE</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DirectAssessment","Default")"><i class="fa fa-angle-right"></i> Direct Assessment </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ConsumptionTax","Default")"><i class="fa fa-angle-right"></i> Consumption Tax </a>
                            </li>
                            <li>
                                <a href="@Url.Action("BusinessPremises","Default")"><i class="fa fa-angle-right"></i> Business Premises </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LandUseCharge","Default")"><i class="fa fa-angle-right"></i> Land Use Charge</a>
                            </li>
                            <li>
                                <a href="@Url.Action("WitholdingTax","Default")"><i class="fa fa-angle-right"></i> Withholding Tax</a>
                            </li>
                            <li>
                                <a href="@Url.Action("WasteManagement","Default")"><i class="fa fa-angle-right"></i> Waste Management </a>
                            </li>
                            <li>
                                <a href="@Url.Action("PoolsBetting","Default")"><i class="fa fa-angle-right"></i> Pools & Betting </a>
                            </li>
                            <li>
                                <a href="@Url.Action("VehicleRegistration","Default")"><i class="fa fa-angle-right"></i> Vehicle Registration </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CapitalGains","Default")"><i class="fa fa-angle-right"></i> Capital Gains </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogProduce","Default")"><i class="fa fa-angle-right"></i> Log Produce </a>
                            </li>
                            <li>
                                <a href="@Url.Action("PresumptiveTax","Default")"><i class="fa fa-angle-right"></i> Presumptive Tax </a>
                            </li>
                            <li>
                                <a href="@Url.Action("StampDuty","Default")"><i class="fa fa-angle-right"></i> Stamp Duty </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Welcome to Tax Type Section
                        </div>
                    </div>
                    <div class="portlet-body text-justify">
                        <p>

                        </p>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/PAYE.png" />
                                        </div>
                                        <a href="@Url.Action("Paye","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">PAYE</div>
                                            <div class="dvicon-text-desc">
                                                It is the taxation of income of individuals derived from employment. This income includes salaries, wages, bonuses, allowances, etc.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/DirectAssessment.png" />
                                        </div>
                                        <a href="@Url.Action("DirectAssessment","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Direct Assessment</div>
                                            <div class="dvicon-text-desc">
                                                Processes and manages direct assessment as an Income Tax, which is imposed on self-employed persons.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/ConsumptionTax.png" />
                                        </div>
                                        <a href="@Url.Action("ConsumptionTax","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Consumption Tax</div>
                                            <div class="dvicon-text-desc">
                                                Manages the hotels and restaurants consumption Law, which imposes a consumption tax on all the items, consumed or utilized.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/BusinessPremises.png" />
                                        </div>
                                        <a href="@Url.Action("BusinessPremises","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Business Premises</div>
                                            <div class="dvicon-text-desc">
                                                Business premise registration and license processing in the first year of registration and subsequent renewals.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/LandUseCharge.png" />
                                        </div>
                                        <a href="@Url.Action("LandUseCharge","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Land Use Charge</div>
                                            <div class="dvicon-text-desc">
                                                Manages the computation and notification of three different laws, which are tenement rate, property tax and ground rent group as Land Use Charge.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/WithholdingTax.png" />
                                        </div>
                                        <a href="@Url.Action("WitholdingTax","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Withholding Tax</div>
                                            <div class="dvicon-text-desc">
                                                Records all mandated withholding tax collected on behalf of the state and their subsequent submission.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/WasteManagement.png" />
                                        </div>
                                        <a href="@Url.Action("WasteManagement","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Waste Management</div>
                                            <div class="dvicon-text-desc">
                                                Households and business premises are required to pay a levy for waste disposal and management.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/PoolsBetting.png" />
                                        </div>
                                        <a href="@Url.Action("PoolsBetting","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Pools & Betting</div>
                                            <div class="dvicon-text-desc">
                                                Pool betting and lotteries tax, gaming and casino taxes applied to enterprises and companies operating out the the state.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/VehicleRegistration.png" />
                                        </div>
                                        <a href="@Url.Action("VehicleRegistration","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Vehicle Registration</div>
                                            <div class="dvicon-text-desc">
                                                Processes and manages motor license requests, reminders, notification and payments within the state.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/CapitalGains.png" />
                                        </div>
                                        <a href="@Url.Action("CapitalGains","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Capital Gains</div>
                                            <div class="dvicon-text-desc">
                                                Processes Capital Gains Tax (“CGT”) capital gains accruing to any legal person (individuals only for state) when a disposal of chargeable asset occurs
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/LogProduce.png" />
                                        </div>
                                        <a href="@Url.Action("LogProduce","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Log Produce</div>
                                            <div class="dvicon-text-desc">
                                                Mobile informal sector workers that operate within the log and produce carriage chain are liable to a paying a pre-defined presumptive tax.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/PresumptiveTax.png" />
                                        </div>
                                        <a href="@Url.Action("PresumptiveTax","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Presumptive Tax</div>
                                            <div class="dvicon-text-desc">
                                                Informal sector workers that do not have resources to keep accounting records are liable to a paying a pre-defined presumptive tax.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="portlet grey mh-130">
                                    <div class="dvicon-box clearfix">
                                        <div class="dvicon-block with-img">
                                            <img src="~/Content/Images/Icons/StampDuty.png" />
                                        </div>
                                        <a href="@Url.Action("StampDuty","Default")" class="dvicon-text">
                                            <div class="dvicon-text-header">Stamp Duty</div>
                                            <div class="dvicon-text-desc">
                                                Covers all areas of enquires that all written instruments be legalized, including where any property is transferred to any person.
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
