@model IList<EIRS.BOL.usp_GetMonthlySummaryReport_Result>
@using EIRS.Common
<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblMonthlySummaryReport">
    <thead class="red-th">
        <tr>
            <th rowspan="2">Reference</th>
            <th colspan="2">This Month</th>
            <th colspan="2">YTD</th>
        </tr>
        <tr>
            <th>Assessed</th>
            <th>Revenue</th>
            <th>Assessed</th>
            <th>Revenue</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ReferenceName</td>
                    <td>@CommUtil.GetFormatedCurrency(item.ReportMonth_AssessedAmount)</td>
                    <td>@CommUtil.GetFormatedCurrency(item.ReportMonth_RevenueAmount)</td>
                    <td>@CommUtil.GetFormatedCurrency(item.YTD_AssessedAmount)</td>
                    <td>@CommUtil.GetFormatedCurrency(item.YTD_RevenueAmount)</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>@CommUtil.GetFormatedCurrency(Model.Sum(t => t.ReportMonth_AssessedAmount))</td>
            <td>@CommUtil.GetFormatedCurrency(Model.Sum(t => t.ReportMonth_RevenueAmount))</td>
            <td>@CommUtil.GetFormatedCurrency(Model.Sum(t => t.YTD_AssessedAmount))</td>
            <td>@CommUtil.GetFormatedCurrency(Model.Sum(t => t.YTD_RevenueAmount))</td>
        </tr>
    </tfoot>
</table>
