
@{
    ViewBag.Title = "Report List";
}

<div class="title">
    <h1>
        Reports
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Reports</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblReportList">
            <thead class="red-th">
                <tr>
                    <th>Report ID</th>
                    <th>Report Name</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
            <td>RP001</td>
            <td>Revenue Stream</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("RevenueStream","Report")"> View</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>RP002</td>
            <td>Asset Type</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("AssetType","Report")"> View</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>RP003</td>
            <td>Directorate</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Directorate","Report")"> View</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>RP004</td>
            <td>Tax Payer</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("TaxPayer","Report")"> View</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>*@
                <tr>
                    <td>RP001</td>
                    <td>Daily Summary Reports</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("DailySummary","Report")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>RP002</td>
                    <td>Monthly Summary Reports</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("MonthlySummary","Report")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>RP003</td>
                    <td>TCC Details</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","TCCDetail")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>RP004</td>
                    <td>Tax Clearance Certificate</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","TaxClearanceCertificate")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                @* <tr>
            <td>RP004</td>
            <td>Daily Summary Reports</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("DailySummary","Report")"> View</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>*@
                <tr>
                    <td>RP005</td>
                    <td>ERAS Manual</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","ERASManual")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
