@model EIRS.Web.Models.TaxPayerReportViewModel
    @{
        ViewBag.Title = "Tax Payer Report";
        ViewBag.PageHeader = "Tax Payer Report";
    }

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i> Search Filters
                    </div>
                    <div class="tools">
                        <a class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Ajax.BeginForm("TaxPayer", "Report", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }))
                    {
                        @Html.ValidationSummary(true)

                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tax Year</label>
                                        @Html.DropDownListFor(m => m.TaxYear, (SelectList)ViewBag.YearList, new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Month</label>
                                        @Html.DropDownListFor(m=> m.TaxMonth, (SelectList)ViewBag.MonthList, "All Months", new { @class = "form-control bs-select", @tabindex = "2", @data_live_search = "true" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tax Payer Type</label>
                                        @Html.DropDownListFor(m=>m.TaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", new { @class = "form-control bs-select", @tabindex = "3", @data_live_search = "true", @id = "cboTaxPayerType" })
                                        @Html.ValidationMessageFor(m => m.TaxPayerTypeID, "", new { @class="help-block" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tax Payer</label>
                                        @Html.DropDownListFor(m=>m.TaxPayerID, Enumerable.Empty<SelectListItem>(), "Select Tax Payer", new { @class = "form-control bs-select", @tabindex = "4", @data_live_search = "true", @id = "cboTaxPayer" })
                                        @Html.ValidationMessageFor(m => m.TaxPayerID, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <input type="submit" value="Generate Report" tabindex="4" class="btn btn-theme" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-inner" id="dvData">

    </div>

    @section footer {
        <script type="text/javascript" src="~/Scripts/jsTaxPayerReport.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    }
