@model EIRS.Models.BuildingUnitViewModel

@{
    ViewBag.Title = "Add Building Unit";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-building"></i>
                Building Unit
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddBuildingUnit">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add Building Unit</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Add", "BuildingUnit", FormMethod.Post, htmlAttributes: new { @class = "smart-form" }))
                            {
                                <header>
                                    Building Unit Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset>
                                    <section> 
                                        @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.UnitNumber, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter Unit Number" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter unit number.
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.UnitNumber, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.UnitPurposeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.UnitPurposeID, (SelectList)ViewBag.UnitPurposeList, "Select Unit Purpose", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%", @id = "cboUnitPurpose" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.UnitPurposeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.UnitFunctionID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.UnitFunctionID, (SelectList)ViewBag.UnitFunctionList, "Select Unit Function", htmlAttributes: new { @tabindex = "3", @class = "select2", @width = "100%", @id = "cboUnitFunction" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.UnitFunctionID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.UnitOccupancyID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.UnitOccupancyID, (SelectList)ViewBag.UnitOccupancyList, "Select Unit Occupancy", htmlAttributes: new { @tabindex = "4", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.UnitOccupancyID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.SizeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.SizeID, (SelectList)ViewBag.SizeList, "Select Unit Size", htmlAttributes: new { @tabindex = "5", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.SizeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                    <a href="@Url.Action("List","BuildingUnit")" class="btn btn-default" >
                                        Back
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script Unit="text/javascript" src="~/Scripts/jsBuildingUnitDetails.js"></script>
}