@model IList<Request_IncomeStream>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Income Stream Details";

    usp_GetIndividualList_Result mObjIndividualData = (usp_GetIndividualList_Result)ViewBag.IndividualData;
}

<section class="alternate">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Request Personal TCC
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav">
                            <li>
                                <a><i class="fa fa-angle-right"></i> Search</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> OTP</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> Tax Payer</a>
                            </li>
                            <li class="active">
                                <a><i class="fa fa-angle-right"></i> My Income Streams</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> Processing Fees</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Tax Payer Summary
                        </div>
                    </div>
                    <div class="row view-form">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer Type: </label>
                                <div class="form-control-static">
                                    Individual
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer TIN: </label>
                                <div class="form-control-static">
                                    @mObjIndividualData.TIN
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Mobile Number: </label>
                                <div class="form-control-static">
                                    @mObjIndividualData.MobileNumber1
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer Name: </label>
                                <div class="form-control-static">
                                    @mObjIndividualData.FirstName @mObjIndividualData.LastName
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer EIN: </label>
                                <div class="form-control-static">
                                    @mObjIndividualData.IndividualRIN
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Contact  Address: </label>
                                <div class="form-control-static">
                                    @mObjIndividualData.ContactAddress
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Step 4: My Income Streams
                        </div>
                        <div class="pull-right actions">
                            <a href="@Url.Action("AddNewIncomeStream", "RequestPersonalTCC")" class="btn btn-redtheme">New Income Streams</a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Message
                            </div>
                        }

                        <div class="form-body" id="dvIncomeStreamData">
                            @{ Html.RenderPartial("_BindIncomeStreamTable", Model); }
                        </div>
                        
                    </div>
                    <div class="portlet-footer text-right">
                        <a href="@Url.Action("UpdateDetail", "RequestPersonalTCC")" class="btn btn-theme btn-outline">
                            Previous
                        </a>
                        @using (Html.BeginForm("SaveIncomeStream", "RequestPersonalTCC", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-theme">Next</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsRPTCC_IncomeStreamList.js"></script>
}
