@model IList<EIRS.BOL.usp_GetVehicleInsuranceList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.VehicleRIN</td>
            <td>@item.InsuranceCertificateNumber</td>
            <td>@CommUtil.GetFormatedDate(item.StartDate)</td>
            <td>@CommUtil.GetFormatedDate(item.ExpiryDate)</td>
            <td>@item.CoverTypeName</td>
            <td>@item.InsuranceStatusName</td>
            <td>@item.PremiumAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.VerificationAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.BrokerAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","VehicleInsurance", new { id = item.VehicleInsuranceID, name=item.InsuranceCertificateNumber.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "VehicleInsurance", new { id = item.VehicleInsuranceID, name=item.InsuranceCertificateNumber.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.VehicleInsuranceID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
