@model EIRS.Models.VehicleInsuranceViewModel
@using EIRS.Common
@{
    ViewBag.Title = "Vehicle Insurance Details";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-taxi"></i>
                Vehicle Insurance
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvVehicleInsuranceDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Vehicle Insurance</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Vehicle Insurance Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Vehicle</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.VehicleRIN
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Insurance Certificate Number</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.InsuranceCertificateNumber
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Start Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.StartDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Expiry Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.ExpiryDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Cover Type</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.CoverTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Insurance Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.InsuranceStatusName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Premium Amount</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.PremiumAmount.ToString("N2")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Verification Amount</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.VerificationAmount.ToString("N2")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Broker Amount</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.BrokerAmount.ToString("N2")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List","VehicleInsurance")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
