@model EIRS.Models.VehicleViewModel
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Vehicle - Search Individuals";
}

@Html.Hidden("hdnVehicleID", Model.VehicleID)
<div class="title">
    <h1>
        Vehicle Asset : Search Individuals
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Vehicle Asset Information
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_VehicleInformation(@Model.VehicleID)">View Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","ProfileVehicle", new { id=Model.VehicleID, name =Model.VehicleRIN.ToSeoUrl() })">Edit Detail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Asset Type: </label>
                <div class="form-control-static">
                    @Model.AssetTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Asset RIN: </label>
                <div class="form-control-static">
                    @Model.VehicleRIN
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Asset Name: </label>
                <div class="form-control-static">
                    @Model.VehicleRegNumber
                </div>
            </div>

            <div class="form-group">
                <label class="control-label bold">Asset LGA: </label>
                <div class="form-control-static">
                    @Model.LGAName
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Tax Payer - Individual
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-7">
                @using (Ajax.BeginForm("SearchIndividual", "ProfileVehicle", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchIndividual" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">Individual Name</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtName", "", new { @class = "form-control", @placeholder = "Enter Individual Name", @tabindex = "1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mobile</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtMobileNumber", "", new { @class = "form-control", @placeholder = "Enter Mobile Number", @tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">RIN</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch"> Search </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-5">
                <p>
                    Enter name of Individual and click on search below. The five most matches results will be returned where available. Select the one that best matches your individual name and click on proceed.
                </p>

                <p>
                    You will be able to claim one Vehicle at a time and to view details of each individual, click on the view link.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Individual List</div>
        <div class="actions">
            <div class="btn-group">
                <a href="@Url.Action("AddIndividual","ProfileVehicle",new { id=Model.VehicleID, name =Model.VehicleRIN.ToSeoUrl() })" class="btn btn-redtheme"> Add New Individual</a>
            </div>
        </div>
    </div>
    <div class="portlet-body" id="dvData">

    </div>
</div>

@{ Html.RenderPartial("_IndividualDetailPopup");
    Html.RenderPartial("_VehicleDetailPopup");
    Html.RenderPartial("_BindLinkAssetPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsVehicle_SearchIndividual.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}