@model IList<EIRS.BOL.usp_DC_GetProfileWithoutRule_Result>

@{
    ViewBag.Title = "Profile Without Assessment Rules";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Profile Without Assessment Rules
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-green" data- id="dvPWARList">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Profile Without Assessment Rules</h2>
                        <div class="widget-toolbar">
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="tbProfile" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Reference No" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Asset Type" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Sector" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Sub Sector" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Group" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Sub Group" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Sector Element" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Sector Sub Element" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Attribute" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Sub Attribute" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Payer Type" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Tax Payer Role" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Profile Description" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filter Status" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">Profile Reference No</th>
                                        <th>Asset Type</th>
                                        <th>Profile Sector</th>
                                        <th>Profile Sub Sector</th>
                                        <th>Profile Group</th>
                                        <th>Profile Sub Group</th>
                                        <th>Sector Element</th>
                                        <th>Sector Sub Element</th>
                                        <th>Profile Attribute</th>
                                        <th>Profile Sub Attribute</th>
                                        <th>Tax Payer Type</th>
                                        <th>Tax Payer Role</th>
                                        <th>Profile Description</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ProfileReferenceNo</td>
                                                <td>@item.AssetTypeName</td>
                                                <td>@item.ProfileSectorNames</td>
                                                <td>@item.ProfileSubSectorNames</td>
                                                <td>@item.ProfileGroupNames</td>
                                                <td>@item.ProfileSubGroupNames</td>
                                                <td>@item.ProfileSectorElementNames</td>
                                                <td>@item.ProfileSectorSubElementNames</td>
                                                <td>@item.ProfileAttributeNames</td>
                                                <td>@item.ProfileSubAttributeNames</td>
                                                <td>@item.TaxPayerTypeNames</td>
                                                <td>@item.TaxPayerRoleNames</td>
                                                <td>@item.ProfileDescription</td>
                                                <td>@item.ActiveText</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsProfileList.js"></script>
}

