@model EIRS.Admin.Models.Zone

@{
    ViewBag.Title = "Edit Zone";
   
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Zonee
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artAssessmentRule">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditAssessmentRule">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Edit Zone</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Edit", "Zone", FormMethod.Post, htmlAttributes: new { @id = "frmMainAssessment", @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.ZoneId, htmlAttributes: new { @value = Model.ZoneId, @id = "hdnAssessmentRuleID" })
                                @Html.HiddenFor(model => model.ZoneCode, htmlAttributes: new { @value = Model.ZoneCode, @id = "hdnAssessmentCodeID" })
                                @*@Html.HiddenFor(model => model.AssessmentRuleCode, htmlAttributes: new { @value = Model.AssessmentRuleCode })
                                    @Html.Hidden("hdnAssessmentItemIds", "")*@
                                <header id="hdStep1">
                                    Zone Details
                                </header>
                                <header id="hdStep2">
                                    Record Links
                                </header>

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset id="fsStep1">
                                    <section>
                                        @Html.LabelFor(model => model.ZoneName, htmlAttributes: new { @class = "label" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.ZoneName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter zone name" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Auto numbering by system
                                            </b>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.LabelFor(model => model.LgaId, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.LgaId, (SelectList)ViewBag.LGAList, "Select Local Government Area", htmlAttributes: new { @tabindex = "1", @id = "cblLGA", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.LgaId, "", htmlAttributes: new { @class = "help-block" })
                                    </section>

                                    @*<section>
                                            @Html.LabelFor(model => model.TaxOfficeId, htmlAttributes: new { @class = "label required" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.TaxOfficeId, (SelectList)ViewBag.taxoffice, htmlAttributes: new { @placeholder = "Select Tax Offices", @id = "cboSettlementMethod", @tabindex = "5", @class = "select2", @width = "100%", @multiple = "multiple", @data_initvalue = (Model != null && Model.TaxOfficeId != null ? string.Join(",", Model.TaxOfficeId) : "") })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.TaxOfficeId, "", htmlAttributes: new { @class = "help-block" })
                                        </section>*@

                                </fieldset>

                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btnSave">
                                        Submit
                                    </button>
                                    @*<a id="btnNext" class="btn btn-primary">Next</a>
                                        <a id="btnBack" class="btn btn-default">
                                            Back
                                        </a>*@
                                    <a id="btnMainBack" href="@Url.Action("Index","Zone")" class="btn btn-default">
                                        Cancel
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@*@{ Html.RenderPartial("_ProfileDetailPopup"); Html.RenderPartial("_AssessmentItemDetailPopup"); }*@

@*@section Footer {
        <script type="text/javascript" src="~/Scripts/jsAssessmentRuleDetails.js"></script>
    }*@