@model EIRS.Models.SpecialViewModel

@{
    ViewBag.Title = "Edit Special Tax Payer";
}

<div class="title">
    <h1>
        Special Tax Payer
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Update Special
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "CaptureSpecial", FormMethod.Post, htmlAttributes: new { @id = "frmAddSpecial" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.SpecialID, htmlAttributes: new { @value = Model.SpecialID })
            @Html.HiddenFor(model => model.SpecialRIN, htmlAttributes: new { @value = Model.SpecialRIN })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            Html.RenderPartial("_BindSpecialForm", Model);

            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" value="Save" tabindex="20" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
