@model EIRS.Models.IndividualViewModel

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.TaxPayerTypeID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.TaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", htmlAttributes: new { @tabindex = "2", @class = "form-control bs-select", @id = "cboTaxPayerTypeID", @disabled = "true" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.GenderID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.GenderID, (SelectList)ViewBag.GenderList, "Select Gender", htmlAttributes: new { @tabindex = "3", @id = "cboGender", @class = "form-control bs-select",  @disabled = "true" })
            @Html.ValidationMessageFor(model => model.GenderID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.TitleID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.TitleID, (SelectList)ViewBag.TitleList, "Select Title", htmlAttributes: new { @tabindex = "4", @id = "cboTitle", @class = "form-control bs-select", @disabled = "true"  })
            @Html.ValidationMessageFor(model => model.TitleID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", @tabindex = "5", @placeholder = "Enter Individual's first name",  @disabled = "true" })
            @Html.ValidationMessageFor(model => model.FirstName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", @tabindex = "6", @placeholder = "Enter Individual's last name", @disabled = "true"  })
            @Html.ValidationMessageFor(model => model.LastName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.MiddleName, htmlAttributes: new { @class = "form-control", @tabindex = "7", @placeholder = "Enter Individual's middle name", @disabled = "true"  })
            @Html.ValidationMessageFor(model => model.MiddleName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.PresentTaxOfficeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.PresentTaxOfficeID, (SelectList)ViewBag.UserTaxOffice, "Select Tax Office", htmlAttributes: new { @tabindex = "15", @id = "cboTaxOffice", @class = "form-control bs-select", @width = "100%", @disabled = "true" })
            @Html.ValidationMessageFor(model => model.PresentTaxOfficeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.NewTaxOfficeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.NewTaxOfficeID, (SelectList)ViewBag.LoginTaxOffice, "Select Tax Office", htmlAttributes: new { @tabindex = "15", @id = "cboTaxOffice", @class = "form-control bs-select", @width = "100%" })
            @Html.ValidationMessageFor(model => model.NewTaxOfficeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>



