
@model IList<PayeApiResponse>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblIncomeStream">
    <thead class="red-th">
        <tr>
            <th> Tax Year </th>
            <th data-hide="phone,tablet"> Business Name </th>
            <th data-hide="phone,tablet"> Income Amount </th>
            <th data-hide="phone,tablet"> Assessed Amount  </th>
            <th data-hide="phone,tablet"> Tax Paid</th>
            <th data-hide="phone,tablet"> Balance</th>
            <th data-hide="phone,tablet"> Reciept Detail</th>
            <th data-hide="phone,tablet"> Action</th>

           
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.AssessmentYear</td>
                    <td>@item.EmployerName</td>
                    <td>@CommUtil.GetFormatedCurrency(Convert.ToDecimal(@item.ChargeableIncome))</td>
                    <td>@CommUtil.GetFormatedCurrency(Convert.ToDecimal(@item.AnnualTax))</td>
                    <td>@CommUtil.GetFormatedCurrency(Convert.ToDecimal(@item.AnnualTaxII))</td>
                    <td>@CommUtil.GetFormatedCurrency(Convert.ToDecimal(@item.AnnualTax - @item.AnnualTaxII))</td>
                    <td>@item.ReceiptDetail</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a onclick="javascript:jsfn_EditPAYEIncomeStream(@item.RowID)">Edit</a>
                                </li>
                                <li>
                                    <a onclick="jsfn_DeletePayeIncomeStream(@item.RowID)">Remove</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
            <td>@CommUtil.GetFormatedCurrency(Convert.ToDecimal(Model.Sum(t => t.AnnualGross)))</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>