@model IList<ServiceBill_MDAServiceItem>
@using EIRS.Common

@if (ViewBag.Mode != null && ViewBag.Mode == "View")
{
    <table class="dt-responsive table table-bordered v-middle" width="100%">
        <thead class="thead-theme">
            <tr>
                <th>Item Name</th>
                <th>Item Ref</th>
                <th>Computation</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var aitem in Model)
                {
                    <tr>
                        <td>@aitem.MDAServiceItemName</td>
                        <td>@aitem.MDAServiceItemReferenceNo</td>
                        <td>@aitem.ComputationName</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Item Found</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (ViewBag.Mode != null && ViewBag.Mode == "Edit")
{
    <table class="dt-responsive table table-bordered v-middle" width="100%">
        <thead class="thead-theme">
            <tr>
                <th>Item Name</th>
                <th>Service Base Amount</th>
                <th>Service Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MDAServiceItemName</td>
                        <td>
                            @if (item.ComputationID == 2 || item.ComputationID == 3)
                            {
                                <input type="text" class="form-control cbaseamount" data-tbachanged="0" data-rowid="@item.RowID" data-computationid="@item.ComputationID" data-percent="@item.Percentage" value="@item.ServiceBaseAmount" />
                            }
                            else
                            {
                                @CommUtil.GetFormatedCurrency(item.ServiceBaseAmount)
                            }
                        </td>
                        <td id="td_@item.RowID">@CommUtil.GetFormatedCurrency(item.ServiceAmount)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Item Found</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (ViewBag.Mode != null && ViewBag.Mode == "EditForSettlement")
{
    <table class="dt-responsive table table-bordered v-middle">
        <thead class="thead-theme">
            <tr>
                <th>Item Ref</th>
                <th>Item Name</th>
                <th>Outstanding</th>
                <th>Amount to Pay</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MDAServiceItemReferenceNo</td>
                        <td>@item.MDAServiceItemName</td>
                        <td>@item.UnSettledAmount</td>
                        <td>
                            <input type="text" class="form-control tosettleamount" data-tbachanged="0" data-pendingamount="@item.UnSettledAmount" data-rowid="@item.RowID" value="@item.ToSettleAmount" />
                            <span class="help-block" id="spn_@item.RowID"></span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" align="center">No Item Found</td>
                </tr>
            }
        </tbody>
    </table>
}


