@model IList<usp_GetAssessmentRuleItemList_Result>
@using EIRS.Common

@if (ViewBag.Mode != null && ViewBag.Mode == "View")
{
    <table class="table table-bordered table-striped ">
        <thead class="thead-theme">
            <tr>
                <th>Item Ref</th>
                <th>Item Name</th>
                <th>Computation</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AssessmentItemReferenceNo</td>
                        <td>@item.AssessmentItemName</td>
                        <td>@item.ComputationName</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Item Found</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (ViewBag.Mode != null && ViewBag.Mode == "Edit")
{
    <table class="table table-bordered table-striped ">
        <thead class="thead-theme">
            <tr>
                <th>Item Name</th>
                <th>Tax Base Amount</th>
                <th>Tax Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AssessmentItemName</td>
                        <td>
                            @if (item.ComputationName == "Variable" || item.ComputationName == "Hybrid")
                            {
                                <input type="text" class="form-control cbaseamount" data-tbachanged="0" data-rowid="@item.AAIID" data-computationid="3" data-percent="2" value="@item.TotalAmount" />
                            }
                            else
                            {
                                @CommUtil.GetFormatedCurrency(item.TotalAmount)
                            }
                        </td>
                        <td id="td_@item.AARID">@CommUtil.GetFormatedCurrency(item.TaxAmount)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Item Found</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (ViewBag.Mode != null && ViewBag.Mode == "EditForSettlement")
{
    <table class="table table-bordered table-striped ">
        <thead class="thead-theme">
            <tr>
                <th>Item Ref</th>
                <th>Item Name</th>
                <th>Outstanding</th>
                <th>Amount to Pay</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    decimal kk = Convert.ToDecimal(item.TotalAmount) - Convert.ToDecimal(item.SettlementAmount);
                    <tr>

                        <td>@item.AssessmentItemReferenceNo</td>
                        <td>@item.AssessmentItemName</td>
                        <td>@kk</td>
                        <td>
                            <input type="text" class="form-control tosettleamount" data-tbachanged="0" data-pendingamount="@item.TotalAmount - @item.SettlementAmount" data-rowid="@item.AAIID" data-assref="@item.AssessmentItemID" value="@item.PendingAmount" />
                            <span class="help-block" id="spn_@item.AARID"></span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" align="center">No Item Found</td>
                </tr>
            }
        </tbody>
    </table>
}
