@model EIRS.Models.VehicleViewModel

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleRegNumber, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.VehicleRegNumber, htmlAttributes: new { @tabindex = "2", @placeholder = "Enter Vehicle Reg Number", @class="form-control" })
            @Html.ValidationMessageFor(model => model.VehicleRegNumber, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VIN, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.VIN, htmlAttributes: new { @maxlength ="17", @tabindex = "3", @placeholder = "Enter vehicle VIN", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VIN, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleDescription, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.VehicleDescription, htmlAttributes: new { @tabindex = "4", @Rows = "3", @placeholder = "Enter Vehicle Description", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VehicleDescription, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.AssetTypeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.AssetTypeID, (SelectList)ViewBag.AssetTypeList, "Select Asset Type", htmlAttributes: new { @tabindex = "5", @class = "form-control bs-select", @disabled = "true" })
            @Html.ValidationMessageFor(model => model.AssetTypeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleTypeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.VehicleTypeID, (SelectList)ViewBag.VehicleTypeList, "Select Vehicle Type", htmlAttributes: new { @tabindex = "6", @class = "form-control bs-select", @id = "cboVehicleType" })
            @Html.ValidationMessageFor(model => model.VehicleTypeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleSubTypeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.VehicleSubTypeID, (SelectList)ViewBag.VehicleSubTypeList, "Select Vehicle Sub Type", htmlAttributes: new { @tabindex = "7", @id = "cboVehicleSubType", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.VehicleTypeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LGAID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LGAID, (SelectList)ViewBag.LGAList, "Select Registration LGA", htmlAttributes: new { @tabindex = "8", @id = "cboLGA", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.LGAID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehiclePurposeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.VehiclePurposeID, (SelectList)ViewBag.VehiclePurposeList, "Select Vehicle Purpose", htmlAttributes: new { @tabindex = "9", @class = "form-control bs-select", @id = "cboVehiclePurpose" })
            @Html.ValidationMessageFor(model => model.VehiclePurposeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleFunctionID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.VehicleFunctionID, (SelectList)ViewBag.VehicleFunctionList, "Select Vehicle Function", htmlAttributes: new { @tabindex = "10", @class = "form-control bs-select", @id = "cboVehicleFunction" })
            @Html.ValidationMessageFor(model => model.VehicleFunctionID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleOwnershipID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.VehicleOwnershipID, (SelectList)ViewBag.VehicleOwnershipList, "Select Vehicle Ownership", htmlAttributes: new { @tabindex = "11", @class = "form-control bs-select" })
        </div>
    </div>
</div>
