@model EIRS.Models.LandViewModel


<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.PlotNumber, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.PlotNumber, htmlAttributes: new { @tabindex = "2", @placeholder = "Enter Plot Number", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PlotNumber, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.StreetName, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.StreetName, htmlAttributes: new { @tabindex = "3", @placeholder = "Enter Street Name", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StreetName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.TownID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.TownID, (SelectList)ViewBag.TownList, "Select Town", htmlAttributes: new { @tabindex = "4", @id = "cboTown", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.TownID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LGAID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LGAID, (SelectList)ViewBag.LGAList, "Select Local Government Area", htmlAttributes: new { @tabindex = "5", @id = "cboLGA", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.LGAID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.WardID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.WardID, (SelectList)ViewBag.WardList, "Select Ward", htmlAttributes: new { @tabindex = "6", @id = "cboWard", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.WardID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.AssetTypeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.AssetTypeID, (SelectList)ViewBag.AssetTypeList, "Select Asset Type", htmlAttributes: new { @tabindex = "7", @class = "form-control bs-select", @disabled = "true" })
            @Html.ValidationMessageFor(model => model.AssetTypeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandSize_Length, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.LandSize_Length, htmlAttributes: new { @tabindex = "8", @placeholder = "Enter Land Size – Length (Sqm)", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LandSize_Length, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandSize_Width, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.LandSize_Width, htmlAttributes: new { @tabindex = "9", @placeholder = "Enter Land Size – Width (Sqm)", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LandSize_Width, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.C_OF_O_Ref, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.C_OF_O_Ref, htmlAttributes: new { @tabindex = "10", @placeholder = "Enter C_OF_O_Ref", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.C_OF_O_Ref, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandPurposeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LandPurposeID, (SelectList)ViewBag.LandPurposeList, "Select Land Purpose", htmlAttributes: new { @tabindex = "11", @class = "form-control bs-select", @id = "cboLandPurpose" })
            @Html.ValidationMessageFor(model => model.LandPurposeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandFunctionID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LandFunctionID, (SelectList)ViewBag.LandFunctionList, "Select Land Function", htmlAttributes: new { @tabindex = "12", @class = "form-control bs-select", @id = "cboLandFunction" })
            @Html.ValidationMessageFor(model => model.LandFunctionID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandOwnershipID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.LandOwnershipID, (SelectList)ViewBag.LandOwnershipList, "Select Land Ownership", htmlAttributes: new { @tabindex = "13", @class = "form-control bs-select" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandDevelopmentID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LandDevelopmentID, (SelectList)ViewBag.LandDevelopmentList, "Select Land Development", htmlAttributes: new { @tabindex = "14", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.LandDevelopmentID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Latitude, htmlAttributes: new { @tabindex = "15", @placeholder = "Enter Latitude", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Latitude, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Longitude, htmlAttributes: new { @tabindex = "16", @placeholder = "Enter Longitude", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Longitude, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LandStreetConditionID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LandStreetConditionID, (SelectList)ViewBag.LandStreetConditionList, "Select Street Condition", htmlAttributes: new { @tabindex = "17", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.LandStreetConditionID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.ValueOfLand, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ValueOfLand, htmlAttributes: new { @tabindex = "18", @placeholder = "Enter Value of Land", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ValueOfLand, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Neighborhood, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.Neighborhood, htmlAttributes: new { @tabindex = "19", @placeholder = "Enter Neighborhood", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Neighborhood, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>
