@model IList<Building_BuildingUnit>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBuildingUnitList">
    <thead class="red-th">
        <tr>
            <th>Unit Number</th>
            <th>Unit Purpose</th>
            <th class="desktop">Unit Function</th>
            <th>Unit Occupancy</th>
            <th>Unit Size</th>
            <th class="action-th all">Action</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    {
        <tbody>
            @foreach (var vBUnit in Model)
            {
                <tr>
                    <td>@vBUnit.UnitNumber</td>
                    <td>@vBUnit.UnitPurposeName</td>
                    <td>@vBUnit.UnitFunctionName</td>
                    <td>@vBUnit.UnitOccupancyName</td>
                    <td>@vBUnit.UnitSizeName</td>
                    <td>
                        @Html.RadioButton("rbBuildingUnit", vBUnit.RowID, new { @class = "icheck", @data_radio = "iradio_square-green", @data_rowid = vBUnit.RowID, @title = "Tick To Select" })
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

