@model EIRS.Models.BuildingViewModel


<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingName, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.BuildingName, htmlAttributes: new { @tabindex = "2", @class = "form-control", @placeholder = "Enter Building Name" })
            @Html.ValidationMessageFor(model => model.BuildingName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingNumber, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.BuildingNumber, htmlAttributes: new { @tabindex = "3", @class = "form-control", @placeholder = "Enter Building Number" })
            @Html.ValidationMessageFor(model => model.BuildingNumber, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.StreetName, htmlAttributes: new { @class = "control-label required-star" })
            @Html.TextBoxFor(model => model.StreetName, htmlAttributes: new { @tabindex = "4", @class = "form-control", @placeholder = "Enter Street Name" })
            @Html.ValidationMessageFor(model => model.StreetName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.OffStreetName, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.OffStreetName, htmlAttributes: new { @tabindex = "5", @class = "form-control", @placeholder = "Enter Off Street Name" })
            @Html.ValidationMessageFor(model => model.OffStreetName, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.TownID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.TownID, (SelectList)ViewBag.TownList, "Select Town", htmlAttributes: new { @tabindex = "6", @id = "cboTown", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.TownID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LGAID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.LGAID, (SelectList)ViewBag.LGAList, "Select Local Government Area", htmlAttributes: new { @tabindex = "7", @id = "cboLGA", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.LGAID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.WardID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.WardID, (SelectList)ViewBag.WardList, "Select Ward", htmlAttributes: new { @tabindex = "8", @id = "cboWard", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.WardID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.AssetTypeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.AssetTypeID, (SelectList)ViewBag.AssetTypeList, "Select Asset Type", htmlAttributes: new { @tabindex = "9", @class = "form-control bs-select", @disabled = "true" })
            @Html.ValidationMessageFor(model => model.AssetTypeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingTypeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.BuildingTypeID, (SelectList)ViewBag.BuildingTypeList, "Select Building Type", htmlAttributes: new { @tabindex = "10", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.BuildingTypeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingCompletionID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.BuildingCompletionID, (SelectList)ViewBag.BuildingCompletionList, "Select Building Completion", htmlAttributes: new { @tabindex = "11", @class = "form-control bs-select" })
            @Html.ValidationMessageFor(model => model.BuildingCompletionID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingPurposeID, htmlAttributes: new { @class = "control-label required-star" })
            @Html.DropDownListFor(model => model.BuildingPurposeID, (SelectList)ViewBag.BuildingPurposeList, "Select Building Purpose", htmlAttributes: new { @tabindex = "12", @class = "form-control bs-select", @id = "cboBuildingPurpose" })
            @Html.ValidationMessageFor(model => model.BuildingPurposeID, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingOwnershipID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.BuildingOwnershipID, (SelectList)ViewBag.BuildingOwnershipList, "Select Building Ownership", htmlAttributes: new { @tabindex = "13", @class = "form-control bs-select" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.NoOfUnits, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.NoOfUnits, htmlAttributes: new { @tabindex = "14", @class = "form-control", @placeholder = "Enter No Of Units" })
            @Html.ValidationMessageFor(model => model.NoOfUnits, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingSize_Length, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.BuildingSize_Length, htmlAttributes: new { @tabindex = "15", @class = "form-control", @placeholder = "Enter Building Size – Length (Sqm)" })
            @Html.ValidationMessageFor(model => model.BuildingSize_Length, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingSize_Width, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.BuildingSize_Width, htmlAttributes: new { @tabindex = "16", @class = "form-control", @placeholder = "Enter Building Size – Width (Sqm)" })
            @Html.ValidationMessageFor(model => model.BuildingSize_Width, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Latitude, htmlAttributes: new { @tabindex = "17", @class = "form-control", @placeholder = "Enter Latitude" })
            @Html.ValidationMessageFor(model => model.Latitude, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Longitude, htmlAttributes: new { @tabindex = "18", @class = "form-control", @placeholder = "Enter Longitude" })
            @Html.ValidationMessageFor(model => model.Longitude, "", htmlAttributes: new { @class = "help-block" })
        </div>
    </div>
</div>
