@model IList<usp_GetTaxPayerAssetList_Result>

@foreach (var vAsset in Model.Where(t => t.Active == true))
{
    <tr>
        <td>@vAsset.TaxPayerTypeName</td>
        <td>@vAsset.TaxPayerRINNumber</td>
        <td>@vAsset.TaxPayerRoleName</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_ShowTaxPayerDetails(@vAsset.TPAID)">Quick View</a>
                    </li>
                    @if (SessionManager.TaxPayerTypeID == 0)
                    {
                        <li>
                            <a onclick="javascript:jsfn_ChangeTaxPayerLinkStatus(@vAsset.TPAID, @vAsset.AssetID, @vAsset.AssetTypeID)">
                                Remove Link
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </td>
    </tr>
}
