@using EIRS.Common
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERAS</title>
    <link rel="stylesheet" type="text/css" href="/Content/Fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Fonts/simple-line-icons/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/icheck/skins/all.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/components.min.css?v=@GlobalDefaultValues.VersionNumber" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/plugins.min.css?v=@GlobalDefaultValues.VersionNumber" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/layout.min.css?v=@GlobalDefaultValues.VersionNumber" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/theme.min.css?v=@GlobalDefaultValues.VersionNumber" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Web/custom.css?v=@GlobalDefaultValues.VersionNumber" />


    @if (ViewBag.MetaTitle != null)
    {
        <meta name="title" content="@ViewBag.MetaTitle" />
    }
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    @RenderSection("header", false)
</head>
<body>
    <div id="domMessage" style="display:none;">
        <h4>We are processing your request. Please be patient.</h4>
    </div>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="navbar-header">
                    <a href="@Url.Action("Home", "Default")" class="navbar-brand">
                        <img src="/Content/Images/EIRS-logo.png">
                        <img src="/Content/Images/Logo.png">
                    </a>
                </div>
                <ul>
                    <li><a>@SessionManager.ContactName</a></li>
                    <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                </ul>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMainMenu" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-collapse collapse" id="navMainMenu" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li class=" switch-li no-hover">
                            <a href="@Url.Action("Home", "Default")">
                                <label class="switch">
                                    <input type="checkbox" checked="checked" id="chkMenuSwitch">
                                    <span class="slider round"></span>
                                </label>
                            </a>
                        </li>
                        @if (SessionManager.TaxPayerTypeID == 0)
                        //  @if (SessionManager.TaxPayerTypeID == 0 && SessionManager.DataSubmitterID == 0)
                        {
                            <li class="search-li no-hover">
                                <input type="text" class="form-control" placeholder="Search" id="txtMasterSearch">
                                <a onclick="javascript:jsfn_CheckRINExist()">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                        }
                        @if (SessionManager.TaxPayerTypeID == 0)
                        // @if (SessionManager.TaxPayerTypeID == 0 && SessionManager.DataSubmitterID == 0)
                        {
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 1 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 2 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 3 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 4 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 5 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 6 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 7 });
                            Html.RenderAction("GetCentralTopMenuList", "Home", new { area = "", pIntParentMenuID = 8 });
                        }
                        else if (SessionManager.TaxPayerTypeID == (int)EnumList.TaxPayerType.Individual)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Capture<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Details","IndividualPanel")">My Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Profile<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Search","ProfileBuilding")">Buildings</a></li>
                                    <li><a href="@Url.Action("Search","ProfileBusiness")">Businesses</a></li>
                                    <li><a href="@Url.Action("Search","ProfileLand")">Lands</a></li>
                                    <li><a href="@Url.Action("Search","ProfileVehicle")">Vehicles</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Assess<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("BillList","IndividualPanel")">List All Bills</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Notify<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("NotficationList","IndividualPanel")">List Notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Settle<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("SettlementList","IndividualPanel")">List All Settlement</a></li>
                                    <li><a href="@Url.Action("PaymentAccountList","IndividualPanel")">List Payments on Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Report<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Report","IndividualPanel")">List Reports</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Admin<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Details","IndividualPanel")">My Single View</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (SessionManager.TaxPayerTypeID == (int)EnumList.TaxPayerType.Companies)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Capture<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Details","CorporatePanel")">My Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Profile<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Search","ProfileBuilding")">Buildings</a></li>
                                    <li><a href="@Url.Action("Search","ProfileBusiness")">Businesses</a></li>
                                    <li><a href="@Url.Action("Search","ProfileLand")">Lands</a></li>
                                    <li><a href="@Url.Action("Search","ProfileVehicle")">Vehicles</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Assess<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("BillList","CorporatePanel")">List All Bills</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Notify<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("NotficationList","CorporatePanel")">List Notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Settle<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("SettlementList","CorporatePanel")">List All Settlement</a></li>
                                    <li><a href="@Url.Action("PaymentAccountList","CorporatePanel")">List Payments on Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Report<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Report","CorporatePanel")">List Reports</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Admin<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Details","CorporatePanel")">My Single View</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (SessionManager.TaxPayerTypeID == (int)EnumList.TaxPayerType.Government)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Capture<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Details","GovernmentPanel")">My Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Profile<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Search","ProfileBuilding")">Buildings</a></li>
                                    <li><a href="@Url.Action("Search","ProfileBusiness")">Businesses</a></li>
                                    <li><a href="@Url.Action("Search","ProfileLand")">Lands</a></li>
                                    <li><a href="@Url.Action("Search","ProfileVehicle")">Vehicles</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Assess<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("BillList","GovernmentPanel")">List All Bills</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Notify<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("NotficationList","GovernmentPanel")">List Notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Settle<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("SettlementList","GovernmentPanel")">List All Settlement</a></li>
                                    <li><a href="@Url.Action("PaymentAccountList","GovernmentPanel")">List Payments on Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Report<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Report","GovernmentPanel")">List Reports</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Admin<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Details","GovernmentPanel")">My Single View</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @*else if (SessionManager.DataSubmitterID > 0)
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        My Operations<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("Log","DataSubmitterPanel")">My Submissions</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                Profile<span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Search","ProfileBuilding")">Buildings</a></li>
                                                <li><a href="@Url.Action("Search","ProfileBusiness")">Businesses</a></li>
                                                <li><a href="@Url.Action("Search","ProfileLand")">Lands</a></li>
                                                <li><a href="@Url.Action("Search","ProfileVehicle")">Vehicles</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            }*@
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="no-hover hidden p0"><a>Welcome</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Profile</a></li>
                                <li><a href="@Url.Action("ChangePassword","Home")">Change Password</a></li>
                                <li><a href="#">My Modules</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="alternate">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    @if (SessionManager.TaxPayerTypeID == 0)
                    //@if (SessionManager.TaxPayerTypeID == 0 && SessionManager.DataSubmitterID == 0)
                    {
                        Html.RenderAction("GetCentralSideMenuList", "Home", new { area = "", pIntParentMenuID = 9 });
                        Html.RenderAction("GetCentralSideMenuList", "Home", new { area = "", pIntParentMenuID = 10 });
                        Html.RenderAction("GetCentralSideMenuList", "Home", new { area = "", pIntParentMenuID = 11 });
                        Html.RenderAction("GetCentralSideMenuList", "Home", new { area = "", pIntParentMenuID = 12 });
                        Html.RenderAction("GetCentralSideMenuList", "Home", new { area = "", pIntParentMenuID = 46 });
                        Html.RenderAction("GetCentralSideMenuList", "Home", new { area = "", pIntParentMenuID = 60 });


                        if (SessionManager.UserID == 32)
                        {
                            <div class="portlet light compressed-menu">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Approvals
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <ul class="nav">
                                        <li>
                                            <a href="@Url.Action("Pending","Home")"> <i class="fa fa-angle-right"></i> Pending</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Declined","Home")"> <i class="fa fa-angle-right"></i> Declined</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    else if (SessionManager.TaxPayerTypeID == (int)EnumList.TaxPayerType.Individual)
                    {
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    ERAS
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Dashboard","IndividualPanel")"> <i class="fa fa-angle-right"></i> Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Tax Payers
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("List","IndividualPanel")"> <i class="fa fa-angle-right"></i> Individuals</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Assets
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Business","IndividualPanel")"> <i class="fa fa-angle-right"></i> Businesses</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Building","IndividualPanel")"> <i class="fa fa-angle-right"></i> Buildings</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Land","IndividualPanel")"> <i class="fa fa-angle-right"></i> Lands</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Vehicle","IndividualPanel")"> <i class="fa fa-angle-right"></i> Vehicles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Revenue Data
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">

                                    <li>
                                        <a href="@Url.Action("AssessmentBill","IndividualPanel")"> <i class="fa fa-angle-right"></i> Assessment Bills</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ServiceBill","IndividualPanel")"> <i class="fa fa-angle-right"></i> MDA Service Bills</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AssessmentRule","IndividualPanel")"> <i class="fa fa-angle-right"></i> Assessment Rules</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MDAService","IndividualPanel")"> <i class="fa fa-angle-right"></i> MDA Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else if (SessionManager.TaxPayerTypeID == (int)EnumList.TaxPayerType.Companies)
                    {
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    ERAS
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Dashboard","CorporatePanel")"> <i class="fa fa-angle-right"></i> Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Tax Payers
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("List","CorporatePanel")"> <i class="fa fa-angle-right"></i> Corporates</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Assets
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Business","CorporatePanel")"> <i class="fa fa-angle-right"></i> Businesses</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Building","CorporatePanel")"> <i class="fa fa-angle-right"></i> Buildings</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Land","CorporatePanel")"> <i class="fa fa-angle-right"></i> Lands</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Vehicle","CorporatePanel")"> <i class="fa fa-angle-right"></i> Vehicles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Revenue Data
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">

                                    <li>
                                        <a href="@Url.Action("AssessmentBill","CorporatePanel")"> <i class="fa fa-angle-right"></i> Assessment Bills</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ServiceBill","CorporatePanel")"> <i class="fa fa-angle-right"></i> MDA Service Bills</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AssessmentRule","CorporatePanel")"> <i class="fa fa-angle-right"></i> Assessment Rules</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MDAService","CorporatePanel")"> <i class="fa fa-angle-right"></i> MDA Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else if (SessionManager.TaxPayerTypeID == (int)EnumList.TaxPayerType.Government)
                    {
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    ERAS
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Dashboard","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Tax Payers
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("List","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Government</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Assets
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Business","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Businesses</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Building","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Buildings</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Land","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Lands</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Vehicle","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Vehicles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="portlet light compressed-menu">
                            <div class="portlet-title">
                                <div class="caption">
                                    Revenue Data
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="nav">

                                    <li>
                                        <a href="@Url.Action("AssessmentBill","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Assessment Bills</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ServiceBill","GovernmentPanel")"> <i class="fa fa-angle-right"></i> MDA Service Bills</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AssessmentRule","GovernmentPanel")"> <i class="fa fa-angle-right"></i> Assessment Rules</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MDAService","GovernmentPanel")"> <i class="fa fa-angle-right"></i> MDA Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    @*else if (SessionManager.DataSubmitterID > 0)
        {
            <div class="portlet light compressed-menu">
                <div class="portlet-title">
                    <div class="caption">
                        My Operations
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="nav">
                        <li>
                            <a href="@Url.Action("SubmitData","DataSubmitterPanel")"> <i class="fa fa-angle-right"></i> Submit Data</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Log","DataSubmitterPanel")"> <i class="fa fa-angle-right"></i> Submission Log</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Profile<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Search","ProfileBuilding")">Buildings</a></li>
                                <li><a href="@Url.Action("Search","ProfileBusiness")">Businesses</a></li>
                                <li><a href="@Url.Action("Search","ProfileLand")">Lands</a></li>
                                <li><a href="@Url.Action("Search","ProfileVehicle")">Vehicles</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        }*@
                </div>
                <div class="col-sm-9">
                    <div class="content" id="dvAlertConatiner">
                        @Html.RenderFlashMessages()
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <div class="navbar-brand">
                        <img src="/Content/Images/Logo.png">
                    </div>
                </div>
                <div class="col-sm-7">
                    © Copyright ERAS - Edo State Internal Revenue Service @DateTime.Now.Year. All rights reserved
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>
                            <a>Data Protection</a>
                        </li>
                        <li>
                            <a>Terms of Use</a>
                        </li>
                        <li>
                            <a>Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="dvRemoveModal" tabindex="-1" role="dialog" aria-labelledby="dvRemoveModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dvRemoveModalLabel">Remove Record Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdnTBID" value="0" />
                    <input type="hidden" id="hdnOtherID" value="0" />
                    Removing a record will remove all related records. Do you wish to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-theme" id="btnModalYes">Yes</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/Content/Scripts/jquery.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.validate.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.unobtrusive-ajax.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.validate.unobtrusive.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Client Scripts/mvcfoolproof.unobtrusive.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/bootstrap/js/bootstrap.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/bootstrap-select/js/bootstrap-select.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Scripts/datatable.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/datatables/datatables.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/Content/Plugins/datatables/plugins/bootstrap/datatables.bootstrap.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/jquery.blockui.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/icheck/icheck.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/plugins/moment/moment.js"></script>
    <script type="text/javascript" src="/Scripts/date.format.js"></script>
    <script type="text/javascript" src="/Scripts/jsCommon.js?v=@GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Scripts/jsCustomValidator.js?v=@GlobalDefaultValues.VersionNumber"></script>


    @RenderSection("Footer", false)
</body>
</html>
