@using EIRS.Common
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }
    else
    {
        <title>EIRS: EDO Revenue Administration System</title>
    }

    <link rel="stylesheet" type="text/css" href="/Content/Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/Fonts/simple-line-icons/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/typeahead/typeahead.css">
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/components.min.css?v=@GlobalDefaultValues.VersionNumber">
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/layout.min.css?v=@GlobalDefaultValues.VersionNumber">
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/plugins.min.css?v=@GlobalDefaultValues.VersionNumber">
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Common/theme.min.css?v=@GlobalDefaultValues.VersionNumber">
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Web/custom.css?v=@GlobalDefaultValues.VersionNumber">
    <link rel="stylesheet" type="text/css" href="/Content/plugins/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Plugins/icheck/skins/all.css" />


    @if (ViewBag.MetaTitle != null)
    {
        <meta name="title" content="@ViewBag.MetaTitle" />
    }
    else
    {
        <meta name="title" content="EIRS: EDO Revenue Administration System" />
    }

    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    else
    {
        <meta name="description" content="EIRS: EDO Revenue Administration System" />
    }

    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    else
    {
        <meta name="keywords" content="EIRS, Nigeria, Revenue System, Taxation in Nigeria" />
    }

    @RenderSection("header", false)
</head>
<body>
    <div id="domMessage" style="display:none;">
        <h4>We are processing your request. Please be patient.</h4>
    </div>
    @{ Html.RenderPartial("_Header"); }
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <div class="navbar-brand">
                        <img src="/Content/Images/Logo.png" />
                    </div>
                </div>
                <div class="col-sm-7">
                    &copy; Copyright EIRS - Edo State Internal Revenue Service @DateTime.Now.Year. All rights reserved
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>
                            <a>Data Protection</a>
                        </li>
                        <li>
                            <a>Terms of Use</a>
                        </li>
                        <li>
                            <a>Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/Content/Scripts/jquery.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.validate.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.unobtrusive-ajax.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.validate.unobtrusive.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Client Scripts/mvcfoolproof.unobtrusive.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/bootstrap/js/bootstrap.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/plugins/bootstrap-select/js/bootstrap-select.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/icheck/icheck.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Scripts/datatable.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/datatables/datatables.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/datatables/plugins/bootstrap/datatables.bootstrap.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Content/Plugins/select2/js/select2.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="/Content/Plugins/jquery.blockui.min.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Scripts/jsCommon.js?v=@GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript" src="~/Scripts/jsCustomValidator.js?v=@GlobalDefaultValues.VersionNumber"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5af32ed45f7cdf4f05340105/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    @RenderSection("Footer", false)
</body>
</html>