@model EIRS.Web.Models.VerifyTCCReferenceNumberViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Verify eTCC";
}


<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Verify eTCC
            </h1>
            <hr>
            <p>
                This section helps in verify personal tax clearance certificate
            </p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("VerifyReferenceNumber", "VerifyTCC", FormMethod.Post, htmlAttributes: new { @id = "frmVerifyDocument" }))
                {
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                Verify eTCC
                            </div>
                            <div class="actions">

                            </div>
                        </div>
                        <div class="portlet-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }

                            @if (ViewBag.TCCValid == true)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span>The reference number you submitted passed the PDF certified validation test.</span>
                                        <ul>
                                            <li>This is a true PDF Certified Document</li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.TCCValid == false)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span>The reference number you submitted failed the PDF certified validation test. Possible causes for this failure are:</span>
                                        <ul>
                                            <li>The reference number is not a Valid TCC Certificate Number</li>
                                        </ul>
                                    </div>
                                </div>
                            }


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ReferenceNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ReferenceNumber, htmlAttributes: new { @tabindex = "1", @class = "form-control", @placeholder = "Enter Reference Number" })
                                        @Html.ValidationMessageFor(model => model.ReferenceNumber, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-footer">
                            <div class="row">
                                <div class="text-right col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" class="btn-theme btn" value="Submit" tabindex="3" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
