@model IList<EIRS.BOL.usp_GetNotificationList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationRefNo</td>
            <td>@CommUtil.GetFormatedDate(item.NotificationDate)</td>
            <td>@item.NotificationMethodName</td>
            <td>@item.NotificationTypeName</td>
            <td>@item.EventRefNo</td>
            <td>@item.TaxPayerTypeName</td>
            <td>@item.TaxPayerName</td>
            <td>@item.NotificationStatusText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Notification", new { id = item.NotificationID, name=item.NotificationRefNo.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
