@model EIRS.BOL.usp_GetNotificationList_Result
@using EIRS.Common

@{
    ViewBag.Title = "Notification Details";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Notification
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvNotificationDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Notification</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Notification Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Notification Ref No</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NotificationRefNo
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Notification Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.NotificationDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Notification Method</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NotificationMethodName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Notification Type</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NotificationTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Event Ref No</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.EventRefNo
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Type</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NotificationStatusText
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List","Notification")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
