@model EIRS.Models.LoginViewModel
@using EIRS.Common

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - EIRS Report</title>
    <link rel="stylesheet" type="text/css" href="/Content/Login/Fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Login/Fonts/simple-line-icons/simple-line-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Login/Plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Login/Styles/Common/components.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Login/Styles/Common/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Login/Styles/Common/layout.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Login/Styles/Admin/login.css" />
</head>
<body class="login">
    <div id="domMessage" style="display:none;">
        <h4>We are processing your request.  Please be patient.</h4>
    </div>
    <div class="logo">
        <img src="/Content/Login/Images/logo.png" /> <br />
    </div>
    <div class="content">

        @using (Html.BeginForm("Login", "Default", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    <span>@ViewBag.Message</span>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(Model => Model.EmailAddress, new { @class = "control-label" })
                @Html.TextBoxFor(Model => Model.EmailAddress, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Email Address" })
                @Html.ValidationMessageFor(Model => Model.EmailAddress, "", new { @class = "help-block" })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Password, new { @class = "control-label" })
                @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Password", @type = "password" })
                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "help-block" })
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-block uppercase">Login</button>
            </div>
        }
    </div>

    <script type="text/javascript">
        window.cdnLink = '/Content/';
    </script>
    <script src="/Content/Login/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="/Content/Login/Plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/Login/Plugins/jquery.blockui.min.js"></script>

    <script type="text/javascript" src="/Content/Login/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/Login/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="/Content/Login/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/Content/Login/Scripts/jsCommon.js"></script>


</body>
</html>

