@model EIRS.Web.Models.TCCRequestViewModel

@{

    ViewBag.Title = "TCC Request - Add New";
}

@section header {
    <link href="~/Content/Plugins/typeahead/typeahead.css" rel="stylesheet" />
}

<div class="title">
    <h1>
        TCC Request
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Add New Request
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Add", "ProcessTCCRequest", FormMethod.Post, htmlAttributes: new { @id = "frmProccessPayment" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.TaxPayerID, new { @id = "hdnTaxPayerID" })
                        @Html.LabelFor(model => model.TaxPayerID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.TextBoxFor(model => model.TaxPayerName, "", new { @class = "form-control", @id = "txtTaxPayer", @autocomplete = "off", @placeholder = "Enter From Tax Payer Name" })
                        @Html.ValidationMessageFor(model => model.TaxPayerID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxYear, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.DropDownListFor(m => m.TaxYear, (SelectList)ViewBag.YearList, "Select Tax Year", new { @class = "form-control bs-select", @tabindex = "3", @data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.TaxYear, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" value="Save" tabindex="5" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Footer {
    <script src="~/Content/Plugins/typeahead/handlebars.min.js"></script>
    <script src="~/Content/Plugins/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsAddTCCRequest.js"></script>
}