@model usp_GetTCCRequestDetails_Result
@using EIRS.Common
@{
    ViewBag.Title = "TCC Request Details";
    IList<usp_GetAdminRequestStageList_Result> lstRequestStage = (IList<usp_GetAdminRequestStageList_Result>)ViewBag.RequestStageList;
    IList<usp_GetRequestNotesList_Result> lstNotes = (IList<usp_GetRequestNotesList_Result>)ViewBag.RequestNotesList;
}

<input type="hidden" value="@Model.TCCRequestID" id="hdnRequestID" />
<div class="title">
    <h1>
        TCC Request Details
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Request Information
        </div>
        <div class="actions">
            <a href="@Url.Action("List","ProcessTCCRequest")" class="btn btn-theme btn-outline">
                Cancel
            </a>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Request Ref No: </label>
                <div class="form-control-static">
                    @Model.RequestRefNo
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Request Date: </label>
                <div class="form-control-static">
                    @CommUtil.GetFormatedDate(Model.RequestDate)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Year: </label>
                <div class="form-control-static">
                    @Model.TaxYear
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Name: </label>
                <div class="form-control-static">
                    @Model.FirstName @Model.LastName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer EIN: </label>
                <div class="form-control-static">
                    @Model.IndividualRIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Mobile Number: </label>
                <div class="form-control-static">
                    @Model.MobileNumber1
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Processing Tracker</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTracker">
            <thead class="red-th">
                <tr>
                    <th>Stage</th>
                    <th>Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vStage in lstRequestStage)
                 {
                    <tr>
                        <td>@vStage.StageName</td>
                        <td>@vStage.StatusName</td>
                        <td>
                            @if (vStage.ShowButton.GetValueOrDefault() && !(vStage.StatusName == "Completed"))
                            {

                                <div class="btn-group">
                                    <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action(vStage.ActionName, vStage.ControllerName, new { reqid = Model.TCCRequestID })">View Details</a>
                                        </li>
                                    </ul>
                                </div>

                            }
                            @*else if (vStage.ApprovalDate != null)
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("View" + vStage.ActionName,vStage.ControllerName, new { reqid = Model.TCCRequestID })">View Details</a>
                                            </li>
                                        </ul>
                                    </div>
                                }*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="portlet-footer text-right">
        <button class="btn-redtheme btn" id="btnRevoke">Revoke</button>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Notes</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <div class="mt-comments">
            <div class="mt-comment-list">
                @foreach (var item in lstNotes)
                {
                    <div class="mt-comment">
                        <div class="mt-comment-img">
                            <div class="profile-icon">@item.SenderName.Substring(0, 1)</div>
                        </div>
                        <div class="mt-comment-body">
                            <div class="mt-comment-info">
                                <span class="mt-comment-author">@item.SenderName (@item.TCCStageName)</span>
                                <span class="mt-comment-date">@item.NotesDate.Value.ToString("dd MMM, hh:mm tt")</span>
                            </div>
                            <div class="mt-comment-text"> @Html.Nl2Br(item.Notes) </div>
                            @{ Html.RenderAction("GetRequestNotesAttachment", new { rnid = item.RNID });}
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvRevokeModal" tabindex="-1" role="dialog" aria-labelledby="dvRevokeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dvRevokeModalLabel">Revoke TCC</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="dvShowRevokeAlert">

                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Reason</label>
                        <div class="col-sm-8">
                            @Html.TextArea("txtReason", "", new { @class = "form-control", @placeholder = "Enter Reason for Revoke", @id = "txtReason" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-theme" id="btnSaveRevoke">Save</button>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <script src="~/Scripts/jsTCCRequestDetail.js" type="text/javascript"></script>
}
