@model IList<EIRS.BOL.usp_GetGovernmentList_Result>
@using EIRS.Common
@{
    ViewBag.Title = "Government Tax Payer";
}

<div class="title">
    <h1>Government Tax Payer</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            List of Government Tax Payers
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblGovernment">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Government Name</th>
                    <th>TIN</th>
                    <th class="desktop">Address</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GovernmentRIN</td>
                        <td>@item.GovernmentName</td>
                        <td>@item.TIN</td>
                        <td>@item.ContactAddress</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_GovernmentInformation(@item.GovernmentID)">
                                            Quick View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Details","GovernmentPanel")">
                                            Tax Payer Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@{Html.RenderPartial("_GovernmentDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerGovermentList.js"></script>
}
