@model IList<EIRS.BOL.usp_EM_GetBankList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
    <tr>
        <td>@item.BankName</td>
        <td>@item.BankAccountNumber</td>
        <td>@item.ActiveText</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="@Url.Action("Details","EMBank", new { id = item.BankID, name=item.BankName.ToSeoUrl()})">
                            View Details
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit", "EMBank", new { id = item.BankID, name=item.BankName.ToSeoUrl() })">
                            Edit Details
                        </a>
                    </li>
                    <li>
                        <a onclick="javascript:jsfn_ChangeStatus(@item.BankID)">
                            Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    }
}
