@model EIRS.Models.ScratchCardDealerViewModel

@{
    ViewBag.Title = "Add Scratch Card Dealer";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Scratch Card Dealer
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddScratchCardDealer">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add Scratch Card Dealer</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Add", "ScratchCardDealer", FormMethod.Post, htmlAttributes: new { @class = "smart-form" }))
                            {
                                <header>
                                    Scratch Card Dealer Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset>
                                    <section>
                                        @Html.LabelFor(model => model.ScratchCardDealerName, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.ScratchCardDealerName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter Scratch Card Dealer" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Scratch Card Dealer
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.ScratchCardDealerName, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.DropDownListFor(model => model.CompanyID, (SelectList)ViewBag.CompanyList, "Select Company", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Select Company
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.CompanyID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.DealerTypeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.DropDownListFor(model => model.DealerTypeID, (SelectList)ViewBag.DealerTypeList, "Select Dealer Type", htmlAttributes: new { @tabindex = "3", @class = "select2", @width = "100%" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Select Dealer Type
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.DealerTypeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.AgreedCommissionPercentage, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.AgreedCommissionPercentage, htmlAttributes: new { @tabindex = "4", @placeholder = "Enter Agreed Commission Percentage" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Agreed Commission Percentage
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.AgreedCommissionPercentage, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                    <a href="@Url.Action("List","ScratchCardDealer")" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>