@model IList<EIRS.BOL.usp_GetBusinessList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.BusinessRIN</td>
            <td>@item.BusinessName</td>
            <td>@item.BusinessTypeName</td>
            <td>@item.LGAName</td>
            <td>@item.BusinessCategoryName</td>
            <td>@item.BusinessSectorName</td>
            <td>@item.BusinessSubSectorName</td>
            <td>@item.BusinessStructureName</td>
            <td>@item.BusinessOperationName</td>
            <td>@item.SizeName</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Business", new { id = item.BusinessID, name=item.BusinessName.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Business", new { id = item.BusinessID, name=item.BusinessName.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("TaxPayerList", "Business", new { id = item.BusinessID, name=item.BusinessRIN.ToSeoUrl() })">
                                Tax Payer Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("BuildingInformation", "Business", new { id = item.BusinessID, name=item.BusinessRIN.ToSeoUrl() })">
                                Building Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.BusinessID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
