@model IList<EIRS.BOL.usp_GetLandList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.LandRIN</td>
            <td>@item.PlotNumber</td>
            <td>@item.StreetName</td>
            <td>@item.TownName</td>
            <td>@item.LGAName</td>
            <td>@item.WardName</td>
            <td>@item.LandSize_Length</td>
            <td>@item.LandSize_Width</td>
            <td>@item.C_OF_O_Ref</td>
            <td>@item.LandPurposeName</td>
            <td>@item.LandFunctionName</td>
            <td>@item.LandOwnershipName</td>
            <td>@item.LandDevelopmentName</td>
            <td>@item.Latitude</td>
            <td>@item.Longitude</td>
            <td>@item.LandStreetConditionName</td>
            <td>@item.ValueOfLand.GetValueOrDefault().ToString("N2")</td>
            <td>@item.Neighborhood</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Land", new { id = item.LandID, name=item.LandRIN.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Land", new { id = item.LandID, name=item.LandRIN.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("TaxPayerList", "Land", new { id = item.LandID, name=item.LandRIN.ToSeoUrl() })">
                                Tax Payer Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.LandID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
