@model EIRS.Models.LandViewModel

@{
    ViewBag.Title = "Land Details";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-steam"></i>
                Land
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvLandDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Land</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Land Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land RIN</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandRIN
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Plot Number</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.PlotNumber
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Street Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.StreetName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Town</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TownName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">LGA</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LGAName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Ward</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.WardName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Asset Type</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.AssetTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land Size – Length (Sqm)</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandSize_Length
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land Size – Width (Sqm)</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandSize_Width
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">C_OF_O_Ref</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.C_OF_O_Ref
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land Purpose</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandPurposeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land Function</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandFunctionName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land Ownership</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandOwnershipName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Land Development</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandDevelopmentName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Latitude</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.Latitude
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Longitude</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.Longitude
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Street Condition</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LandStreetConditionName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Value of Land</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ValueOfLand.ToString("N2")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Neighborhood</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.Neighborhood
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List","Land")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
