@model EIRS.Models.TitleViewModel

@{
    ViewBag.Title = "Add Title";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-group"></i>
                Title
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddTitle">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add Title</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Add", "Title", FormMethod.Post, htmlAttributes: new { @class = "smart-form" }))
                            {
                                <header>
                                    Title Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset>
                                    <section>
                                        @Html.LabelFor(model => model.TitleName, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.TitleName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter Title" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Title Name
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.TitleName, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.GenderID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.GenderID, (SelectList)ViewBag.GenderList, "Select Gender", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.GenderID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                    <a href="@Url.Action("List","Title")" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>