@model EIRS.Models.TaxPayerAssetViewModel

@{
    ViewBag.Title = "Add Asset";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Link New Asset for @Model.TaxPayerName
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artTaxPayerAsset">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddTaxPayerAsset">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add Asset</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("AddAsset", "Special", FormMethod.Post, htmlAttributes: new { @class = "smart-form" , @id="frmAsset"}))
                            {

                                <header>
                                    Asset Details
                                    <button id="btnSave" class="btn btn-primary pull-right">
                                        Save
                                    </button>
                                    <button id="btnStep2Next" class="btn btn-primary pull-right">
                                        Next
                                    </button>
                                    <button id="btnStep2Back" class="btn btn-default pull-right margin-right-5">
                                        Back
                                    </button>
                                    <button id="btnStep3Back" class="btn btn-default pull-right margin-right-5">
                                        Back
                                    </button>
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(m => m.TaxPayerTypeID, new { @value = Model.TaxPayerTypeID, @id = "hdnTaxPayerTypeID" })
                                @Html.HiddenFor(m => m.TaxPayerID, new { @value = Model.TaxPayerID, @id= "hdnTaxPayerID" })
                                @Html.HiddenFor(m => m.TaxPayerRIN, new { @value = Model.TaxPayerRIN })
                                @Html.HiddenFor(m => m.AssetIds, new { @id = "hdnAssetIds" })
                                @Html.HiddenFor(m => m.BuildingUnitID, new { @id = "hdnBuildingUnitId" })


                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset id="fsStep1">
                                    <section>
                                        @Html.LabelFor(model => model.TaxPayerTypeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.TaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", htmlAttributes: new { @tabindex = "1", @class = "select2", @width = "100%", @id = "cboTaxPayerType", @disabled = "true" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.TaxPayerTypeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.AssetTypeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.AssetTypeID, (SelectList)ViewBag.AssetTypeList, "Select Asset Type", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%", @id = "cboAssetType" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.AssetTypeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.TaxPayerRoleID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.TaxPayerRoleID, (SelectList)ViewBag.TaxPayerRoleList, "Select Tax Payer Role", htmlAttributes: new { @tabindex = "3", @class = "select2", @width = "100%", @id = "cboTaxPayerRole" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.TaxPayerRoleID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                </fieldset>
                                <fieldset id="fsStep2">
                                    
                                </fieldset>
                                <fieldset id="fsStep3"></fieldset>
                                <footer id="dvFooter">
                                    <a id="btnNext" class="btn btn-primary">Next</a>
                                    <a id="btnMainBack" href="@Url.Action("AssetList", "Special", new { id = Model.TaxPayerID, name = Model.TaxPayerRIN })" class="btn btn-default">
                                        Cancel
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Footer{
    <script type="text/javascript" src="~/Scripts/jsSpecialAssetDetails.js"></script>
    }