@model EIRS.Models.SpecialViewModel

@{
    ViewBag.Title = "Special Details";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-archive"></i>
                Special
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvSpecialDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Special</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Special Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Special RIN</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SpecialRIN
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Special Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SpecialName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">TIN</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TIN
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Office</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxOfficeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Type</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Contact Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ContactName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Contact Email</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ContactEmail
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Contact Number</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ContactNumber
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Description</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.Description
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Preferred Notification</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NotificationMethodName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List","Special")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
