@model IList<EIRS.BOL.usp_GetScreenList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblScreen">
    <thead class="red-th">
        <tr>
            <th> Screen Name </th>
            <th class="desktop"> Screen URL </th>
            <th> Status </th>
            <th class="action-th all"> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ScreenName</td>
                <td>@item.ScreenUrl</td>
                <td>@item.ActiveText</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Details","Screen", new { id = item.ScreenID, name=item.ScreenName.ToSeoUrl()})">
                                    View Details
                                </a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("UserList","Screen", new { id = item.ScreenID, name=item.ScreenName.ToSeoUrl()})">
                                    Manage Users
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("MenuList","Screen", new { id = item.ScreenID, name=item.ScreenName.ToSeoUrl()})">
                                    Manage Menus
                                </a>
                            </li>*@
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

