@model IList<EIRS.BOL.usp_GetServiceBillList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceBillRefNo</td>
            <td>@CommUtil.GetFormatedDate(item.ServiceBillDate)</td>
            <td>@item.TaxPayerTypeName</td>
            <td>@item.TaxPayerRIN</td>
            <td>@item.ServiceBillAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@CommUtil.GetFormatedDate(item.SettlementDueDate)</td>
            <td>@item.SettlementStatusName</td>
            <td>@CommUtil.GetFormatedDate(item.SettlementDate)</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @if (item.SettlementStatusID < 3)
                        {
                            <li>
                                <a href="@Url.Action("Edit", "ServiceBill", new { id = item.ServiceBillID, name = item.ServiceBillRefNo.ToSeoUrl() })">
                                    Edit Details
                                </a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Details","ServiceBill", new { id = item.ServiceBillID, name=item.ServiceBillRefNo.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.ServiceBillID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
