@model EIRS.Models.ServiceBillViewModel

@{
    ViewBag.Title = "Add New Service Bill";
    IList<ServiceBill_MDAServiceItem> lstServiceBillItems = (IList<ServiceBill_MDAServiceItem>)ViewBag.MAPServiceBillItemList;
    IList<ServiceBill_MDAService> lstServiceBillServices = (IList<ServiceBill_MDAService>)ViewBag.MAPServiceBillServiceList;

}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Service Bill for @Model.TaxPayerName
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddServiceBill">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add New Service Bill</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Add", "ServiceBill", FormMethod.Post, htmlAttributes: new { @class = "smart-form", @id = "frmServiceBill" }))
                            {
                                <header>
                                    Service Bill Details
                                </header>
                                <header id="hdStep2">
                                    Record Links
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(m => m.TaxPayerID, new { @value = Model.TaxPayerID, @id = "hdnTaxPayerID" })
                                @Html.HiddenFor(m => m.TaxPayerTypeID, new { @value = Model.TaxPayerTypeID, @id = "hdnTaxPayerTypeID" })
                                @Html.HiddenFor(m => m.TaxPayerName, new { @value = Model.TaxPayerName })
                                @Html.HiddenFor(m => m.TaxPayerRIN, new { @value = Model.TaxPayerRIN })

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset id="fsStep1">
                                    <section>
                                        <label class="label required">Settlement Due Date</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.SettlementDuedate, "{0:dd/MM/yyyy}", htmlAttributes: new { @tabindex = "1", @class = "form-control datepicker", @data_dateformat = "dd/mm/yy", @placeholder = "Enter Settlement Due Date", @id = "txtSettlementDueDate" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Settlement Due Date
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.SettlementDuedate, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                </fieldset>
                                <fieldset id="fsStep2">
                                    <section class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item">
                                                <div class="dd-handle" id="ddliServiceBillService">
                                                    <i class="fa fa-chevron-right"></i> <a id="aMDAServices">MDA Services - <span id="spnMSRecordCount">@SessionManager.lstServiceBillService.Count()</span> Values</a>
                                                </div>
                                                <span class="help-block field-validation-error hide" id="ServiceBillService-error">Select MDA Service</span>
                                            </li>
                                        </ol>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btnSave">
                                        Submit
                                    </button>
                                    <a id="btnNext" class="btn btn-primary">Next</a>
                                    <a id="btnBack" class="btn btn-default">
                                        Back
                                    </a>
                                    <a id="btnMainBack" href="@Url.Action("List","ServiceBill")" class="btn btn-default">
                                        Cancel
                                    </a>
                                </footer>
                            }
                            <div class="smart-form" id="dvMDAServiceList">
                                <header>
                                    Record Link - MDA Services
                                    <button id="btnMSAdd" class="btn btn-primary pull-right">
                                        Add New MDA Service
                                    </button>
                                </header>

                                <fieldset>
                                    <table id="tbMDAServiceItem" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>MDA Service</th>
                                                <th>Service Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyMDAServiceList">
                                            @{Html.RenderPartial("_BindServiceBillServices", lstServiceBillServices);}
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <a id="btnMSBack" class="btn btn-primary">
                                        Next
                                    </a>
                                    <a href="@Url.Action("List", "ServiceBill")" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </div>
                            <form class="smart-form" id="frmMSAddMDAService">
                                <header>
                                    MDA Service Details
                                </header>
                                <fieldset>
                                    <section>
                                        <label class="label required">MDA Service</label>
                                        <label class="input">
                                            @Html.DropDownList("MDAService", (SelectList)ViewBag.MDAServiceList, "Select MDA Service", htmlAttributes: new { @tabindex = "8", @class = "select2", @width = "100%", @id = "cboMDAService" })
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">Tax Year</label>
                                        <label class="input" id="lblTaxYear">-</label>
                                    </section>
                                    <section>
                                        <table id="tbServiceItem" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Service Item Code </th>
                                                    <th>Item Name</th>
                                                    <th>Service Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyServiceBillItemList">
                                                @{Html.RenderPartial("_BindServiceBillItem", lstServiceBillItems);}
                                            </tbody>
                                        </table>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button id="btnAddMDAService" class="btn btn-primary">
                                        Save
                                    </button>
                                    <a id="btnBackMDAService" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@{ Html.RenderPartial("_MDAServiceItemDetailPopup"); }
@{ Html.RenderPartial("_MDAServiceDetailPopup"); }

<div id="dvEditServiceAmount" title="Change Service Base Amount">
    <input type="hidden" id="hdnServiceBillItemRowID" value="0" />
    <form class="smart-form" id="frmServiceBillItem">
        <section>
            <label class="label required">Service Base Amount</label>
            <label class="input">
                <input class="form-control" placeholder="Enter Service Base Amount" type="text" id="txtServiceBaseAmount" name="ServiceBaseAmount">
            </label>
        </section>
    </form>
</div>

@section footer {
    <script type="text/javascript" src="~/Scripts/jsServiceBillDetails.js"></script>
}