@model EM_PD_MVA_Authorized
@using EIRS.Common

@{
    ViewBag.Title = "ERAS Manual - Pay Direct  - MVA – Authorized - Entry Details";
}

<div class="title">
    <h1>
        ERAS Manual - Pay Direct  - MVA – Authorized - Entry Details
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Entry Details
        </div>
        <div class="actions">
            <a href="@Url.Action("List","EMPDMVAAuthorized")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Tax Year: </label>
                    <div class="form-control-static">
                        @Model.TaxYear
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Tax Month: </label>
                    <div class="form-control-static">
                        @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.TaxMonth.GetValueOrDefault())
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Payment Ref Number: </label>
                    <div class="form-control-static">
                        @Model.PaymentRefNumber
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Payment Date Time: </label>
                    <div class="form-control-static">
                        @Model.PaymentDateTime
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Assessment Reference/RIN: </label>
                    <div class="form-control-static">
                        @Model.AssessmentReference
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Receipt No: </label>
                    <div class="form-control-static">
                        @Model.ReceiptNo
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">
                        RIN
                    </label>
                    <div class="form-control-static">
                        @Model.RIN
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Customer Name: </label>
                    <div class="form-control-static">
                        @Model.CustomerName
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Revenue Item: </label>
                    <div class="form-control-static">
                        @Model.RevenueItem
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Amount: </label>
                    <div class="form-control-static">
                        @CommUtil.GetFormatedCurrency(Model.Amount)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Payment Method: </label>
                    <div class="form-control-static">
                        @Model.PaymentMethod
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Deposit Slip: </label>
                    <div class="form-control-static">
                        @Model.DepositSlip
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Cheque Value Date : </label>
                    <div class="form-control-static">
                        @Model.ChequeValueDate
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Bank: </label>
                    <div class="form-control-static">
                        @Model.Bank
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Additional Info: </label>
                    <div class="form-control-static">
                        @Model.AdditionalInfo
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Bank Branch: </label>
                    <div class="form-control-static">
                        @Model.BankBranch
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Tax Payer Type: </label>
                    <div class="form-control-static">
                        @Model.TaxPayerType
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Payment Code: </label>
                    <div class="form-control-static">
                        @Model.PaymentCode
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Retrieval Ref. Number: </label>
                    <div class="form-control-static">
                        @Model.RetrievalRefNumber
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Auth-ID: </label>
                    <div class="form-control-static">
                        @Model.AuthID
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


