@model EIRS.BOL.usp_SFTP_GetDataSubmissionList_Result

@{
    ViewBag.Title = "Data Submission Details";
}

<div class="title">
    <h1>
        Data Submission
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Data Submission Details
        </div>
        <div class="actions">
            <a href="@Url.Action("Log","DataSubmitterPanel")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Submission Ref No: </label>
                    <div class="form-control-static">
                        @Model.SubmissionRefNo
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Submission Date: </label>
                    <div class="form-control-static">
                        @CommUtil.GetFormatedDate(Model.SubmissionDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Tax Year: </label>
                    <div class="form-control-static">
                        @Model.TaxYear
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Data Submission Type: </label>
                    <div class="form-control-static">
                        @Model.DataSubmissionTypeName
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Template: </label>
                    <div class="form-control-static">
                        @if (!string.IsNullOrWhiteSpace(Model.DocumentPath))
                        {
                            <a href="/Document/@Model.DocumentPath" target="_blank">Download</a>
                        }
                        else
                        {
                            @:-
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
