@model IList<EIRS.BOL.usp_SFTP_GetDataSubmissionList_Result>
@{
    ViewBag.Title = "SFTP - Data Submission List";
}

<div class="title">
    <h1>SFTP - Data Submission List</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            List of Data Submission
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblDataSubmission">
            <thead class="red-th">
                <tr>
                    <th>Submission Ref No</th>
                    <th>Submission Date</th>
                    <th class="none">Tax Year</th>
                    <th>Submission Type</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SubmissionRefNo</td>
                            <td>@CommUtil.GetFormatedDate(item.SubmissionDate)</td>
                            <td>@item.TaxYear</td>
                            <td>@item.DataSubmissionTypeName</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="@Url.Action("Details","DataSubmitterPanel", new { id = item.DataSubmissionID, name=item.SubmissionRefNo.ToSeoUrl()})">
                                                View Details
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblDataSubmission'), [{
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }], 'No Data Submission Found', vSortOrder);
        });
    </script>
}
