@model IList<EIRS.Web.AssetDetails>
@using EIRS.Common

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Assets</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssetList">
            <thead class="red-th">
                <tr>
                    <th>Asset Type</th>
                    <th>Asset Name</th>
                    <th>Tax Payer Role</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vAsset in Model)
                {

                    <tr>
                        <td>@vAsset.AssetTypeName</td>
                        <td>@vAsset.AssetName</td>
                        <td>@vAsset.TaxPayerRoleName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_ShowAssetDetails(@vAsset.TPAID)">Quick View</a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:jsfn_LinkAssetInformation(@vAsset.AssetID,@vAsset.AssetTypeID,@vAsset.RowID)">
                                            Select
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
