@model IList<EIRS.BOL.usp_GetIndividualList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblIndividual">
    <thead class="red-th">
        <tr>
            <th>EIN</th>
            <th>Individual Name</th>
            <th>TIN</th>
            <th class="desktop">Address</th>
            <th class="action-th all">Action</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    {
        <tbody>
            @foreach (var vIndividual in Model)
            {
                <tr>
                    <td>@vIndividual.IndividualRIN</td>
                    <td>@vIndividual.FirstName @vIndividual.LastName</td>
                    <td>@vIndividual.TIN</td>
                    <td>@vIndividual.ContactAddress</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a onclick="javascript:jsfn_IndividualInformation(@vIndividual.IndividualID)">
                                        Quick View
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ConvertIndividualToGovernment", "ConvertTaxPayer", new { id = vIndividual.IndividualID, name=vIndividual.IndividualRIN.ToSeoUrl() })">
                                        Convert Tax Payer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

