@model EIRS.Models.GovernmentViewModel

@{
    ViewBag.Title = "Convert to Government";
    IList<AssetDetails> lstAsset = (IList<AssetDetails>)ViewBag.AssetList;
}

<div class="title">
    <h1>
        Convert Government Tax Payer
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Convert Individual
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div id="dvMessage"></div>
    <div class="portlet-body">
        @using (Html.BeginForm("ConvertToGovernment", "ConvertTaxPayer", FormMethod.Post, htmlAttributes: new { @id = "frmAddGovernment" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.GovernmentID, htmlAttributes: new { @value = Model.GovernmentID })
            @Html.HiddenFor(model => model.GovernmentRIN, htmlAttributes: new { @value = Model.GovernmentRIN })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div id="dvStep1">

                @{Html.RenderPartial("_BindGovernmentForm", Model);}


                <div class="row">
                    <div class="text-right col-sm-12">
                        <div class="form-group">
                            <button class="btn-theme btn" id="btnStep1next">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dvStep2" style="display:none">
                @Html.Hidden("hdnRowID")

                <div id="dvBindData">
                    @{Html.RenderPartial("_BindAssetTable", lstAsset);}
                </div>
                <div class="row">
                    <div class="text-right col-sm-12">
                        <div class="form-group">
                            <button class="btn-theme btn" id="btnStep2Next">Next</button>
                            <button class="btn-theme btn" id="btnStep2Prev">Previous</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dvStep3" style="display:none">

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Government Tax Payer Information
                        </div>
                    </div>
                    <div class="row view-form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label bold">Government Name: </label>
                                <div class="form-control-static">
                                    <label><span id="txtGovernmentName"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer TIN: </label>
                                <div class="form-control-static">
                                    <label><span id="txtTIN"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Government Type: </label>
                                <div class="form-control-static">
                                    <label><span id="txtGovernmentType"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label bold">Tax Office: </label>
                                <div class="form-control-static">
                                    <label><span id="txtTaxOffice"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer Type: </label>
                                <div class="form-control-static">
                                    <label><span id="txtPayerType"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Email Address : </label>
                                <div class="form-control-static">
                                    <label><span id="txtEmail"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label bold">Contact Number: </label>
                                <div class="form-control-static">
                                    <label><span id="txtNumber"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Notification Method: </label>
                                <div class="form-control-static">
                                    <label><span id="txtNotficationMethod"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Contact  Address: </label>
                                <div class="form-control-static">
                                    <label><span id="txtContactAddress"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label bold">Contact Name: </label>
                                <div class="form-control-static">
                                    <label><span id="txtContactName"></span></label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="dvBindDetailData">
                    @{Html.RenderPartial("_BindAssetDetails", lstAsset);}
                </div>


                <div class="row">
                    <div class="text-right col-sm-12">
                        <div class="form-group">
                            <button class="btn-theme btn" id="btnStep3Next">Submit</button>
                            <button class="btn-theme btn" id="btnStep3Prev">Previous</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    Html.RenderPartial("_CompanyDetailPopup");
    Html.RenderPartial("_BuildingDetailPopup");
    Html.RenderPartial("_VehicleDetailPopup");
    Html.RenderPartial("_BusinessDetailPopup");
    Html.RenderPartial("_LandDetailPopup");
    Html.RenderPartial("_BindLinkAssetPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsIndividualToGovernmentDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}