@model EIRS.Models.BuildingViewModel

@{
    ViewBag.Title = "Add Building Asset";
    IList<Building_BuildingUnit> lstBuildingUnit = (IList<Building_BuildingUnit>)ViewBag.BuildingUnitList;
}

<div class="title">
    <h1>
        Building Assets
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Add New Building
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Add", "ProfileBuilding", FormMethod.Post, htmlAttributes: new { @id = "frmAddBuilding" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Hidden("hdnBuildingUnitCount", lstBuildingUnit.Count(), new { @id= "hdnBuildingUnitCount" })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            Html.RenderPartial("_BindBuildingForm", Model);
        }
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Units in Building
        </div>
        <div class="actions">
            <a class="btn btn-redtheme" onclick="javascript: jsfn_AddBuildingUnit();">
                Add Unit
            </a>
        </div>
    </div>
    <div class="portlet-body" id="dvBuildingUnitData">
        @{ Html.RenderPartial("_BindBuildingUnitTable", lstBuildingUnit); }
    </div>
    <div class="portlet-footer text-right">
        <button class="btn-theme btn" id="btnSaveBuilding">Save</button>
    </div>
</div>

@{ Html.RenderPartial("_BindBuildingUnitForm"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsAddEditBuilding.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
