@model EIRS.Models.LateChargeViewModel

@{
    ViewBag.Title = "Edit Late Charge";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Late Charge
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditLateCharge">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                        <h2>Edit Late Charge</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Edit", "LateCharge", FormMethod.Post, htmlAttributes: new { @class = "smart-form", @id="frmLateCharge" }))
                            {
                                <header>
                                    Late Charge Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.LateChargeID, htmlAttributes: new { @value = Model.LateChargeID })

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                    <fieldset>
                                        <section>
                                            @Html.LabelFor(model => model.RevenueStreamID, htmlAttributes: new { @class = "label required" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.RevenueStreamID, (SelectList)ViewBag.RevenueStreamList, "Select Revenue Stream", htmlAttributes: new { @tabindex = "1", @class = "select2", @width = "100%" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.RevenueStreamID, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.TaxYear, htmlAttributes: new { @class = "label required" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.TaxYear, (SelectList)ViewBag.YearList, "Select Tax Year", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.TaxYear, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.Penalty, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.Penalty, htmlAttributes: new { @tabindex = "3", @placeholder = "Enter Penalty" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter Penalty
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.Penalty, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.Interest, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.Interest, htmlAttributes: new { @tabindex = "4", @placeholder = "Enter Interest" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter Interest
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.Interest, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "label" })
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(model => model.Active, htmlAttributes: new { @tabindex = "3" })
                                                <i></i> Active
                                            </label>
                                        </section>
                                    </fieldset>
                                <footer>
                                    <a id="btnSubmit" class="btn btn-primary">
                                        Submit
                                    </a>
                                    <a href="@Url.Action("List","LateCharge")" class="btn btn-default" >
                                        Back
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Footer {
    <script type="text/javascript" src="~/Scripts/jsLateChargeDetails.js"></script>
    }