@model PagedList.IPagedList<EIRS.Chart.DTOs.ChartResponse>
@using PagedList.Mvc;

<div class="mt-element-card mt-element-overlay">
    <div class="row less-space">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="mt-card-item">
                    <div class="mt-card-avatar">
                        <a href="@Url.Action(item.ActionName,item.ControllerName, new { area = item.AreaName })">
                            <img src="~/Content/Images/Charts/@item.ImageUrl" class="img-responsive">
                        </a>
                    </div>
                    <div class="mt-card-content">
                        <a href="@Url.Action(item.ActionName,item.ControllerName, new { area = item.AreaName })">
                            @item.ChartName
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="dataTables_info" aria-live="polite">
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount entries
        </div>
    </div>
    <div class="col-md-7 col-sm-7">
        <div class="dataTables_paginate paging_bootstrap_number">
            @Html.PagedListPager(Model, 
           page => Url.Action("Search", 
                               new { page, 
                                   DataSegement = ViewBag.DataSegement, 
                                   DataReference = ViewBag.DataReference, 
                                   XAxisData = ViewBag.XAxisData, 
                                   XAxisBaseData = ViewBag.XAxisBaseData }), 
           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() {
            DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            Display = PagedListDisplayMode.Always,
            LiElementClasses = new List<string> { "myClass", "yourClass" }, 
            MaximumPageNumbersToDisplay = 10 }, 
            new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "dvData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }))
        </div>
    </div>
</div>



