@model IList<EIRS.Chart.DTOs.AssessmentLGAStatusChartResponse>
@{
    var vLGAList = Model.Select(t => new { t.LGAID, t.LGAName }).Distinct();
    var vSeriesList = Model.Select(t => new { t.SeriesDate }).Distinct().OrderBy(t => t.SeriesDate);
    int DisplayTypeId = (int)ViewData["DisplayTypeId"];
    int PeriodId = (int)ViewData["PeriodId"];
}


<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssessmentLGA">
    <thead class="red-th">
        <tr>
            <th>LGA</th>
            @foreach (var item in vSeriesList)
            {
                if (PeriodId == 1)
                {
                    <th>@item.SeriesDate.Year</th>
                }
                else if (PeriodId == 2)
                {
                    <th class="none">@item.SeriesDate.ToString("MMM-yyyy")</th>
                }
                else
                {
                    <th class="none">@item.SeriesDate.ToString("dd-MMM-yyyy")</th>
                }
            }
            <th class="desktop">Total</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    {
<tbody>
    @foreach (var lga in vLGAList)
    {
        <tr>
            <td>@lga.LGAName</td>
            @foreach (var item in vSeriesList)
            {
                if (Model.Where(t => t.LGAID == lga.LGAID && t.SeriesDate == item.SeriesDate).Any())
                {
                    if (DisplayTypeId == 1)
                    {
                        <td>@CommUtil.GetFormatedCurrency(Model.Where(t => t.LGAID == lga.LGAID && t.SeriesDate == item.SeriesDate).FirstOrDefault().TotalAmount)</td>
                    }
                    else
                    {
                        <td>@Model.Where(t => t.LGAID == lga.LGAID && t.SeriesDate == item.SeriesDate).FirstOrDefault().TotalCount</td>
                    }
                }
                else
                {
                    if (DisplayTypeId == 1)
                    {
                        <td>@CommUtil.GetFormatedCurrency(0)</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                }
            }

            @if (DisplayTypeId == 1)
            {
                <td>@(CommUtil.GetFormatedCurrency(Model.Where(t=>t.LGAID == lga.LGAID).Sum(t=>t.TotalAmount)))</td>
            }
            else
            {
                <td>@(Model.Where(t=>t.LGAID == lga.LGAID).Sum(t=>t.TotalCount))</td>
            }
        </tr>
    }
<tr class="ctotal">
                <td>Totals</td>
                @foreach (var item in vSeriesList)
                {
                    if (DisplayTypeId == 1)
                    {
                        <td>@(CommUtil.GetFormatedCurrency(Model.Where(t => t.SeriesDate == item.SeriesDate).Sum(t => t.TotalAmount)))</td>
                    }
                    else
                    {
                        <td>@(Model.Where(t => t.SeriesDate == item.SeriesDate).Sum(t => t.TotalCount))</td>
                    }
                }

                @if (DisplayTypeId == 1)
                {
                    <td>@(CommUtil.GetFormatedCurrency(Model.Sum(t => t.TotalAmount)))</td>
                }
                else
                {
                    <td>@(Model.Sum(t => t.TotalCount))</td>
                }
            </tr>
</tbody>
    }
</table>
