@model EIRS.Models.APBusinessViewModel

@{
    ViewBag.Title = "Update Auto Profiler Default Values - Business";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-briefcase"></i>
                Auto Profiler Defaults - Business
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditBusiness">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                        <h2>Update Business</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("UpdateBusiness", "AutoProfiler", FormMethod.Post, htmlAttributes: new { @class = "smart-form", @id = "frmBusiness" }))
                            {
                                <header>
                                    Auto Profiler Business Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.BusinessID, htmlAttributes: new { @value = Model.BusinessID })
                                //  @Html.HiddenFor(model => model.BusinessRIN, htmlAttributes: new { @value = Model.BusinessRIN })

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessRIN, htmlAttributes: new { @class = "label" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.BusinessRIN, htmlAttributes: new { @placeholder = "Enter Business RIN" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Auto numbering by system
                                            </b>
                                        </label>
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessName, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.BusinessName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter Business Name" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Business Name
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessName, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.AssetTypeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.AssetTypeID, (SelectList)ViewBag.AssetTypeList, "Select Asset Type", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%", @disabled = "true" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.AssetTypeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessTypeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.BusinessTypeID, (SelectList)ViewBag.BusinessTypeList, "Select Business Type", htmlAttributes: new { @tabindex = "3", @class = "select2", @id = "cboBusinessType", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessTypeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.LGAID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.LGAID, (SelectList)ViewBag.LGAList, "Select Business LGA", htmlAttributes: new { @tabindex = "4", @id = "cboLGA", @class = "select2", @data_select_width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.LGAID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessCategoryID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.BusinessCategoryID, (SelectList)ViewBag.BusinessCategoryList, "Select Business Category", htmlAttributes: new { @tabindex = "5", @id = "cboBusinessCategory", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessCategoryID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessSectorID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.BusinessSectorID, (SelectList)ViewBag.BusinessSectorList, "Select Business Sector", htmlAttributes: new { @tabindex = "6", @id = "cboBusinessSector", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessSectorID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessSubSectorID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.BusinessSubSectorID, (SelectList)ViewBag.BusinessSubSectorList, "Select Business Sub Sector", htmlAttributes: new { @tabindex = "7", @id = "cboBusinessSubSector", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessSubSectorID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessStructureID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.BusinessStructureID, (SelectList)ViewBag.BusinessStructureList, "Select Business Structure", htmlAttributes: new { @tabindex = "8", @id = "cboBusinessStructure", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessStructureID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessOperationID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.BusinessOperationID, (SelectList)ViewBag.BusinessOperationList, "Select Business Operation", htmlAttributes: new { @tabindex = "9", @id = "cboBusinessOperation", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.BusinessOperationID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.SizeID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.SizeID, (SelectList)ViewBag.SizeList, "Select Premises Size", htmlAttributes: new { @tabindex = "10", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.SizeID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.ContactName, htmlAttributes: new { @tabindex = "11", @placeholder = "Enter Contact Name" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Contact Name
                                            </b>
                                        </label>
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessNumber, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.BusinessNumber, htmlAttributes: new { @tabindex = "12", @placeholder = "Enter Business Number" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Business Number
                                            </b>
                                        </label>
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.BusinessAddress, htmlAttributes: new { @class = "label required" })
                                        <label class="textarea">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextAreaFor(model => model.BusinessAddress, htmlAttributes: new { @tabindex = "13", @placeholder = "Enter Business Address", @Rows = "5" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter Business Address
                                            </b>
                                        </label>
                                    </section>

                                </fieldset>
                                <footer>
                                    <input type="submit" class="btn-theme btn" value="Update" tabindex="3" id="btnSubmit" />

                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>