@model IList<EIRS.BOL.usp_GetSettlementList_Result>
@using EIRS.Common
@{
    ViewBag.Title = "Corporate Settlement List";
}


<div class="title">
    <h1>
        Corporate Settlement
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Corporate Settlement</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblSettlementList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer</th>
                    <th class="desktop">Bill Ref</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th class="desktop">Method</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TaxPayerName</td>
                        <td>@item.ASRefNo</td>
                        <td>@CommUtil.GetFormatedDate(item.SettlementDate)</td>
                        <td>@CommUtil.GetFormatedCurrency(item.SettlementAmount)</td>
                        <td>@item.SettlementMethodName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_SettlementDetails(@item.SettlementID)">View Details</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_SettlementDetailPopup");
}


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsSettlementList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


