@model EIRS.Models.TaxOfficeViewModel
@using EIRS.BOL

@{
    ViewBag.Title = "Edit Tax Office";
    IList<TaxOfficeAddress> lstTaxOfficeAddress = (IList<TaxOfficeAddress>)ViewBag.TaxOfficeAddressList;
    IList<usp_GetBuildingList_Result> lstBuilding = (IList<usp_GetBuildingList_Result>)ViewBag.BuildingList;
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                Tax Office
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artTaxOffice">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditTaxOffice">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                        <h2>Edit Tax Office</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            <form method="post" class="smart-form" id="frmTaxOfficeInformation">
                                <header>
                                    Tax Office Details
                                </header>
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                            <fieldset>
                                <section>
                                    @Html.LabelFor(model => model.TaxOfficeName, htmlAttributes: new { @class = "label required" })
                                    <label class="input">
                                        <i class="icon-append fa fa-question-circle"></i>
                                        @Html.TextBoxFor(model => model.TaxOfficeName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter tax office name", @id = "txtTaxOfficeName" })
                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Enter tax office name
                                        </b>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.TaxOfficeName, "", htmlAttributes: new { @class = "help-block" })
                                </section>
                                <section>
                                    @Html.LabelFor(model => model.Approver1, htmlAttributes: new { @class = "label required" })
                                    <label class="input">
                                        <i class="icon-append fa fa-question-circle"></i>
                                        @Html.DropDownListFor(model => model.Approver1, (SelectList)ViewBag.UserList, "Select Approver 1", htmlAttributes: new { @tabindex = "2", @placeholder = "Select Approver 1 for eTCC", @class = "select2", @width = "100%", @id = "cboApprover1" })
                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Select Approver 1 for eTCC
                                        </b>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Approver1, "", htmlAttributes: new { @class = "help-block" })
                                </section>
                                <section>
                                    @Html.LabelFor(model => model.Approver2, htmlAttributes: new { @class = "label required" })
                                    <label class="input">
                                        <i class="icon-append fa fa-question-circle"></i>
                                        @Html.DropDownListFor(model => model.Approver2, (SelectList)ViewBag.UserList, "Select Approver 2", htmlAttributes: new { @tabindex = "3", @placeholder = "Select Approver 2 for eTCC", @class = "select2", @width = "100%", @id = "cboApprover2" })
                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Select Approver 2 for eTCC
                                        </b>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Approver2, "", htmlAttributes: new { @class = "help-block" })
                                </section>
                                <section>
                                    @Html.LabelFor(model => model.Approver3, htmlAttributes: new { @class = "label required" })
                                    <label class="input">
                                        <i class="icon-append fa fa-question-circle"></i>
                                        @Html.DropDownListFor(model => model.Approver3, (SelectList)ViewBag.UserList, "Select Approver 3", htmlAttributes: new { @tabindex = "4", @placeholder = "Select Approver 3 for eTCC", @class = "select2", @width = "100%", @id = "cboApprover3" })
                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Select Approver 3 for eTCC
                                        </b>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Approver3, "", htmlAttributes: new { @class = "help-block" })
                                </section>
                                <section>
                                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "label" })
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(model => model.Active, htmlAttributes: new { @tabindex = "2",@id="chkActive" })
                                        <i></i> Active
                                    </label>
                                </section>
                            </fieldset>
                                <footer>
                                    <button id="btnNext" class="btn btn-primary">
                                        Next
                                    </button>
                                    <a href="@Url.Action("List", "TaxOffice")" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </form>
                            @using (Html.BeginForm("Edit", "TaxOffice", FormMethod.Post, htmlAttributes: new { @id = "frmTaxOfficeRecordLink", @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.TaxOfficeID, htmlAttributes: new { @value = Model.TaxOfficeID })
                                @Html.HiddenFor(model => model.TaxOfficeName, htmlAttributes: new { @id = "hdnTaxOfficeName" })
                                @Html.HiddenFor(model => model.Approver1, htmlAttributes: new { @id = "hdnApprover1" })
                                @Html.HiddenFor(model => model.Approver2, htmlAttributes: new { @id = "hdnApprover2" })
                                @Html.HiddenFor(model => model.Approver3, htmlAttributes: new { @id = "hdnApprover3" })
                                @Html.HiddenFor(model => model.Active, htmlAttributes: new { @id = "hdnActive" })

                                <header>
                                    Record Links
                                </header>

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Office </label>
                                        <div class="col-md-10 form-control-static">
                                            <label id="lblTaxOfficeName"></label>
                                        </div>
                                    </div>
                                    <section class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <i class="fa fa-chevron-right"></i> <a id="aTaxOfficeAddress">Tax Office Address  - <span id="spnTOARecordCount">@SessionManager.lstTaxOfficeAddress.Count()</span> Values</a>
                                                </div>

                                            </li>
                                        </ol>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button id="btnEditFinalSave" class="btn btn-primary">
                                        Save
                                    </button>
                                    <a id="btnRLBack" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            }
                            <div class="smart-form" id="dvTaxOfficeAddressList">
                                <header>
                                    Record Link - Tax Office Addresses
                                    <button id="btnTOAAdd" class="btn btn-primary pull-right">
                                        Add New Record
                                    </button>
                                </header>

                                <fieldset>
                                    <table id="tbTaxOffice" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Address Type</th>
                                                <th>Building RIN</th>
                                                <th>Building Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyTaxOfficeAddressList">
                                            @{Html.RenderPartial("_BindTaxOfficeAddress", lstTaxOfficeAddress);}
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <a id="btnTOABack" class="btn btn-primary">
                                        Next
                                    </a>
                                    <a href="@Url.Action("List", "TaxOffice")" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </div>
                            <form method="post" class="smart-form" id="frmTaxOfficeAddressType">
                                <header>
                                    Tax Office Address Details
                                </header>

                                <fieldset>
                                    <section>
                                        <label class="label">Address Type</label>
                                        <label class="input">
                                            @Html.DropDownList("AddressType", (SelectList)ViewBag.AddressTypeList, "Select Address Type", htmlAttributes: new { @tabindex = "2", @id = "cboAddressType", @class = "select2", @width = "100%" })
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button id="btnTOADNext" class="btn btn-primary">
                                        Next
                                    </button>
                                    <a id="btnTOADBack" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </form>
                            <div class="smart-form" id="dvTaxOfficeBuilding">
                                <header>
                                    Tax Office Building
                                </header>
                                <button id="btnBackTaxOfficeBuilding" class="btn btn-default pull-right">
                                    Back
                                </button>
                                <fieldset>
                                    <table id="tbBuilding" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building RIN" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Tag Number" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Name" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Number" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Street Name" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Off Street Name" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Town" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter LGA" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Ward" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Type" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Completion" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Purpose" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Ownership" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter No Of Units" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Size – Length (Sqm)" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Building Size – Width (Sqm)" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Latitude" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Longitude" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filter Status" />
                                                </th>
                                                <th style="width:10%"></th>
                                            </tr>
                                            <tr>
                                                <th data-class="expand">Building RIN</th>
                                                <th>Building Tag Number</th>
                                                <th>Building Name</th>
                                                <th>Building Number</th>
                                                <th>Street Name</th>
                                                <th>Off Street Name</th>
                                                <th>Town</th>
                                                <th>LGA</th>
                                                <th>Ward</th>
                                                <th>Building Type</th>
                                                <th>Building Completion</th>
                                                <th>Building Purpose</th>
                                                <th>Building Ownership</th>
                                                <th>No of Units</th>
                                                <th>Building Size – Length (Sqm) </th>
                                                <th>Building Size – Width (Sqm) </th>
                                                <th>Latitutde</th>
                                                <th>Longitude</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div id="dvBuildingDetails" title="Building Details">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building RIN</label>
                    <div id="dvBuildingRIN">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Tag Number</label>
                    <div id="dvBuildingTagNumber">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Name</label>
                    <div id="dvBuildingName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Number</label>
                    <div id="dvBuildingNumber">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Street Name</label>
                    <div id="dvStreetName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Off Street Name</label>
                    <div id="dvOffStreetName">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Town</label>
                    <div id="dvTown">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">LGA</label>
                    <div id="dvLGA">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Ward</label>
                    <div id="dvWard">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Asset Type</label>
                    <div id="dvAssetType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Type</label>
                    <div id="dvBuildingType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Completion</label>
                    <div id="dvBuildingCompletion">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Purpose</label>
                    <div id="dvBuildingPurpose">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Function</label>
                    <div id="dvBuildingFunction">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Ownership</label>
                    <div id="dvBuildingOwnership">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Building Occupancy</label>
                    <div id="dvBuildingOccupancy">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Occupancy Type</label>
                    <div id="dvBuildingOccupancyType">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Latitude</label>
                    <div id="dvLatitude">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label control-label-static">Longitude</label>
                    <div id="dvLongitude">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer {
    <script Function="text/javascript" src="~/Scripts/jsTaxOfficeDetails.js"></script>
    }