@model IList<EIRS.BOL.usp_GetGovernmentList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.GovernmentRIN</td>
            <td>@item.GovernmentName</td>
            <td>@item.TIN</td>
            <td>@item.GovernmentTypeName</td>
            <td>@item.TaxOfficeName</td>
            <td>@item.TaxPayerTypeName</td>
            <td>@item.ContactName</td>
            <td>@item.ContactEmail</td>
            <td>@item.ContactNumber</td>
            <td>@item.NotificationMethodName</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Government", new { id = item.GovernmentID, name=item.GovernmentName.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Government", new { id = item.GovernmentID, name=item.GovernmentName.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddressInformationList", "Government", new { id = item.GovernmentID, name=item.GovernmentName.ToSeoUrl() })">
                                Address Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssetList", "Government", new { id = item.GovernmentID, name=item.GovernmentRIN.ToSeoUrl() })">
                                Asset Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ShowProfileInformation(@item.GovernmentID,'@item.GovernmentRIN','@item.GovernmentName')">
                                Profile Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ShowAssessmentRuleInformation(@item.GovernmentID,'@item.GovernmentRIN','@item.GovernmentName')">
                                Assessment Rule Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssessmentList", "Government", new { id = item.GovernmentID, name=item.GovernmentRIN.ToSeoUrl() })">
                                Assessment Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.GovernmentID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
