@model EIRS.Models.GovernmentViewModel

@{
    ViewBag.Title = "Add Government";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-archive"></i>
                Government
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddGovernment">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add Government</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Add", "Government", FormMethod.Post, htmlAttributes: new { @class = "smart-form" }))
                            {
                                <header>
                                    Government Details
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                    <fieldset>
                                        <section>
                                            @Html.LabelFor(model => model.GovernmentName, htmlAttributes: new { @class = "label required" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.GovernmentName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter Government name" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter Government name
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.GovernmentName, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.TIN, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.TIN, htmlAttributes: new { @tabindex = "2", @placeholder = "Enter tax identification number from JTB if available" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter tax identification number from JTB if available
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.TIN, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.GovernmentTypeID, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.GovernmentTypeID, (SelectList)ViewBag.GovernmentTypeList, "Select Government Type", htmlAttributes: new { @tabindex = "13", @class = "select2", @width = "100%" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.GovernmentTypeID, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.TaxOfficeID, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.TaxOfficeID, (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", htmlAttributes: new { @tabindex = "13", @id = "cboTaxOffice", @class = "select2", @width = "100%" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.TaxOfficeID, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.TaxPayerTypeID, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.TaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", htmlAttributes: new { @tabindex = "16", @class = "select2", @id = "cboTaxPayerTypeID", @width = "100%", @disabled = "true" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.TaxPayerTypeID, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.ContactName, htmlAttributes: new { @tabindex = "11", @placeholder = "Enter Contact Name" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter Contact Name
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.ContactName, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.ContactEmail, htmlAttributes: new { @tabindex = "11", @placeholder = "Enter Contact Email" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter Contact Email
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.ContactEmail, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-question-circle"></i>
                                                @Html.TextBoxFor(model => model.ContactNumber, htmlAttributes: new { @tabindex = "11", @placeholder = "Enter Contact Number" })
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Enter Contact Number
                                                </b>
                                            </label>
                                            @Html.ValidationMessageFor(model => model.ContactNumber, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                        <section>
                                            @Html.LabelFor(model => model.NotificationMethodID, htmlAttributes: new { @class = "label required" })
                                            <label class="input">
                                                @Html.DropDownListFor(model => model.NotificationMethodID, (SelectList)ViewBag.NotificationMethodList, "Select Notification Method", htmlAttributes: new { @tabindex = "18", @class = "select2", @width = "100%" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.NotificationMethodID, "", htmlAttributes: new { @class = "help-block" })
                                        </section>
                                    </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" tabindex="18">
                                        Submit
                                    </button>
                                    <a href="@Url.Action("List","Government")" class="btn btn-default" tabindex="19">
                                        Back
                                    </a>
                                </footer>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Footer {
    <script type="text/javascript" src="~/Scripts/jsGovernmentDetails.js"></script>
}