@model IList<EIRS.BOL.usp_GetAPIUserRightList_Result>
@using EIRS.BOL;
@{
    ViewBag.Title = "User API Access Details";
    usp_GetAPIList_Result mObjAPIData = (usp_GetAPIList_Result)ViewBag.APIDetails;
}

<div class="title">
    <h1>
        Manage API : User Access List
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            User Access Rights
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("UserAccess", "API", FormMethod.Post, htmlAttributes: new {  }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("hdnAPIID", mObjAPIData.APIID, htmlAttributes: new { @Value = mObjAPIData.APIID, @id = "hdnAPIID" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label bold">API Name :</label>
                    <div class="form-control-static">
                        @mObjAPIData.APIName
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <table class="dt-responsive table table-bordered v-middle" width="100%">
                    <thead class="red-th">
                        <tr>
                            <th>Partner Name</th>
                            <th class="text-center">API Access</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @item.UserName
                            </td>
                            <td class="text-center">
                                @Html.CheckBox("chkUserAccess_" + item.UAID, item.APIAccess.GetValueOrDefault(), new Dictionary<string, object> { { "data-checkbox", "icheckbox_square-green" }, { "class", "icheck" }, { "tabindex", "6" } })
                            </td>
                        </tr>

                }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-theme" tabindex="7">Update</button>
            </div>
        </div>
}
    </div>
</div>

