@model EIRS.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<div class="title">
    <h1>
        Manage Users : Change Password
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Change Password
        </div>
        <div class="actions">
            
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @tabindex = "1", @placeholder = "Enter Old Password" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @tabindex = "2", @placeholder = "Enter New Password" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @tabindex = "3", @placeholder = "Enter Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <br />
                        <input type="submit" class="btn btn-theme" tabindex="4" value="Update" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

