@using EIRS.Web.GISModels
@{
    ViewBag.Title = "Declined";
    IList<usp_GetAssessmentForPendingOrDeclined_Result> lstProfileInformation = (IList<usp_GetAssessmentForPendingOrDeclined_Result>)ViewBag.ProfileInformation;

}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Declined Approvals</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblDendingList">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Taxpayer Name</th>
                    <th>Assessment Id</th>
                    <th>Amount</th>
                    <th>Name Of The Tax Officer</th>
                    <th>Tax Office Name</th>
                    <th>Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var vProfile in lstProfileInformation)
                {
                    <tr>
                        <td>@vProfile.TaxPayerRIN</td>
                        <td>@vProfile.TaxPayerName</td>
                        <td>@vProfile.AssessmentID</td>
                        <td>@vProfile.Amount</td>
                        <td>@vProfile.TaxOfficerName</td>
                        <td>@vProfile.TaxOfficeName</td>
                        <td>@vProfile.Status</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("BillDetailFromDecline", "CaptureIndividual", new {id=vProfile.ID, billid = vProfile.AssessmentID, billrefno = vProfile.AssessmentRefNo })">
                                            View Bill
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="/Content/plugins/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsIndividualDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script src="~/Scripts/jsTaxPayerMessage.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber" type="text/javascript"></script>
}
