@model MenuScreenViewModel
@using EIRS.BOL
@using EIRS.Models
@{
    /**/

    ViewBag.Title = "Add Screen";
    IList<usp_GetScreenList_Result> lstScreen = (IList<usp_GetScreenList_Result>)ViewBag.ScreenList;
    CentralMenuViewModel mObjMenuData = (CentralMenuViewModel)ViewBag.MenuData;
}

<div class="title">
    <h1>
        Manage Central Menus : Add Screen
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Central Menu Details
        </div>
        <div class="actions">
            <a href="@Url.Action("List","CentralMenu")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Parent Menu: </label>
                    <div class="form-control-static">
                        @mObjMenuData.ParentCentralMenuName
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Menu Name: </label>
                    <div class="form-control-static">
                        @mObjMenuData.CentralMenuName
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Sort Order: </label>
                    <div class="form-control-static">
                        @mObjMenuData.SortOrder
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Status: </label>
                    <div class="form-control-static">
                        @mObjMenuData.ActiveText
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Add Screen</div>
        <div class="actions">
            <button id="btnSave" class="btn btn-redtheme">Save</button>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AddScreen", "CentralMenu", FormMethod.Post, htmlAttributes: new { @id = "frmScreen" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.MenuID, new { @value = Model.MenuID, @id = "hdnMenuID" })
            @Html.HiddenFor(m => m.ScreenIds, new { @id = "hdnScreenIds" })
            @Html.HiddenFor(m => m.MainScreenID, new { @id = "hdnMainScreenId" })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblScreen">
                <thead class="red-th">
                    <tr>
                        <th class="all"> Screen Name </th>
                        <th> Screen Url </th>
                        <th class="action-th all"> Action </th>
                        <th class="action-th all"> Main Screen </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstScreen)
                    {
                        <tr>
                            <td>@item.ScreenName</td>
                            <td>@item.ScreenUrl</td>
                            <td>
                                @Html.CheckBox("chkScreen_" + item.ScreenID, new { @class = "icheck chkscreen", @data_checkbox = "icheckbox_square-green", @data_screenid = item.ScreenID, @title = "Tick To Select", })
                            </td>
                            <td>
                                @Html.RadioButton("rbScreen", item.ScreenID, new { @class = "icheck rbscreen", @data_radio = "iradio_square-green", @data_screenid = item.ScreenID, @title = "Tick To Select" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsCentralMenuDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}