@model EIRS.Models.CentralMenuViewModel

@{
    ViewBag.Title = "Central Menu Details";
}

<div class="title">
    <h1>
        Manage Central Menus : Central Menu Details
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Central Menu Details
        </div>
        <div class="actions">
            <a href="@Url.Action("List","CentralMenu")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Parent Menu: </label>
                    <div class="form-control-static">
                        @Model.ParentCentralMenuName
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Menu Name: </label>
                    <div class="form-control-static">
                        @Model.CentralMenuName
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Sort Order: </label>
                    <div class="form-control-static">
                        @Model.SortOrder
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Status: </label>
                    <div class="form-control-static">
                        @Model.ActiveText
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
