@model EIRS.Models.CentralMenuViewModel

@{
    ViewBag.Title = "Edit Central Menu";
}

<div class="title">
    <h1>
        Manage Central Menus : Edit Central Menu
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Edit Central Menu
        </div>
        <div class="actions">
            <a href="@Url.Action("List","CentralMenu")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "CentralMenu", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.CentralMenuID, htmlAttributes: new { @value = Model.CentralMenuID })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ParentCentralMenuID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ParentCentralMenuID, (SelectList)ViewBag.ParentMenuList, "Select Parent Menu", htmlAttributes: new { @class = "form-control bs-select", @tabindex = "1" })
                        @Html.ValidationMessageFor(model => model.ParentCentralMenuID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CentralMenuName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.CentralMenuName, htmlAttributes: new { @class = "form-control", @tabindex = "2", @placeholder = "Enter Central Menu Name" })
                        @Html.ValidationMessageFor(model => model.CentralMenuName, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SortOrder, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.SortOrder, htmlAttributes: new { @class = "form-control", @tabindex = "3", @placeholder = "Enter Sort Order" })
                        @Html.ValidationMessageFor(model => model.SortOrder, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label" })
                        <br />
                        @Html.CheckBoxFor(model => model.Active, new Dictionary<string, object> { { "data-checkbox", "icheckbox_square-green" }, { "class", "icheck form-control" }, { "tabindex", "4" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <br />
                        <input type="submit" class="btn btn-theme" tabindex="5" value="Update" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>
