@model IList<EIRS.BOL.usp_GetCentralMenuList_Result>
@using EIRS.Common

<table class="dt-responsive table table-bordered v-middle" width="100%" id="tblCentralMenu">
    <thead class="red-th">
        <tr>
            <th> Menu Name </th>
            <th> Parent Menu </th>
            <th> Sort Order </th>
            <th class="desktop"> Status </th>
            <th class="action-th all"> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CentralMenuName</td>
            <td>@item.ParentCentralMenuName</td>
            <td>@item.SortOrder</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Edit", "CentralMenu", new { id = item.CentralMenuID, name=item.CentralMenuName.ToSeoUrl() })">
                                Edit Menu
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Details","CentralMenu", new { id = item.CentralMenuID, name=item.CentralMenuName.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ScreenList","CentralMenu", new { id = item.CentralMenuID, name=item.CentralMenuName.ToSeoUrl()})">
                                Manage Screens
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

