@model EIRS.Models.BusinessViewModel

@{
    ViewBag.Title = "Edit Business Asset";
}

<div class="title">
    <h1>
        Business Asset
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Update Business
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "ProfileBusiness", FormMethod.Post, htmlAttributes: new { @id = "frmAddBusiness" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.BusinessID, htmlAttributes: new { @value = Model.BusinessID })
            @Html.HiddenFor(model => model.BusinessRIN, htmlAttributes: new { @value = Model.BusinessRIN })

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            Html.RenderPartial("_BindBusinessForm", Model);

            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" value="Save" tabindex="20" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsAddEditBusiness.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
