

@{
    ViewBag.Title = "Capture Business";
}

<div class="title">
    <h1>
        Search Assets - Business
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Assets - Business
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-7">
                @using (Ajax.BeginForm("Search", "CaptureBusiness", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchBusiness" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">Business Name</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtBusinessName", "", new { @class = "form-control", @placeholder = "Enter Business Name", @tabindex = "1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Business Address</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtBusinessAddress", "", new { @class = "form-control", @placeholder = "Enter Business Address", @tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RIN" class="control-label col-sm-3">RIN</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch"> Search </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-5">
                <p>
                    Enter name of Business and click on search below. The five most matches results will be returned where available. Select the one that best matches your Business name and click on proceed.
                </p>

                <p>
                    You will be able to claim one business at a time and to view details of each Business, click on the view link.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Business List</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Add","ProfileBuilding")">Building</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Add","ProfileBusiness")">Business</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Add","ProfileVehicle")">Vehicle</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Add","ProfileLand")">Land</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body" id="dvData">

    </div>
</div>

@{Html.RenderPartial("_BusinessDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsSearchBusiness.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

