@{
    ViewBag.Title = "Operation Manager - Assessment Transactions List";
}

<input type="hidden" value="@ViewBag.TaxYear" id="hdnTaxYear" />
<input type="hidden" value="@ViewBag.FromDate" id="hdnFromDate" />
<input type="hidden" value="@ViewBag.ToDate" id="hdnToDate" />
<input type="hidden" value="@ViewBag.BillType" id="hdnBillType" />
<input type="hidden" value="@ViewBag.BillStatus" id="hdnBillStatus" />
<input type="hidden" value="@ViewBag.RevenueStream" id="hdnRevenueStream" />

<div class="title">
    <h1>
        Operation Manager - Manage Assessments by Revenue Stream
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Assessment Transactions List
        </div>
        <div class="form-actions text-right">
            <a href="@Url.Action("BillByRevenueStream","OperationManager")" class="btn btn-redtheme">Cancel</a>
            <a href="@Url.Action("BillByRevenueStreamDetailExportToExcel","OperationManager",new { RevenueStreamID=ViewBag.RevenueStream,TaxYear = ViewBag.TaxYear, FromDate= ViewBag.FromDate,ToDate=ViewBag.ToDate,BillTypeID= ViewBag.BillType,BillStatusID= ViewBag.BillStatus})" class="btn btn-theme">Export Excel</a>
        </div>
    </div>
    <div class="portlet-body">

        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBillDetailsByRevenueStream">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer</th>
                    <th>Payment Ref</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Bill Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Footer {
    <script type="text/javascript" src="~/Scripts/jsBillDetailsByRevenueStream.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
