@model usp_GetCompanyList_Result
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Operation Manager - Employer PAYE Liability Report";

    IList<usp_GetPAYEAssessmentRuleInformation_Result> lstAssessmentRuleInformation = (IList<usp_GetPAYEAssessmentRuleInformation_Result>)ViewBag.AssessmentRuleInformation;
    IList<usp_GetPAYEProfileInformation_Result> lstProfileInformation = (IList<usp_GetPAYEProfileInformation_Result>)ViewBag.ProfileInformation;
    IList<usp_GetPAYEAssessmentBill_Result> lstTaxPayerBill = (IList<usp_GetPAYEAssessmentBill_Result>)ViewBag.TaxPayerBill;
    IList<usp_GetPAYEPayment_Result> lstTaxPayerPayment = (IList<usp_GetPAYEPayment_Result>)ViewBag.TaxPayerPayment;
    IList<usp_GetPAYEEmployerStaff_Result> lstStaff = (IList<usp_GetPAYEEmployerStaff_Result>)ViewBag.StaffList;
}

<div class="title">
    <h1>
        Operation Manager - Employer PAYE Liability Report
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Coporate Tax Payer Information
        </div>
        <div class="actions">
            <a href="@Url.Action("EmployerPAYELiability","OperationManager")" class="btn btn-theme">Cancel</a>
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a target="_blank" href="@Url.Action("Details","CaptureCorporate", new { id=Model.CompanyID, name =Model.CompanyRIN.ToSeoUrl() })">Tax Payer Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Type: </label>
                <div class="form-control-static">
                    @Model.TaxPayerTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer TIN: </label>
                <div class="form-control-static">
                    @Model.TIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Mobile Number: </label>
                <div class="form-control-static">
                    @Model.MobileNumber1
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Name: </label>
                <div class="form-control-static">
                    @Model.CompanyName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer RIN: </label>
                <div class="form-control-static">
                    @Model.CompanyRIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Contact  Address: </label>
                <div class="form-control-static">
                    @Model.ContactAddress
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Assets</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssetList">
            <thead class="red-th">
                <tr>
                    <th>Asset Type</th>
                    <th>Asset Name</th>
                    <th>Tax Payer Role</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vAsset in lstProfileInformation)
                {
                    <tr>
                        <td>@vAsset.AssetTypeName</td>
                        <td>@vAsset.AssetName</td>
                        <td>@vAsset.TaxPayerRoleName</td>
                        <td>@vAsset.ProfileDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Bills</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBillList">
            <thead class="red-th">
                <tr>
                    <th>Date</th>
                    <th class="desktop">Bill ID</th>
                    <th>Bill Amount</th>
                    <th>Paid Amount</th>
                    <th class="desktop">Bill Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vBillItem in lstTaxPayerBill)
                {
                    <tr>
                        <td>@CommUtil.GetFormatedDate(vBillItem.AssessmentDate)</td>
                        <td>@vBillItem.AssessmentRefNo</td>
                        <td>@CommUtil.GetFormatedCurrency(vBillItem.BillAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vBillItem.SettlementAmount)</td>
                        <td>@vBillItem.SettlementStatusName</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Totals</td>
                    <td>@CommUtil.GetFormatedCurrency(lstTaxPayerBill.Sum(t => t.BillAmount))</td>
                    <td>@CommUtil.GetFormatedCurrency(lstTaxPayerBill.Sum(t => t.SettlementAmount))</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Rules</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssessmentRules">
            <thead class="red-th">
                <tr>
                    <th>Rule Year</th>
                    <th>Rule Name</th>
                    <th>Rule Amount</th>
                    <th>Billed Amount</th>
                    <th>Paid Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vRule in lstAssessmentRuleInformation)
                {
                    <tr>
                        <td>@vRule.TaxYear</td>
                        <td>@vRule.AssessmentRuleName</td>
                        <td>@CommUtil.GetFormatedCurrency(vRule.AssessmentAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vRule.BilledAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vRule.SettledAmount)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Totals</td>
                    <td>@CommUtil.GetFormatedCurrency(lstAssessmentRuleInformation.Sum(t => t.AssessmentAmount))</td>
                    <td>@CommUtil.GetFormatedCurrency(lstAssessmentRuleInformation.Sum(t => t.BilledAmount))</td>
                    <td>@CommUtil.GetFormatedCurrency(lstAssessmentRuleInformation.Sum(t => t.SettledAmount))</td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Payments</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPaymentList">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref</th>
                    <th>Payment Date</th>
                    <th>Payment Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vPaymentItem in lstTaxPayerPayment)
                {
                    <tr>
                        <td>@vPaymentItem.PaymentRefNo</td>
                        <td>@CommUtil.GetFormatedDate(vPaymentItem.PaymentDate)</td>
                        <td>@CommUtil.GetFormatedCurrency(vPaymentItem.Amount)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Totals</td>
                    <td>@CommUtil.GetFormatedCurrency(lstTaxPayerPayment.Sum(t => t.Amount))</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Staffs</div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblStaffList">
            <thead class="red-th">
                <tr>
                    <th>Staff RIN</th>
                    <th>Staff Name</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lstStaff)
                {
                    <tr>
                        <td>@item.IndividualRIN</td>
                        <td>@item.IndividualName</td>
                        <td>@item.MobileNumber1</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsEmployerLiabilityDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

