@using EIRS.Common;
@model EIRS.Web.Models.ExportProfileGroupDataViewModel

@{
    ViewBag.Title = "Operation Manager - Export Profile Group Wise Data";
}

<div class="title">
    <h1>
        Operation Manager - Export Profile Group Wise Data
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Filters
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("ExportProfileGroupingData", "OperationManager", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProfileTypeID, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.ProfileTypeID, (SelectList)ViewBag.ProfileTypeList, "Select Profile", new { @class = "form-control bs-select" })
                            @Html.ValidationMessageFor(m => m.ProfileTypeID, "", new { @class = "help-block" })
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Year, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Year, (SelectList)ViewBag.YearList, "Select Year", new { @class = "form-control bs-select" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch" type="submit" tabindex="4"> Export </button>
                        </div>
                    </div>

                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
        }
    </div>
</div>





