@model EIRS.Web.GISModels.GISFileAssessmentItem

@{
    ViewBag.Title = "GetAssessmentItem";
}

<div>
    <h4>GIS File Assessment Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssessmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSaved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecimalAssessmentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecimalAssessmentAmount)
        </dd>

    </dl>
</div>

