@model EIRS.Web.GISModels.GISFileAsset

@{
    ViewBag.Title = "GetAsset";
}

<div>
    <h4>GIS File Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetSubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetSubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetLGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetLGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetWard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetWard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetBillingZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetBillingZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetSubzone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetSubzone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetPurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetRoadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetRoadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetOffStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetOffStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoldingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoldingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetCofO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetCofO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupportingDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportingDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupierStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupierStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnyOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnyOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupancyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupancyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetFootprintPresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetFootprintPresent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetCompletionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetCompletionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetFurnished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetFurnished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetPerimeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetPerimeter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFloors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOfRepair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOfRepair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelOfCompletion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelOfCompletion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasGenerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasGenerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasSwimmingPool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasSwimmingPool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasFence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasFence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasBuildings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasBuildings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBldgs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBldgs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WallMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WallMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoofMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoofMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SewageAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SewageAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectricConnection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricConnection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterConnectionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterConnectionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolidWasteCollectionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolidWasteCollectionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSaved)
        </dd>

    </dl>
</div>

