@model EIRS.Web.GISModels.GISFileAssessment

@{
    ViewBag.Title = "GetAssessment";
}
 
<div>
    <h4>GIS File Assessment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSaved)
        </dd>

    </dl>
</div>

