@model EIRS.Web.GISModels.GISFileInvoiceItem

@{
    ViewBag.Title = "GetInvoiceItem";
}
 
<div>
    <h4>GIS File Invoice Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevenueHeadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevenueHeadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSaved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecimalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecimalAmount)
        </dd>

    </dl>
</div>

