@model EIRS.Web.GISModels.GISFileParty

@{
    ViewBag.Title = "GetParty";
}

<div>
    <h4>GIS File Party</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyExtID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyExtID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyTIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyTIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyNIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyNIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyMaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyMaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyRelation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyRelation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcquisitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcquisitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSaved)
        </dd>

    </dl>
</div>

