@model GISFileParty
@using EIRS.Web.GISModels
@{
    ViewBag.Title = "GISDetails";
    List<GISFileParty> lstParty = (List<GISFileParty>)ViewBag.PartyInfo;
    List<GISFileAssessmentItem> lstAssessmentItem = (List<GISFileAssessmentItem>)ViewBag.AssessmentItemInfo;
    List<GISFileInvoiceItem> lstInvoiceItem = (List<GISFileInvoiceItem>)ViewBag.InvoiceItemInfo;
    List<GISFileAssessment> lstAssessment = (List<GISFileAssessment>)ViewBag.AssessmentInfo;
    List<GISFileInvoice> lstInvoice = (List<GISFileInvoice>)ViewBag.InvoiceInfo;
    List<GISFileAsset> lstAsset = (List<GISFileAsset>)ViewBag.AssetInfo;


}
<div class="title">
    <h1>
        GIS Details
    </h1>
    <hr>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Owner Information
        </div>
        @*<div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_IndividualInformation(@Model.IndividualID)">View Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","CaptureIndividual", new { id=Model.IndividualID, name =Model.IndividualRIN.ToSeoUrl() })">Edit Detail</a>
                    </li>
                    <li><a onclick="javascript:jsfn_ChangeStatus(@Model.IndividualID)">@(Model.Active == false ? "Mark Active" : "Mark Inactive")</a></li>
                </ul>
            </div>
        </div>*@
    </div>
    <div class="row view-form">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label bold">Owner Full Name: </label>
                <div class="form-control-static">
                    @Model.PartyFullName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Owner TIN: </label>
                <div class="form-control-static">
                    @Model.PartyTIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Owner Mobile Number: </label>
                <div class="form-control-static">
                    @Model.PartyPhone1
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold"> Owner TIN: </label>
                <div class="form-control-static">
                    @Model.PartyNIN
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label bold">Owner Address: </label>
                <div class="form-control-static">
                    @Model.ContactAddress
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Owner Extension: </label>
                <div class="form-control-static">
                    @Model.PartyExtID
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Owner Occupation: </label>
                <div class="form-control-static">
                    @Model.PartyOccupation
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Owner Title: </label>
                <div class="form-control-static">
                    @Model.PartyTitle
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">GIS Party</div>

    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblProfileList">
            <thead class="red-th">
                <tr>
                    <th>Party FullName</th>
                    <th>Party Email</th>
                    <th>Party Relation</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vProfile in lstParty)
                {
                    <tr>
                        <td>@vProfile.PartyFullName</td>
                        <td>@vProfile.PartyEmail</td>
                        <td>@vProfile.PartyRelation</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("GetParty","OperationManager", new {id = vProfile.Id })">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">GIS Asset</div>

    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblProfileList">
            <thead class="red-th">
                <tr>
                    <th>Asset Name</th>
                    <th>Asset Address</th>
                    <th>Asset C of O</th>
                    <th>Asset Size</th>
                    <th>Asset Use</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vProfile in lstAsset)
                {
                    <tr>
                        <td>@vProfile.AssetName</td>
                        <td>@vProfile.AssetAddress</td>
                        <td>@vProfile.AssetCofO</td>
                        <td>@vProfile.AssetSize</td>
                        <td>@vProfile.AssetUse</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("GetAsset","OperationManager", new {id = vProfile.Id })">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">GIS Assessment Item</div>

    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblProfileList">
            <thead class="red-th">
                <tr>
                    <th>Asset Number</th>
                    <th>Assessment Year</th>
                    <th>Assessment Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vProfile in lstAssessmentItem)
                {
                    <tr>
                        <td>@vProfile.AssetNumber</td>
                        <td>@vProfile.AssessmentYear</td>
                        <td align="right">@CommUtil.GetFormatedCurrency(vProfile.DecimalAssessmentAmount)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("GetAssessmentItem","OperationManager", new {id = vProfile.Id })">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">GIS Invoice Item</div>

    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblProfileList">
            <thead class="red-th">
                <tr>
                    <th>Invoice ID</th>
                    <th>Invoice Description</th>
                    <th>Invoice Amount</th>
                    <th>Invoice Date</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vProfile in lstInvoiceItem)
                {
                    <tr>
                        <td>@vProfile.InvoiceID</td>
                        <td>@vProfile.Description</td>
                        <td align="right">@CommUtil.GetFormatedCurrency(vProfile.DecimalAmount)</td>
                        <td>@vProfile.InvoiceDate</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("GetInvoiceItem","OperationManager", new {id = vProfile.Id })">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


