@model IEnumerable<EIRS.Web.Models.LateChargeResponse>

@{
    ViewBag.Title = "LateChargeDetailStep4";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Late Charge Details Step 4
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet-body fa-align-right">
            <button type="button" style="height:50px; width:100px; " class="btn btn-default btn-danger fa-align-right " color:white;background-color:green; onclick="location.href='@Url.Action("inserttoMapassessmentLateCharge", "OperationManager")'">Process</button>
        </div>
        <table class="dt-responsive table table-bordered v-middle" width="100%"  id="tblLstStage">
            <thead class="red-th">
                <tr>
                    <th>TayPayer RIN</th>
                    <th>TaxPayer Name</th>
                    <th>Assessment Ref No.</th>
                    <th>Total Amount</th>
                    <th>Amount Settled</th>
                    <th>Default Amount</th>
                    <th>Late Charge(Penalty + Interest)</th>
                    <th>Total After Late Charge</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vProfile in Model)
                {
                    <tr>
                        <td>@vProfile.TaxPayerRIN</td>
                        <td>@vProfile.TaxPayerName</td>
                        <td>@vProfile.AssessmentRefNo</td>
                        <td>@CommUtil.GetFormatedCurrency(vProfile.TotalAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vProfile.SettlementAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vProfile.PendingAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vProfile.LateChargeAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency((vProfile.TotalAmount - vProfile.SettlementAmount) + vProfile.LateChargeAmount)</td>
                        
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>


@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblLstStage'), [{ "orderable": true }, { "orderable": true }, { "orderable": false }], 'No Record Found');
        });
    </script>
}