@{
    ViewBag.Title = "Operation Managers";
}

<div class="title">
    <h1>
        Operation Managers
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Operation Manager</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblOperationManager">
            <thead class="red-th">
                <tr>
                    <th>Operation Manager ID</th>
                    <th>Operation Manager Name</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>OM001</td>
                    <td>PoA Transfer</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PoAOperationList","OperationManager")">View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM002</td>
                    <td>Settlement Via PoA</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PoASettlement","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM003</td>
                    <td>RIN Generator</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","RINGenerator")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM004</td>
                    <td>Manage Payments by Revenue Stream</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PaymentByRevenueStream","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM005</td>
                    <td>Manage Assessments by Revenue Stream</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("BillByRevenueStream","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM006</td>
                    <td>Manage Bills Aging by Revenue Stream</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("BillAgingByRevenueStream","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM007</td>
                    <td>PoA Tax Payers with No Assets </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("POATaxPayerWithoutAsset","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>OM008</td>
                    <td>Manage Payments by Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PaymentByTaxOffice","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM009</td>
                    <td>Manage Assessments By Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("BillByTaxOffice","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM000</td>
                    <td>Manage GIS Reports</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("GISSearchParameter","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM010</td>
                    <td>Manage Bills Aging by Tax  Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("BillAgingByTaxOffice","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM011</td>
                    <td>Manage Revenue Stream Assessments by Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("RevenueStreamAssessmentsbyTaxOffice","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM012</td>
                    <td>Manage Paye Revenue Stream Assessments by Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PayeRevenueStreamAssessmentsbyTaxOffice","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM013</td>
                    <td>Manage Tax Payer Liability Status</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxPayerLiabilityStatus","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM014</td>
                    <td>Unallocated Tax Payers</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("UnAllocatedTaxPayerList","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM015</td>
                    <td>Allocate Tax Payers to Tax Officers</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("AllocateTaxPayerList","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM016</td>
                    <td> Tax Payer Status Manager</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxPayerStatusManager","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM017</td>
                    <td> Tax Officer Status Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficerStatus","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM018</td>
                    <td> Tax Office Manager Status Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficeManagerStatus","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM019</td>
                    <td> Tax Officer Summary Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficerSummary","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM020</td>
                    <td> Tax Office Manager Summary Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficeManagerSummary","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM021</td>
                    <td> Review Status Summary Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ReviewStatusSummary","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM022</td>
                    <td> Tax Officer Monthly Payments</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficerMonthlyPayment","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM023</td>
                    <td> Set Tax Office Target</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficeTarget","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM024</td>
                    <td> Monthly Tax Office Targets</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("MonthlyTaxOfficeTarget","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM025</td>
                    <td> Tax Office By Revenue Stream Target</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficeByRevenueStreamTarget","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM026</td>
                    <td> Revenue Stream By Tax Office Target</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("RevenueStreamByTaxOfficeTarget","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM027</td>
                    <td> JTB Pull Data</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("JTBPullData","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM028</td>
                    <td> Revenue Streams by Payment Channels</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("RevenueStreamByPaymentChannel","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM029</td>
                    <td> Payment Channel by Revenue Stream</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PaymentChannelByRevenueStream","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM030</td>
                    <td> Tax Officer by Revenue Stream Target</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficerByRevenueStreamTarget","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM031</td>
                    <td> Revenue Stream by Tax Officer Target</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("RevenueStreamByTaxOfficerTarget","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM032</td>
                    <td> Revise a Bill</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ReviseBill","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM033</td>
                    <td> Income Tax Liability Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("IndividualLiabilityStatus","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM034</td>
                    <td> Process TCC Requests</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","ProcessTCCRequest")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM035</td>
                    <td> Export Profile Data</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ExportProfileData","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM036</td>
                    <td> Replace Tax Office Manager</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ReplaceTaxOfficeManager","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM037</td>
                    <td>Replace Tax Officer</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ReplaceTaxOfficer","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM038</td>
                    <td>Reallocate Tax Payer to Tax Officer</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ReallocateTaxPayerToTaxOfficer","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM039</td>
                    <td>Tax Payer Types by Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxPayerTypeByTaxOffice","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM040</td>
                    <td>Asset Types by Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("AssetTypeByTaxOffice","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM041</td>
                    <td>Payment Charges</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PaymentCharges","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM042</td>
                    <td>Tax Payer Monthly Payments</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxPayerMonthlyPayment","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM043</td>
                    <td>Tax Office Assessment Summary</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxOfficeAssessmentSummary","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM044</td>
                    <td>Business Sector Assessment Summary</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("BusinessSectorAssessmentSummary","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM045</td>
                    <td>SFTP Data Submission</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("SFTPDataSubmission","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM046</td>
                    <td> Export Profile Grouping Data</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ExportProfileGroupingData","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM047</td>
                    <td> Manage Certificate Types</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","CertificateType")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM048</td>
                    <td> Create Certificates</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","Certificate")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM049</td>
                    <td> Manage Digital Certificates</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","ProcessCertificate")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM050</td>
                    <td> Audit Log</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("AuditLog","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM051</td>
                    <td> Settlement Revocation</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("SettlementRevocation","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM052</td>
                    <td>Treasury Receipts by Revenue Stream</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TreasuryReceiptByRevenueStream","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM053</td>
                    <td>Treasury Receipts by Tax Office</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TreasuryReceiptByTaxOffice","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM054</td>
                    <td>Employer PAYE Liability Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("EmployerLiability","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM055</td>
                    <td>Employer PAYE Liability Report - TCC</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("EmployerPAYELiability","OperationManager")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM056</td>
                    <td> TCC : Monthly Summary</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TCCMonthlySummary","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM057</td>
                    <td> TCC : Monthly Revoked</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TCCMonthlyRevoked","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM058</td>
                    <td> TCC : Monthly Commission</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TCCMonthlyCommission","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM059</td>
                    <td> Report : Revise Bill</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ReviseBillSummary","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM060</td>
                    <td> Manual PoA</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ManualPoA","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM061</td>
                    <td> Tax Payer Capture Analysis</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TaxPayerCaptureAnalysis","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM062</td>
                    <td>PAYE Output Aggregation Report</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PAYEOutputAggregation","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>OM063</td>
                    <td>Late Charge</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("LateChargeList","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>  
                <tr>
                    <td>OM064</td>
                    <td>TCC Download</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("TccDownload","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr> 
                <tr>
                    <td>OM065</td>
                    <td>Manage Late Charge</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ManageLateCharge","OperationManager")"> View</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                @*<tr>
                        <td>OM003</td>
                        <td>Convert Tax Payers</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("List","ConvertTaxPayer")"> View</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>OM004</td>
                        <td>Transfer Assets</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("List","TransferAsset")"> View</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblOperationManager'), [{ "orderable": true }, { "orderable": true }, { "orderable": false }], 'No Record Found');
        });
    </script>

}
