@model IEnumerable<EIRS.Web.GISModels.GISFileParty>

@{
    ViewBag.Title = "Party";
}

<h2> GIS File Party</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyExtID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyMiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyTIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyNIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyPhone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyPhone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyNationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyMaritalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyOccupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyRelation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcquisitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSaved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyExtID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyMiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyTIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyNIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyPhone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyPhone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyNationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyMaritalStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyOccupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyRelation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcquisitionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSaved)
        </td>
        <td>
            <div class="dropdown">
                <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("GetParty","OperationManager", new {id=@item.Id })">View</a>
                    </li>
                 
                </ul>

            </div>
        </td>

    </tr>
}

</table>
