@model IList<EIRS.BOL.usp_GetRevenueStreamBillDetailByTaxOffice_Result>
@using EIRS.Common;
@{
    ViewBag.Title = "Paye Revenue Stream Bill Detail By Tax Office";
}

<div class="title">
    <h1>
        Operation Manger - Manage Paye Revenue Stream Bill Detail By Tax Office
    </h1>
    <hr>
</div>

<input type="hidden" value="@ViewBag.TaxOffice" id="hdnTaxOfficeID" />
<input type="hidden" value="@ViewBag.TaxYear" id="hdnTaxYear" />
<input type="hidden" value="@ViewBag.FromDate" id="hdnFromDate" />
<input type="hidden" value="@ViewBag.ToDate" id="hdnToDate" />

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Paye Revenue Stream Bill Detail By Tax Office
        </div>
        <div class="form-actions text-right">
            <a href="@Url.Action("PayeRevenueStreamAssessmentsbyTaxOffice","OperationManager")" class="btn btn-redtheme"> Cancel</a>
            <a href="@Url.Action("PayeRevenueStreamBillDetailByTaxOfficeExportToExcel","OperationManager",new {  TaxOfficeID=ViewBag.TaxOffice,TaxYear = ViewBag.TaxYear, FromDate=ViewBag.FromDate,ToDate=ViewBag.ToDate})" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPayeRevenueStreamBillDetailByTaxOffice">
            <thead class="red-th">
                <tr>
                    <th>Employer Name</th>
                    <th class="none">Employer RIN </th>
                    <th class="none">Employer TIN</th>
                    <th>Business Name</th>
                    <th class="none">Business RIN</th>
                    <th>Assessment</th>
                    <th>Settlement</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsPayeRevenueStreamBillDetailByTaxOffice.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


