@model EIRS.Web.Models.PaymentTransferViewModel

@{

    ViewBag.Title = "Payment on Account Transfer";
}

@section header {
    <link href="~/Content/Plugins/typeahead/typeahead.css" rel="stylesheet" />
}

<div class="title">
    <h1>
        PoA Transfer
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            New Transfer
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("PoATransfer", "OperationManager", FormMethod.Post, htmlAttributes: new { @id = "frmPaymentTransfer" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                if (ViewBag.Message != "Transaction Done Successful")
                {
                    <div class="alert alert-danger">
                        @ViewBag.Message
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
            }

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FromTaxPayerTypeID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.DropDownListFor(m => m.FromTaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", new { @class = "form-control bs-select", @tabindex = "1", @data_live_search = "true", @id = "cboFromTaxPayerType" })
                        @Html.ValidationMessageFor(model => model.FromTaxPayerTypeID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.FromTaxPayerID, new { @id = "hdnFromTaxPayerID" })
                        @Html.LabelFor(model => model.FromTaxPayerID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.TextBoxFor(model => model.FromTaxPayerName, "", new { @class = "form-control", @id = "txtFromTaxPayer", @autocomplete = "off", @placeholder = "Enter From Tax Payer Name" })
                        @Html.ValidationMessageFor(model => model.FromTaxPayerID, "", htmlAttributes: new { @class = "help-block" })
                        @*<span id="spnShowFromBalance" style="display:none;"></span>*@
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionRefNumber, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.TextBoxFor(model => model.TransactionRefNumber, htmlAttributes: new { @tabindex = "5", @placeholder = "Enter Transaction Ref Number", @class = "form-control", @id = "cboTransactionRefNumber" })
                        @Html.ValidationMessageFor(model => model.TransactionRefNumber, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-sm-3">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" id="SaveToConfirm" value="Confirm Ref" tabindex="5" />
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <p style="color:red;">Transaction Ref Amount: <span id="spnShowTreansferAmount" style="display:none;"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        Transferred Amount:  <span id="spnShowTransfer" style="display:none;"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        Balance:  <span id="spnShowBalance" style="display:none;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ToTaxPayerTypeID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.DropDownListFor(m => m.ToTaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", new { @class = "form-control bs-select", @tabindex = "3", @data_live_search = "true", @id = "cboToTaxPayerType" })
                        @Html.ValidationMessageFor(model => model.ToTaxPayerTypeID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.ToTaxPayerID, new { @id = "hdnToTaxPayerID" })
                        @Html.LabelFor(model => model.ToTaxPayerID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.TextBoxFor(model => model.ToTaxPayerTypeName, "", new { @class = "form-control", @id = "txtToTaxPayer", @autocomplete = "off", @placeholder = "Enter To Tax Payer Name" })
                        @Html.ValidationMessageFor(model => model.ToTaxPayerID, "", htmlAttributes: new { @class = "help-block" })
                        <span id="spnShowToBalance" style="display:none;"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.TextBoxFor(model => model.Amount, htmlAttributes: new { @tabindex = "5", @placeholder = "Enter Transfer Amount", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Amount, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" id="finalSave" value="Save" tabindex="5" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Footer {
    <script src="~/Content/Plugins/typeahead/handlebars.min.js"></script>
    <script src="~/Content/Plugins/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsTransfer.js"></script>
}