@using EIRS.Common;
@{
    ViewBag.Title = "Operation Manager - Revenue Stream By Payment Channel - Transaction List";
}

<div class="title">
    <h1>
        Operation Manager - Revenue Stream By Payment Channel - Transaction List
    </h1>
    <hr>
</div>

<input type="hidden" id="hdnSettlementMethodID" value="@ViewBag.SettlementMethodID" />
<input type="hidden" id="hdnTaxYear" value="@ViewBag.TaxYear" />
<input type="hidden" id="hdnRevenueStreamID" value="@ViewBag.RevenueStreamID" />
<input type="hidden" id="hdnFromDate" value="@ViewBag.FromDate" />
<input type="hidden" id="hdnToDate" value="@ViewBag.ToDate" />
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Transaction List</div>
        <div class="text-right">
            <a href="@Url.Action("RevenueStreamByPaymentChannel","OperationManager")" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <a href="@Url.Action("RevenueStreamByPaymentChannelDetailExportToExcel","OperationManager",new { SettlementMethodID=ViewBag.SettlementMethodID,TaxYear= ViewBag.TaxYear,RevenueStreamID =ViewBag.RevenueStreamID,Fromdate =ViewBag.FromDate,Todate =ViewBag.ToDate})" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body" id="dvData">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTransactionList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer RIN</th>
                    <th class="none">Tax Payer Name</th>
                    <th>Tax Payer Type </th>
                    <th>Payment Channel</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsRevenueStreamByPaymentChannelDetail.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

