@model EIRS.Web.Models.TaxOfficerTargetViewModel
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Operation Manger - Set Tax Office Target - " + Model.TaxOfficeName;
    IList<usp_GetTaxOfficerTargetList_Result> lstTaxOfficerTarget = (IList<usp_GetTaxOfficerTargetList_Result>)ViewBag.TaxOfficerTargetList;
}

<div class="title">
    <h1>
        Operation Manger - Set Tax Officer Target - @Model.TaxOfficerName
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Set Tax Officer Target
        </div>
        <div class="actions">
            <a href="@Url.Action("TaxOfficerTarget","OperationManager",new { id=Model.TaxOfficeID, name = Model.TaxOfficeName.ToSeoUrl() })" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Tax Office: </label>
                <div class="form-control-static">
                    @Model.TaxOfficeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Officer: </label>
                <div class="form-control-static">
                    @Model.TaxOfficerName
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Tax Year: </label>
                <div class="form-control-static">
                    @Model.TaxYearName
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("SetTaxOfficerTarget", "OperationManager", FormMethod.Post, htmlAttributes: new { @id = "frmSetTarget" }))
{
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                Revenue Stream Target
            </div>
            <div class="actions">

            </div>
        </div>
        <div class="portlet-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.TaxOfficeID, new { @Value = Model.TaxOfficeID })
            @Html.HiddenFor(m => m.TaxOfficeName, new { @Value = Model.TaxOfficeName })
            @Html.HiddenFor(m => m.TaxOfficerID, new { @Value = Model.TaxOfficerID })
            @Html.HiddenFor(m => m.TaxOfficerName, new { @Value = Model.TaxOfficerName })
            @Html.HiddenFor(m => m.TaxYearID, new { @Value = Model.TaxYearID })
            @Html.HiddenFor(m => m.TaxYearName, new { @Value = Model.TaxYearName })


            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <table class="dt-responsive table table-bordered v-middle" width="100%">
                <thead class="red-th">
                    <tr>
                        <th style="width:20%">Revenue Stream</th>
                        <th style="width:20%">Tax Office Target</th>
                        <th style="width:20%">Unallocated Target</th>
                        <th style="width:20%">Yearly</th>
                        <th style="width:20%">Monthly</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstTaxOfficerTarget)
                    {
                    <tr>
                        <td>@item.RevenueStreamName</td>
                        <td>@CommUtil.GetFormatedCurrency(item.TaxOfficeAmount.GetValueOrDefault())</td>
                        <td>@CommUtil.GetFormatedCurrency(item.UnallocatedAmount.GetValueOrDefault())</td>
                        <td>
                            <input type="hidden" id="hdnRSTOTID_@item.RevenueStreamID" name="hdnRSTOTID_@item.RevenueStreamID" value="@item.TOTID.GetValueOrDefault()" />
                            <input class="form-control rsyearlyamount" data-rsid="@item.RevenueStreamID" required type="text" value="@item.TargetAmount" placeholder="Enter Amount" id="txtRSAmount_@item.RevenueStreamID" name="txtRSAmount_@item.RevenueStreamID" />
                        </td>
                        <td>
                            <span id="spnrsmonthamount_@item.RevenueStreamID">@CommUtil.GetFormatedCurrency(item.TargetAmount.GetValueOrDefault() / 12)</span>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" align="right">Total</td>
                        <td>
                            <span id="spnrsyearlytotal">@CommUtil.GetFormatedCurrency(lstTaxOfficerTarget.Sum(t => t.TargetAmount))</span>
                        </td>
                        <td>
                            <span id="spnrsmonthlytotal">@CommUtil.GetFormatedCurrency(lstTaxOfficerTarget.Sum(t => t.TargetAmount) / 12)</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="portlet-footer text-right">
            <button class="btn-theme btn">Save</button>
        </div>
    </div>
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsSetTaxOfficerTarget.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

