@model IList<usp_RPT_GetTaxPayerTypeByTaxOffice_Result>

@{
    ViewBag.Title = "Operation Manager - Tax Payer Type by Tax Office";
}


<div class="title">
    <h1>
        Operation Manager - Tax Payer Type by Tax Office
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Tax Payer Type by Tax Office</div>
        <div class="form-actions text-right">
            <a href="@Url.Action("TaxPayerTypeByTaxOfficeExportToExcel","OperationManager")" target="_blank" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerTypeCount">
            <thead class="red-th">
                <tr>
                    <th>Tax Office</th>
                    <th>Individual</th>
                    <th>Corporate</th>
                    <th>Government</th>
                    <th>Special</th>
                    <th>Total</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody class="red-th">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TaxOfficeName</td>
                            <td>@item.IndividualCount.GetValueOrDefault()</td>
                            <td>@item.CorporateCount.GetValueOrDefault()</td>
                            <td>@item.GovernmentCount.GetValueOrDefault()</td>
                            <td>@item.SpecialCount.GetValueOrDefault()</td>
                            <td>@item.TotalCount.GetValueOrDefault()</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("TaxPayerTypeByTaxOfficeDetail","OperationManager",new { tofid=item.TaxOfficeID })">View Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>@Model.Sum(t => t.IndividualCount.GetValueOrDefault())</td>
                    <td>@Model.Sum(t => t.CorporateCount.GetValueOrDefault())</td>
                    <td>@Model.Sum(t => t.GovernmentCount.GetValueOrDefault())</td>
                    <td>@Model.Sum(t => t.SpecialCount.GetValueOrDefault())</td>
                    <td>@Model.Sum(t => t.TotalCount.GetValueOrDefault())</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblTaxPayerTypeCount'), [{ "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": false }], 'No Record Found');
        });
    </script>

}

