@model IList<EIRS.BOL.usp_RPT_TaxPayerLiabilityStatus_Bills_Result>
@using EIRS.Common;
@{
    ViewBag.Title = "Tax Payer Liability  Status List";
}

<div class="title">
    <h1>
        Operation Manger - Manage Tax Payer Liability Status - Assessment
    </h1>
    <hr>
</div>

<input type="hidden" value="@ViewBag.TaxPayer" id="hdnTaxPayerID" />
<input type="hidden" value="@ViewBag.TaxPayerType" id="hdnTaxPayerTypeID" />
<input type="hidden" value="@ViewBag.TaxYear" id="hdnTaxYear" />
<input type="hidden" value="@ViewBag.FromDate" id="hdnFromDate" />
<input type="hidden" value="@ViewBag.ToDate" id="hdnToDate" />

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Assessment List
        </div>
        <div class="form-actions text-right">
            <a href="@Url.Action("TaxPayerLiabilityStatus","OperationManager")" class="btn btn-redtheme"> Cancel</a>
         <a href="@Url.Action("TaxPayerLiabilityStatusAssessmentExportToExcel","OperationManager",new { TaxPayerID=ViewBag.TaxPayer,TaxPayerTypeID=ViewBag.TaxPayerType,TaxYear = ViewBag.TaxYear,FromDate=ViewBag.FromDate,ToDate=ViewBag.ToDate})" class="btn btn-theme">Export To Excel</a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerLiabilityStatusDetails">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer Name </th>
                    <th>Bill Ref No</th>
                    <th>Bill Date</th>
                    <th>Amount</th>
                    <th>Bill Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerLiabilityStatusAssessment.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


