@using EIRS.Web.GISModels
@{
    ViewBag.Title = "Tcc Downloaded";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">TccDownloaded</div>
       
        <div class="form-actions text-right"></div>

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTccDownloaded">
            <thead class="red-th">
                <tr>
                    <th>Download Status</th>
                    <th>Tcc Ref No</th>
                    <th>Individual RIn</th>
                    <th>Full Name</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ret in Model)
                {
                    <tr>
                        <td>@ret.DownloadStatus</td>
                        <td>@ret.TccRefNo</td>
                        <td>@ret.IndividualRIn</td>
                        <td>@ret.FullName</td>
                        @* <td>@ret.RequestDate</td> *@
                        <td>@ret.ModifiedDate</td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a target="_blank" href="@Url.Action("Print", "ProcessTCCRequest",new {reqid= ret.TccId})">
                                            Print
                                        </a>
                                        <a href="@Url.Action("Download", "ProcessTCCRequest",new {reqid= ret.TccId})">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(document).ready(function () {
            jsfn_ConvertToDatableWithCustomSort($('#tblTccDownloaded'), [{ "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": true }, { "orderable": false }], 'No Record Found');
        });
    </script>
}