@model  EIRS.Web.NewPoASettlementViewModel
@using EIRS.Common
@using EIRS.BOL
@{
    IList<ServiceBill_MDAService> lstMDAServices = (IList<ServiceBill_MDAService>)ViewBag.MDAServiceList;
    IList<NewPoASettlementViewModel> lstPos = (IList<NewPoASettlementViewModel>)ViewBag.pos;
}
@{
    ViewBag.Title = "PoA Settlement - View Bill";
}

<div class="title">
    <h1>
        PoA Settlement: View Bill Details
    </h1>
    <hr>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}
<div class="row">
    <div class="col-sm-6">
        <div class="portlet light" style="min-height: 270px;">
            <div class="portlet-title">
                <div class="caption">
                    Record Details
                </div>
            </div>
            <div class="portlet-body">
                <table class="table border-top-0">
                    <tbody>
                        <tr>
                            <td>Template Type</td>
                            <td>Service Bill</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>@CommUtil.GetFormatedDate(Model.BillDate)</td>
                        </tr>
                        <tr>
                            <td>Tax Payer Type</td>
                            <td>@Model.TaxPayerTypeName</td>
                        </tr>
                        <tr>
                            <td>Tax Payer Name</td>
                            <td>@Model.TaxPayerName</td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td>@CommUtil.GetFormatedDate(Model.DueDate)</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light" style="min-height: 270px;">
            <div class="portlet-title">
                <div class="caption">
                    Notes
                </div>
            </div>
            <div class="portlet-body link-box">
                <p>@Html.Raw(Model.BillNotes)</p>
            </div>
        </div>
    </div>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Reference: @Model.BillRefNo &nbsp; | &nbsp; Status: @Model.StatusName
        </div>
    </div>
    <div class="portlet-body">
        <div class="list-pane" id="dvMDAService">
            @foreach (var vRule in lstMDAServices)
            {
                <div class="list-item clearfix">
                    <div class="col-sm-9 list-left-col">
                        <h3>
                            @vRule.MDAServiceName
                            <a onclick="javascript:jsfn_ShowMDAServiceItems(@vRule.RowID)">[View Items]</a>
                        </h3>
                        <div class="desc-row">
                            Amount Charged: @CommUtil.GetFormatedCurrency(vRule.ToSettleAmount) <br />
                            Amount Paid: @CommUtil.GetFormatedCurrency(vRule.SettledAmount) <a onclick="javascript:jsfn_ShowMDAServicePaymentDetail(@vRule.RowID)">[View Payments]</a> <br />
                            Outstanding: @CommUtil.GetFormatedCurrency(vRule.ToSettleAmount - vRule.SettledAmount.GetValueOrDefault()) <br />
                            Tax Year: @vRule.TaxYear
                        </div>
                    </div>
                    <div class="col-sm-3 list-right-col">
                        <h4>Amount to Pay</h4>
                        <div class="count">
                            <div class="counter-number">@CommUtil.GetFormatedCurrency(vRule.ServiceAmount)</div>
                            @if (vRule.UnSettledAmount > 0)
                            {
                                <a class="btn btn-theme btn-icon-only" id="btnEdit" onclick="javascript:jsfn_EditMDAServiceItems(@vRule.RowID)">
                                    <i class="icon-plus"></i>
                                </a>
                            }
                            else
                            {
                                <a disabled class="btn btn-theme btn-icon-only" id="btnEdit" data-toggle="modal">
                                    <i class="icon-plus"></i>
                                </a>
                            }
                            <div class="small-font-info">
                                Click on plus(+) to edit amount to pay
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row info-row">
            <div class="col-sm-6">
                Total Amount
            </div>
            <div class="col-sm-6 text-right">
                @CommUtil.GetFormatedCurrency(Model.BillAmount)
            </div>
        </div>
        <hr class="margin-0">
        <div class="row info-row">
            <div class="col-sm-6">
                Total Paid <a onclick="javascript:jsfn_ShowPaymentDetail(@Model.ServiceBillID)">[View Payments]</a>
            </div>
            <div class="col-sm-6 text-right">
                @CommUtil.GetFormatedCurrency(Model.TotalPaid)
            </div>
        </div>
        <hr class="margin-0">
        <div class="row info-row">
            <div class="col-sm-6">
                Outstanding
            </div>
            <div class="col-sm-6 text-right">
                @CommUtil.GetFormatedCurrency(Model.BillAmount.GetValueOrDefault() - Model.TotalPaid.GetValueOrDefault())
            </div>
        </div>
        <hr class="margin-0">
        <div class="row info-row">
            <div class="col-sm-6">
                PoA Balance
            </div>
            <div class="col-sm-6 text-right">
                @CommUtil.GetFormatedCurrency(ViewBag.PoABalance)
            </div>
        </div>
        <hr class="margin-0">
        <div class="row info-row font-red font-17">
            <div class="col-sm-6">
                Amount to Pay
            </div>
            <div class="col-sm-6 text-right" id="dvAmountToPay">
                @CommUtil.GetFormatedCurrency(ViewBag.AmountToPay)
            </div>
        </div>

        <hr class="margin-top-0">
        @using (Html.BeginForm("ServiceBillDetail", "OperationManager", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSettlement" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ServiceBillID, htmlAttributes: new { @value = Model.ServiceBillID })
            @Html.HiddenFor(model => model.TaxPayerID, htmlAttributes: new { @value = Model.TaxPayerID })
            @Html.HiddenFor(model => model.TaxPayerTypeID, htmlAttributes: new { @value = Model.TaxPayerTypeID })
            @Html.HiddenFor(model => model.TaxPayerName, htmlAttributes: new { @value = Model.TaxPayerName })
            @Html.HiddenFor(model => model.TaxPayerTypeName, htmlAttributes: new { @value = Model.TaxPayerTypeName })
            @Html.HiddenFor(model => model.TaxPayerRIN, htmlAttributes: new { @value = Model.TaxPayerRIN })
            @Html.HiddenFor(model => model.BillDate, htmlAttributes: new { @value = Model.BillDate })
            @Html.HiddenFor(model => model.DueDate, htmlAttributes: new { @value = Model.DueDate })
            @Html.HiddenFor(model => model.BillRefNo, htmlAttributes: new { @value = Model.BillRefNo })
            @Html.HiddenFor(model => model.StatusName, htmlAttributes: new { @value = Model.StatusName })
            @Html.HiddenFor(model => model.BillNotes, htmlAttributes: new { @value = Model.BillNotes })
            @Html.HiddenFor(model => model.BillAmount, htmlAttributes: new { @value = Model.BillAmount })
            @Html.HiddenFor(model => model.TotalPaid, htmlAttributes: new { @value = Model.TotalPaid })

            <div class="form-group">
                <label class="control-label col-sm-4">Add Notes</label>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @placeholder = "Enter Notes", @Rows = "3" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4"></label>
                <div class="col-sm-2">
                    <a href="@Url.Action("PoASettlement","OperationManager")" class="btn btn-redtheme btn-block" id="btnCancel"> Cancel </a>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-theme btn-block" id="btnMakePayment"> Make Payment</button>
                </div>
            </div>
        }

    </div>
</div>


<div class="modal fade custom-modal" id="dvViewMDAServiceItemModal" tabindex="-1" role="dialog" aria-labelledby="dvViewMDAServiceItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewMDAServiceItemModalLabel">View Items in <span id="spViewMDAServiceName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="dvViewMDAServiceItemModalBody">

            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvViewMDAServicePaymentModal" tabindex="-1" role="dialog" aria-labelledby="dvViewMDAServicePaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewMDAServicePaymentModalLabel">View Payments in <span id="spViewMDAServicePaymentName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="dvViewMDAServicePaymentModalBody">

            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvEditMDAServiceItemModal" tabindex="-1" role="dialog" aria-labelledby="dvEditMDAServiceItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvEditMDAServiceItemModalLabel">Edit Items in <span id="spEditMDAServiceName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="dvEditMDAServiceItemModalBody">

            </div>
            <div class="modal-footer" id="dvModalFooter">
                <a class="btn btn-theme" id="btnSaveItems"> Save </a>
                <a data-dismiss="modal" class="btn btn-redtheme"> Close </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvViewSettlementModal" tabindex="-1" role="dialog" aria-labelledby="dvViewSettlementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewSettlementModalLabel">View Payments for @Model.BillRefNo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dvSettlementModalBody">

            </div>
        </div>
    </div>
</div>

@section footer {
    <script type="text/javascript" src="~/Scripts/jsServiceBillDetail.js"></script>
}
