@using EIRS.Common
<aside id="left-panel">
    @{ Html.RenderPartial("_CurrentUser"); }
    <nav>
        <ul>
            <li class="@Html.RouteIf("dashboard", "active")">
                <a href="@Url.Action("Dashboard", "Home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Workbench</span></a>
            </li>
            @if (SessionManager.SystemRoleID == (int)EnumList.SystemUserRole.Admin_RDM || SessionManager.SystemRoleID == (int)EnumList.SystemUserRole.Admin)
            {
                <li class="top-menu-invisible @Html.RouteChildIf(CommUtil.ReferenceDataChild, "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Reference Data</span></a>
                    <ul>
                        <li class="@Html.RouteIf("addresstype", "active")">
                            <a href="@Url.Action("List", "AddressType")" title="Address Types"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Address Types</span></a>
                        </li>
                        <li class="@Html.RouteIf("assettype", "active")">
                            <a href="@Url.Action("List", "AssetType")" title="Asset Types"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Asset Types</span></a>
                        </li>
                        <li class="@Html.RouteIf("agency", "active")">
                            <a href="@Url.Action("List", "Agency")" title="Agencies"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Agencies</span></a>
                        </li>
                        <li class="@Html.RouteIf("agencytype", "active")">
                            <a href="@Url.Action("List", "AgencyType")" title="Agency Types"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Agency Types</span></a>
                        </li>
                        <li class="@Html.RouteIf("assessmentgroup", "active")">
                            <a href="@Url.Action("List", "AssessmentGroup")" title="Assessment Groups"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Groups</span></a>
                        </li>
                        <li class="@Html.RouteIf("assessmentitemcategory", "active")">
                            <a href="@Url.Action("List", "AssessmentItemCategory")" title="Assessment Item Category"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Item Category</span></a>
                        </li>
                        <li class="@Html.RouteIf("assessmentitemsubcategory", "active")">
                            <a href="@Url.Action("List", "AssessmentItemSubCategory")" title="Assessment Item Sub Category"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Item Sub Category</span></a>
                        </li>
                        <li class="@Html.RouteIf("assessmentitem", "active")">
                            <a href="@Url.Action("List", "AssessmentItem")" title="Assessment Items"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Items</span></a>
                        </li>
                        <li class="@Html.RouteIf("assessmentrule", "active")">
                            <a href="@Url.Action("List", "AssessmentRule")" title="Assessment Rules"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Rules</span></a>
                        </li>
                        <li class="@Html.RouteIf("assessmentsubgroup", "active")">
                            <a href="@Url.Action("List", "AssessmentSubGroup")" title="Assessment Sub Groups"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Sub Groups</span></a>
                        </li>
                        <li class="@Html.RouteIf("buildingcompletion", "active")">
                            <a href="@Url.Action("List", "BuildingCompletion")" title="Building Completion"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Building Completion</span></a>
                        </li>
                        <li class="@Html.RouteIf("buildingownership", "active")">
                            <a href="@Url.Action("List", "BuildingOwnership")" title="Building Ownership"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Building Ownership</span></a>
                        </li>
                        <li class="@Html.RouteIf("buildingpurpose", "active")">
                            <a href="@Url.Action("List", "BuildingPurpose")" title="Building Purpose"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Building Purpose</span></a>
                        </li>
                        <li class="@Html.RouteIf("buildingtype", "active")">
                            <a href="@Url.Action("List", "BuildingType")" title="Building Types"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Building Types</span></a>
                        </li>

                        <li class="@Html.RouteIf("businesscategory", "active")">
                            <a href="@Url.Action("List", "BusinessCategory")" title="Business Category"><i class="fa fa-lg fa-fw fa-fax"></i> <span class="menu-item-parent">Business Category</span></a>
                        </li>
                        <li class="@Html.RouteIf("businessoperation", "active")">
                            <a href="@Url.Action("List", "BusinessOperation")" title="Business Operation"><i class="fa fa-lg fa-fw fa-fax"></i> <span class="menu-item-parent">Business Operation</span></a>
                        </li>
                        <li class="@Html.RouteIf("businesssector", "active")">
                            <a href="@Url.Action("List", "BusinessSector")" title="Business Sector"><i class="fa fa-lg fa-fw fa-fax"></i> <span class="menu-item-parent">Business Sector</span></a>
                        </li>
                        <li class="@Html.RouteIf("businessstructure", "active")">
                            <a href="@Url.Action("List", "BusinessStructure")" title="Business Structure"><i class="fa fa-lg fa-fw fa-fax"></i> <span class="menu-item-parent">Business Structure</span></a>
                        </li>
                        <li class="@Html.RouteIf("businesssubsector", "active")">
                            <a href="@Url.Action("List", "BusinessSubSector")" title="Business Sub Sector"><i class="fa fa-lg fa-fw fa-fax"></i> <span class="menu-item-parent">Business Sub Sector</span></a>
                        </li>
                        <li class="@Html.RouteIf("businesstype", "active")">
                            <a href="@Url.Action("List", "BusinessType")" title="Business Types"><i class="fa fa-lg fa-fw fa-fax"></i> <span class="menu-item-parent">Business Type</span></a>
                        </li>
                        <li class="@Html.RouteIf("directorate", "active")">
                            <a href="@Url.Action("List", "Directorate")" title="Directorates"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Directorates</span></a>
                        </li>
                        <li class="@Html.RouteIf("economicactivities", "active")">
                            <a href="@Url.Action("List", "EconomicActivities")" title="Economic Activities"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Economic Activities</span></a>
                        </li>
                        <li class="@Html.RouteIf("exceptiontype", "active")">
                            <a href="@Url.Action("List", "exceptiontype")" title="Exception Type"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Exception Type</span></a>
                        </li>
                        <li class="@Html.RouteIf("governmenttype", "active")">
                            <a href="@Url.Action("List", "GovernmentType")" title="Government Types"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Government Types</span></a>
                        </li>
                        <li class="@Html.RouteIf("landdevelopment", "active")">
                            <a href="@Url.Action("List", "LandDevelopment")" title="Land Development"><i class="fa fa-lg fa-fw fa-steam"></i> <span class="menu-item-parent">Land Development</span></a>
                        </li>
                        <li class="@Html.RouteIf("landownership", "active")">
                            <a href="@Url.Action("List", "LandOwnership")" title="Land Ownership"><i class="fa fa-lg fa-fw fa-steam"></i> <span class="menu-item-parent">Land Ownership</span></a>
                        </li>
                        <li class="@Html.RouteIf("landfunction", "active")">
                            <a href="@Url.Action("List", "LandFunction")" title="Land Function"><i class="fa fa-lg fa-fw fa-steam"></i> <span class="menu-item-parent">Land Function</span></a>
                        </li>
                        <li class="@Html.RouteIf("landpurpose", "active")">
                            <a href="@Url.Action("List", "LandPurpose")" title="Land Purpose"><i class="fa fa-lg fa-fw fa-steam"></i> <span class="menu-item-parent">Land Purpose</span></a>
                        </li>
                        <li class="@Html.RouteIf("lga", "active")">
                            <a href="@Url.Action("List", "LGA")" title="Local Government Area"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">LGA</span></a>
                        </li>
                        <li class="@Html.RouteIf("latecharge", "active")">
                            <a href="@Url.Action("List", "LateCharge")" title="Late Charges"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Late Charges</span></a>
                        </li>
                        <li class="@Html.RouteIf("mdaserviceitem", "active")">
                            <a href="@Url.Action("List", "MDAServiceItem")" title="MDA Service Items"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">MDA Service Items</span></a>
                        </li>
                        <li class="@Html.RouteIf("mdaservice", "active")">
                            <a href="@Url.Action("List", "MDAService")" title="MDA Services"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">MDA Services</span></a>
                        </li>

                        <li class="@Html.RouteIf("notificationmethod", "active")">
                            <a href="@Url.Action("List", "notificationmethod")" title="Notification Method"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Notification Method</span></a>
                        </li>
                        <li class="@Html.RouteIf("notificationtype", "active")">
                            <a href="@Url.Action("List", "notificationtype")" title="Notification Type"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Notification Type</span></a>
                        </li>
                        <li class="@Html.RouteIf("paymentoption", "active")">
                            <a href="@Url.Action("List", "PaymentOption")" title="Payment Options"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Payment Options</span></a>
                        </li>
                        <li class="@Html.RouteIf("paymentfrequency", "active")">
                            <a href="@Url.Action("List", "PaymentFrequency")" title="Payment Frequency"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Payment Frequency</span></a>
                        </li>
                        <li class="@Html.RouteIf("profile", "active")">
                            <a href="@Url.Action("List", "Profile")" title="Profiles"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Profiles</span></a>
                        </li>
                        <li class="@Html.RouteIf("revenuestream", "active")">
                            <a href="@Url.Action("List", "RevenueStream")" title="Revenue Stream"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Revenue Stream</span></a>
                        </li>
                        <li class="@Html.RouteIf("revenuesubstream", "active")">
                            <a href="@Url.Action("List", "RevenueSubStream")" title="Revenue Sub Stream"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Revenue Sub Stream</span></a>
                        </li>
                        <li class="@Html.RouteIf("landstreetcondition", "active")">
                            <a href="@Url.Action("List", "LandStreetCondition")" title="Street Condition"><i class="fa fa-lg fa-fw fa-steam"></i> <span class="menu-item-parent">Street Condition</span></a>
                        </li>
                        <li class="@Html.RouteIf("scratchcarddealer", "active")">
                            <a href="@Url.Action("List", "scratchcarddealer")" title="Scratch Card Delear"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Scratch Card Dealer</span></a>
                        </li>
                        <li class="@Html.RouteIf("scratchcardprinter", "active")">
                            <a href="@Url.Action("List", "scratchcardprinter")" title="Scratch Card Printer"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Scratch Card Printer</span></a>
                        </li>
                        <li class="@Html.RouteIf("settlementstatus", "active")">
                            <a href="@Url.Action("List", "settlementstatus")" title="Settlement Status"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Settlement Status</span></a>
                        </li>
                        <li class="@Html.RouteIf("settlementmethod", "active")">
                            <a href="@Url.Action("List", "SettlementMethod")" title="Settlement Method"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Settlement Method</span></a>
                        </li>
                        <li class="@Html.RouteIf("taxoffice", "active")">
                            <a href="@Url.Action("List", "TaxOffice")" title="Tax Offices"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Tax Offices</span></a>
                        </li>
                        <li class="@Html.RouteIf("taxpayerrole", "active")">
                            <a href="@Url.Action("List", "TaxPayerRole")" title="Tax Payer Role"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Tax Payer Role</span></a>
                        </li>
                        <li class="@Html.RouteIf("taxpayertype", "active")">
                            <a href="@Url.Action("List", "TaxPayerType")" title="Tax Payer Type"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Tax Payer Type</span></a>
                        </li>
                        <li class="@Html.RouteIf("title", "active")">
                            <a href="@Url.Action("List", "Title")" title="Titles"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Titles</span></a>
                        </li>
                        <li class="@Html.RouteIf("town", "active")">
                            <a href="@Url.Action("List", "Town")" title="Towns"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Towns</span></a>
                        </li>
                        <li class="@Html.RouteIf("unitfunction", "active")">
                            <a href="@Url.Action("List", "UnitFunction")" title="Unit Function"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Unit Function</span></a>
                        </li>
                        <li class="@Html.RouteIf("unitoccupancy", "active")">
                            <a href="@Url.Action("List", "UnitOccupancy")" title="Unit Occupancy"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Unit Occupancy</span></a>
                        </li>
                        <li class="@Html.RouteIf("unitpurpose", "active")">
                            <a href="@Url.Action("List", "UnitPurpose")" title="Unit Purpose"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Unit Purpose</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehiclefunction", "active")">
                            <a href="@Url.Action("List", "VehicleFunction")" title="Vehicle Function"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle Function</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehicleinsurance", "active")">
                            <a href="@Url.Action("List", "VehicleInsurance")" title="Vehicle Insurance"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle Insurance</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehiclelicense", "active")">
                            <a href="@Url.Action("List", "VehicleLicense")" title="Vehicle License"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle License</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehicleownership", "active")">
                            <a href="@Url.Action("List", "VehicleOwnership")" title="Vehicle Ownership"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle Ownership</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehiclepurpose", "active")">
                            <a href="@Url.Action("List", "VehiclePurpose")" title="Vehicle Purpose"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle Purpose</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehiclesubtype", "active")">
                            <a href="@Url.Action("List", "VehicleSubType")" title="Vehicle Sub Types"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle Sub Types</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehicletype", "active")">
                            <a href="@Url.Action("List", "VehicleType")" title="Vehicle Types"><i class="fa fa-lg fa-fw fa-taxi"></i> <span class="menu-item-parent">Vehicle Types</span></a>
                        </li>

                        <li class="@Html.RouteIf("ward", "active")">
                            <a href="@Url.Action("List", "Ward")" title="Wards"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Wards</span></a>
                        </li>
                        <li class="@Html.RouteIf("size", "active")">
                            <a href="@Url.Action("List", "Size")" title="Sizes"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Sizes</span></a>
                        </li> 
                        <li class="@Html.RouteIf("zone", "active")">
                            <a href="@Url.Action("Index", "Zone")" title="Zones"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Zones</span></a>
                        </li>
                    </ul>
                </li>
            }
            @if (SessionManager.SystemRoleID == (int)EnumList.SystemUserRole.Admin_Master || SessionManager.SystemRoleID == (int)EnumList.SystemUserRole.Admin)
            {
                <li class="top-menu-invisible @Html.RouteChildIf(CommUtil.RevenueDataChild, "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Revenue Data</span></a>
                    <ul>
                        <li class="@Html.RouteIf("assessment", "active")">
                            <a href="@Url.Action("List", "Assessment")" title="Assessment Bills"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Assessment Bills</span></a>
                        </li>
                        <li class="@Html.RouteIf("notification", "active")">
                            <a href="@Url.Action("List", "Notification")" title="Notifications"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Notifications</span></a>
                        </li>
                        <li class="@Html.RouteIf("paymentaccount", "active")">
                            <a href="@Url.Action("List", "PaymentAccount")" title="Payment Account"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Payment Account</span></a>
                        </li>
                        <li class="@Html.RouteIf("servicebill", "active")">
                            <a href="@Url.Action("List", "ServiceBill")" title="Service Bills"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Service Bills</span></a>
                        </li>
                        <li class="@Html.RouteIf("settlement", "active")">
                            <a href="@Url.Action("List", "Settlement")" title="Settlement"><i class="fa fa-lg fa-fw fa-life-saver"></i> <span class="menu-item-parent">Settlement</span></a>
                        </li>
                    </ul>
                </li>
                <li class="top-menu-invisible @Html.RouteChildIf(CommUtil.AssetChild, "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Assets</span></a>
                    <ul>
                        <li class="@Html.RouteIf("building", "active")">
                            <a href="@Url.Action("List", "Building")" title="Building"><i class="fa fa-lg fa-fw fa-bank"></i> <span class="menu-item-parent"> Building</span></a>
                        </li>
                        <li class="@Html.RouteIf("buildingunit", "active")">
                            <a href="@Url.Action("List", "BuildingUnit")" title="Building Units"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Building Units</span></a>
                        </li>
                        <li class="@Html.RouteIf("business", "active")">
                            <a href="@Url.Action("List", "Business")" title="Businesses"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Businesses</span></a>
                        </li>
                        <li class="@Html.RouteIf("land", "active")">
                            <a href="@Url.Action("List", "Land")" title="Lands"><i class="fa fa-lg fa-fw fa-steam"></i> <span class="menu-item-parent"> Lands</span></a>
                        </li>
                        <li class="@Html.RouteIf("vehicle", "active")">
                            <a href="@Url.Action("List", "Vehicle")" title="Vehicles"><i class="fa fa-lg fa-fw fa-automobile"></i> <span class="menu-item-parent"> Vehicles</span></a>
                        </li>
                    </ul>
                </li>
                <li class="top-menu-invisible @Html.RouteChildIf(CommUtil.TaxPayerChild, "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Tax Payer</span></a>
                    <ul>
                        <li class="@Html.RouteIf("company", "active")">
                            <a href="@Url.Action("List", "Company")" title="Company"><i class="fa fa-lg fa-fw fa-archive"></i> <span class="menu-item-parent">Company</span></a>
                        </li>
                        <li class="@Html.RouteIf("individual", "active")">
                            <a href="@Url.Action("List", "Individual")" title="Individual"><i class="fa fa-lg fa-fw fa-child"></i> <span class="menu-item-parent">Individual</span></a>
                        </li>
                        <li class="@Html.RouteIf("government", "active")">
                            <a href="@Url.Action("List", "Government")" title="Government"><i class="fa fa-lg fa-fw fa-archive"></i> <span class="menu-item-parent">Government</span></a>
                        </li>
                        <li class="@Html.RouteIf("special", "active")">
                            <a href="@Url.Action("List", "Special")" title="Special"><i class="fa fa-lg fa-fw fa-archive"></i> <span class="menu-item-parent">Special</span></a>
                        </li>
                    </ul>
                </li>
            }

            @if (SessionManager.SystemRoleID == (int)EnumList.SystemUserRole.Admin)
            {
                <li class="top-menu-invisible @Html.RouteChildIf(CommUtil.DataControlChild, "active")">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Data Control</span></a>
                    <ul>
                        <li class="@Html.RouteIf("TaxPayerWithoutAsset", "active")">
                            <a href="@Url.Action("TaxPayerWithoutAsset", "DataControl")" title="Tax Payer Without Asset"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Tax Payer Without Asset</span></a>
                        </li>
                        <li class="@Html.RouteIf("ProfileWithoutRule", "active")">
                            <a href="@Url.Action("ProfileWithoutRule", "DataControl")" title="Profile Without Assessment Rules"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Profile Without <br /> Assessment Rules</span></a>
                        </li>
                        <li class="@Html.RouteIf("AssessmentItemWithoutRule", "active")">
                            <a href="@Url.Action("AssessmentItemWithoutRule", "DataControl")" title="Assessment Item Without Assessment Rules"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Assessment Item <br /> Without Assessment Rules</span></a>
                        </li>
                        <li class="@Html.RouteIf("IndividualWithoutAssessment", "active")">
                            <a href="@Url.Action("IndividualWithoutAssessment", "DataControl")" title="Individual Without Assessment"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Individual Without Assessment</span></a>
                        </li>
                        <li class="@Html.RouteIf("CompanyWithoutAssessment", "active")">
                            <a href="@Url.Action("CompanyWithoutAssessment", "DataControl")" title="Company Without Assessment"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Company Without Assessment</span></a>
                        </li>   
                        <li class="@Html.RouteIf("AssessmentRulesWithAssessmentItems", "active")">
                            <a href="@Url.Action("Index", "DataControl")" title="Assessment Rules with Assessment Items"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">Assessment Rules with Assessment Items</span></a>
                        </li>   
                        <li class="@Html.RouteIf("MDAServiceAndItems", "active")">
                            <a href="@Url.Action("ServiceIndex", "DataControl")" title="MDA Service and Items"><i class="fa fa-lg fa-fw fa-th-list"></i> <span class="menu-item-parent">MDA Service and Items</span></a>
                        </li>
                    </ul>
                </li>
                <li class="@Html.RouteIf("SystemUser", "active")">
                    <a href="@Url.Action("List", "SystemUser")" title="System User List"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">System Users</span></a>
                </li>
            }
            </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->