@model IList<EIRS.BOL.usp_GetBuildingUnitNumberList_Result>
@using EIRS.Common

<table id="tbBuildingUnit" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th class="hasinput" style="width:25%">
                <input type="text" class="form-control" placeholder="Filter Unit Number" />
            </th>
            <th class="hasinput" style="width:25%">
                <input type="text" class="form-control" placeholder="Filter Unit Purpose" />
            </th>
            <th class="hasinput" style="width:25%">
                <input type="text" class="form-control" placeholder="Filter Unit Function" />
            </th>
            <th class="hasinput" style="width:25%">
                <input type="text" class="form-control" placeholder="Filter Unit Occupancy" />
            </th>
            <th class="hasinput" style="width:25%">
                <input type="text" class="form-control" placeholder="Filter Unit Size" />
            </th>
            <th style="width:25%"></th>
        </tr>
        <tr>
            <th data-class="expand">Unit Number</th>
            <th>Unit Purpose</th>
            <th>Unit Function</th>
            <th>Unit Occupancy</th>
            <th>Unit Size</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UnitNumber</td>
                    <td>@item.UnitPurposeName</td>
                    <td>@item.UnitFunctionName</td>
                    <td>@item.UnitOccupancyName</td>
                    <td>@item.UnitSize</td>
                    <td>
                        <label class="radio">
                            @Html.RadioButton("rbBuildingUnit", item.BuildingUnitID, new { @onChange = "jsfn_SelectSingleBuildingUnit(this)", @data_buid = item.BuildingUnitID, @title = "Tick To Select" })
                            <i></i>
                        </label>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
