@model IList<EIRS.BOL.usp_GetBuildingList_Result>
@using EIRS.Common

<table id="tbAsset" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building RIN" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Tag Number" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Number" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Street Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Off Street Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Town" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter LGA" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Ward" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Type" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Completion" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Purpose" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Ownership" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter No Of Units" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Size – Length (Sqm)" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Building Size – Width (Sqm)" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Latitude" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Longitude" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Status" />
            </th>
            <th style="width:10%"></th>
        </tr>
        <tr>
            <th data-class="expand">Building RIN</th>
            <th>Building Tag Number</th>
            <th>Building Name</th>
            <th>Building Number</th>
            <th>Street Name</th>
            <th>Off Street Name</th>
            <th>Town</th>
            <th>LGA</th>
            <th>Ward</th>
            <th>Building Type</th>
            <th>Building Completion</th>
            <th>Building Purpose</th>
            <th>Building Ownership</th>
            <th>No of Units</th>
            <th>Building Size – Length (Sqm) </th>
            <th>Building Size – Width (Sqm) </th>
            <th>Latitutde</th>
            <th>Longitude</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.BuildingRIN</td>
                    <td>@item.BuildingTagNumber</td>
                    <td>@item.BuildingName</td>
                    <td>@item.BuildingNumber</td>
                    <td>@item.StreetName</td>
                    <td>@item.OffStreetName</td>
                    <td>@item.TownName</td>
                    <td>@item.LGAName</td>
                    <td>@item.WardName</td>
                    <td>@item.BuildingTypeName</td>
                    <td>@item.BuildingCompletionName</td>
                    <td>@item.BuildingPurposeName</td>
                    <td>@item.BuildingOwnershipName</td>
                    <td>@item.NoOfUnits</td>
                    <td>@item.BuildingSize_Length</td>
                    <td>@item.BuildingSize_Width</td>
                    <td>@item.Latitude</td>
                    <td>@item.Longitude</td>
                    <td>@item.ActiveText</td>
                    <td>
                        <label class="radio">
                            @Html.RadioButton("rbAsset", item.BuildingID, new { @onChange = "jsfn_SelectSingleAsset(this)", @data_assetid = item.BuildingID, @data_assetrin = item.BuildingRIN, @title = "Tick To Select" })
                            <i></i>
                        </label>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
