@model IList<EIRS.BOL.usp_GetIndividualList_Result>
@using EIRS.Common

<table id="tbTaxPayer" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter User RIN" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Gender" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Title" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter First Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Last Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Middle Name" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Date of Birth" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter TIN" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Mobile Number 1" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Mobile Number 2" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Email Address 1" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Email Address 2" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Biometric Details" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Tax Office" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Marital Status" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Nationality" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Tax Payer Type" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Economic Activity" />
            </th>
            <th class="hasinput" style="width:10%">
                <input type="text" class="form-control" placeholder="Filter Status" />
            </th>
            <th style="width:10%"></th>
        </tr>
        <tr>
            <th data-class="expand">User RIN</th>
            <th>Gender</th>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Number</th>
            <th>Date of Birth</th>
            <th>TIN</th>
            <th>Mobile Number 1</th>
            <th>Mobile Number 2</th>
            <th>Email Address 1</th>
            <th>Email address 2</th>
            <th>Biometric Details</th>
            <th>Tax Office</th>
            <th>Marital Status</th>
            <th>Nationality</th>
            <th>Tax Payer Type</th>
            <th>Economic Activity</th>
            <th>Tax Payer Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.IndividualRIN</td>
                    <td>@item.GenderName</td>
                    <td>@item.TitleName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.MiddleName</td>
                    <td>@CommUtil.GetFormatedDate(item.DOB)</td>
                    <td>@item.TIN</td>
                    <td>@item.MobileNumber1</td>
                    <td>@item.MobileNumber2</td>
                    <td>@item.EmailAddress1</td>
                    <td>@item.EmailAddress2</td>
                    <td>@item.BiometricDetails</td>
                    <td>@item.TaxOfficeName</td>
                    <td>@item.MaritalStatusName</td>
                    <td>@item.NationalityName</td>
                    <td>@item.TaxPayerTypeName</td>
                    <td>@item.EconomicActivitiesName</td>
                    <td>@item.ActiveText</td>
                    <td>
                        <label class="radio">
                            @Html.RadioButton("rbTaxPayer", item.IndividualID, new { @onChange = "jsfn_SelectSingleTaxPayer(this)", @data_taxpayerid = item.IndividualID, @data_taxpayerrin = item.IndividualRIN, @title = "Tick To Select" })
                            <i></i>
                        </label>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
