@model EIRS.Web.Models.NewAssessmentViewModel
@using EIRS.Common
@using EIRS.BOL

@{

    IList<Assessment_AssessmentRule> lstAssessmentRules = (IList<Assessment_AssessmentRule>)ViewBag.AssessmentRuleList;
    ViewBag.Title = "Individual Tax Payer - Generate Assessment";
}

<div class="title">
    <h1>
        Individual Tax Payer: Generate Assessment Bill
    </h1>
    <hr>
</div>

@using (Html.BeginForm("AddAssessment", "CaptureIndividual", FormMethod.Post, new { @id = "frmAddAssessment" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.TaxPayerID, htmlAttributes: new { @value = Model.TaxPayerID, @id = "hdnTaxPayerID" })
    @Html.HiddenFor(model => model.TaxPayerTypeID, htmlAttributes: new { @value = Model.TaxPayerTypeID, @id = "hdnTaxPayerTypeID" })
    @Html.HiddenFor(model => model.TaxPayerRIN, htmlAttributes: new { @value = Model.TaxPayerRIN })
    @Html.HiddenFor(model => model.TaxPayerName, htmlAttributes: new { @value = Model.TaxPayerName })
    @Html.HiddenFor(model => model.TaxAmount, htmlAttributes: new { @value = Model.TaxAmount })

    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <div class="portlet light" style="min-height: 270px;">
                <div class="portlet-title">
                    <div class="caption">
                        Record Details
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table border-top-0">
                        <tbody>
                            <tr>
                                <td>Template Type</td>
                                <td>Assessment</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>@CommUtil.GetFormatedDate(CommUtil.GetCurrentDateTime())</td>
                            </tr>
                            <tr>
                                <td>Tax Payer Type</td>
                                <td>Individual</td>
                            </tr>
                            <tr>
                                <td>Tax Payer Name</td>
                                <td>@Model.TaxPayerName</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="portlet light" style="min-height: 270px;">
                <div class="portlet-body link-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label required-star" })
                                @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter Assessment Notes", @Rows = "5", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Notes, "", htmlAttributes: new { @class = "help-block" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SettlementDuedate, htmlAttributes: new { @class = "control-label required-star" })
                                @Html.TextBoxFor(model => model.SettlementDuedate, "{0:dd/MM/yyyy}", htmlAttributes: new { @tabindex = "2", @placeholder = "Enter Settlement Due Date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SettlementDuedate, "", htmlAttributes: new { @class = "help-block" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Assessment Rules</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme" id="btnAddAssessmentRule">
                    Add Assessment Rule
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="list-pane">
            <div id="dvAssessmentRule">
                @*@{ Html.RenderPartial("_BindAssessmentRuleForAssessment");}*@
                @foreach (var vRule in lstAssessmentRules)
                {

                    Console.WriteLine(vRule);
                    <div class="list-item clearfix">
                        <div class="col-sm-9 list-left-col">
                            <h3>
                                @vRule.AssessmentRuleName
                                <a onclick="javascript:jsfn_ShowAssessmentItems(@vRule.RowID)">[View Items]</a>
                            </h3>
                            <div class="desc-row">
                                Amount Charged: @CommUtil.GetFormatedCurrency(vRule.AssessmentRuleAmount) <br />
                                Tax Year: @vRule.TaxYear <a onclick="javascript:jsfn_RemoveAssessmentRule(@vRule.RowID)">Remove</a>
                            </div>
                        </div>
                        <div class="col-sm-3 list-right-col">
                            <h4>Amount to Pay</h4>
                            <div class="count">
                                <div class="counter-number">@CommUtil.GetFormatedCurrency(vRule.AssessmentRuleAmount)</div>
                                @*<div class="counter-number">@CommUtil.GetFormatedCurrency(vRule.AssessmentRuleAmount)</div>*@
                                <a class="btn btn-theme btn-icon-only btnRequester" id="btnEdit" onclick="javascript:jsfn_EditAssessmentItems(@vRule.RowID)">
                                    <i class="icon-plus"></i>
                                </a>
                                <div class="small-font-info">
                                    Click on plus(+) to edit amount to pay
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr class="margin-top-0">
            <div class="text-right">
                <a class="btn btn-theme" id="btnFinalSave"> Save </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvViewAssessmentRuleItemModal" tabindex="-1" role="dialog" aria-labelledby="dvViewAssessmentRuleItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewAssessmentRuleItemModalLabel">View Items in <span id="spViewAssessmentRuleName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="dvViewAssessmentRuleItemModalBody">

            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvEditAssessmentRuleItemModal" tabindex="-1" role="dialog" aria-labelledby="dvEditAssessmentRuleItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvEditAssessmentRuleItemModalLabel">Edit Items in <span id="spEditAssessmentRuleName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="dvEditAssessmentRuleItemModalBody">

            </div>
            <div class="modal-footer" id="dvModalFooter">
                <a class="btn btn-theme" id="btnSaveItems"> Save </a>
                <a data-dismiss="modal" class="btn btn-redtheme"> Close </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvAssessmentRuleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title">Select Assessment Rule</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnAssessmentRuleIds" />
                <div id="dvAssessmentRuleList">

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAddSelectedAssessment" class="btn btn-redtheme">Save</button>

            </div>
        </div>
    </div>
</div>



@section footer {
    <script type="text/javascript" src="~/Scripts/jsAddEditAssessment.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

