@model usp_GetAssessmentList_Result
@using EIRS.Common
@using EIRS.BOL

@{
    ViewBag.Title = "Individual Tax Payer - View Bill";

    IList<usp_GetAssessment_AssessmentRuleList_Result> lstMAPAssessmentRules = (IList<usp_GetAssessment_AssessmentRuleList_Result>)ViewBag.MAPAssessmentRules;
    IList<usp_GetAssessmentRuleItemList_Result> lstAssessmentItems = (IList<usp_GetAssessmentRuleItemList_Result>)ViewBag.AssessmentItems;
    IList<usp_GetAssessmentRuleBasedSettlement_Result> lstAssessmentRuleSettlement = (IList<usp_GetAssessmentRuleBasedSettlement_Result>)ViewBag.AssessmentRuleSettlement;
    IList<usp_GetSettlementList_Result> lstSettlement = (IList<usp_GetSettlementList_Result>)ViewBag.SettlementList;
    IList<usp_GetAssessmentAdjustmentList_Result> lstAssessmentAdjustment = (IList<usp_GetAssessmentAdjustmentList_Result>)ViewBag.AdjustmentList;
    IList<usp_GetAssessmentLateChargeList_Result> lstAssessmentLateCharge = (IList<usp_GetAssessmentLateChargeList_Result>)ViewBag.LateChargeList;
}

<div class="title">
    <h1>
        Individual Tax Payer: View Bill Details
    </h1>
    <hr>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="portlet light" style="min-height: 270px;">
            <div class="portlet-title">
                <div class="caption">
                    Record Details
                </div>
            </div>
            <div class="portlet-body">
                <table class="table border-top-0">
                    <tbody>
                        <tr>
                            <td>Template Type</td>
                            <td>Assessment</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>@CommUtil.GetFormatedDate(Model.AssessmentDate)</td>
                        </tr>
                        <tr>
                            <td>Tax Payer Type</td>
                            <td>@Model.TaxPayerTypeName</td>
                        </tr>
                        <tr>
                            <td>Tax Payer Name</td>
                            <td>@Model.TaxPayerName</td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td>@CommUtil.GetFormatedDate(Model.SettlementDueDate)</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light" style="min-height: 270px;">
            <div class="portlet-title">
                <div class="caption">
                    Notes
                </div>
            </div>
            <div class="portlet-body link-box">
                <p>@Html.Raw(Model.AssessmentNotes)</p>
            </div>
        </div>
    </div>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Reference: @Model.AssessmentRefNo &nbsp; | &nbsp; Status: @Model.SettlementStatusName
        </div>
    </div>
    <div class="portlet-body">
        <div class="list-pane" id="dvRequestList">
            @foreach (var item in lstMAPAssessmentRules)
            {
                string kudi = "";
                <div class="list-item clearfix">
                    <div class="col-sm-12 list-left-col">
                        <h3>@item.AssessmentRuleName <a data-toggle="modal" data-target="#dvViewAssessmentRuleModal_@item.AARID">[View Items]</a> </h3>
                        <div class="desc-row">
                            Amount Charged: @CommUtil.GetFormatedCurrency(lstAssessmentItems.Where(t => t.AARID == item.AARID).Sum(t => t.TotalAmount)) <br /> <br />      @*Amount Charged: @CommUtil.GetFormatedCurrency(item.AssessmentRuleAmount) <br />*@
                            Amount Paid: @CommUtil.GetFormatedCurrency(item.SettledAmount) <a data-toggle="modal" data-target="#dvViewPaymentModal_@item.AARID">[View Payments]</a> <br />
                            @*Outstanding: @CommUtil.GetFormatedCurrency(item.AssessmentRuleAmount.GetValueOrDefault() - item.SettledAmount.GetValueOrDefault()) <br />*@

                            Outstanding: @CommUtil.GetFormatedCurrency(lstAssessmentItems.Where(t => t.AARID == item.AARID).Sum(t => t.TotalAmount) - item.SettledAmount.GetValueOrDefault())<br />


                            Tax Year: @item.TaxYear
                        </div>
                    </div>
                </div>

                <div class="modal fade custom-modal" id="dvViewAssessmentRuleModal_@item.AARID" tabindex="-1" role="dialog" aria-labelledby="dvViewAssessmentRuleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="dvViewAssessmentRuleModalLabel">View Items in @item.AssessmentRuleName</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped ">
                                    <thead class="thead-theme">
                                        <tr>
                                            <th>Item Ref</th>
                                            <th>Item Name</th>
                                            <th>Computation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (lstAssessmentItems.Where(t => t.AARID == item.AARID).Count() > 0)
                                        {
                                            foreach (var aitem in lstAssessmentItems.Where(t => t.AARID == item.AARID))
                                            {
                                                <tr>
                                                    <td>@aitem.AssessmentItemReferenceNo</td>
                                                    <td>@aitem.AssessmentItemName</td>
                                                    <td>@aitem.ComputationName</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">No Item Found</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade custom-modal" id="dvViewPaymentModal_@item.AARID" tabindex="-1" role="dialog" aria-labelledby="dvViewPaymentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="dvViewPaymentModalLabel">View Payments for @item.AssessmentRuleName</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped ">
                                    <thead class="thead-theme">
                                        <tr>
                                            <th>Payment Ref</th>
                                            <th>Payment Date</th>
                                            <th>Amount Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (lstAssessmentRuleSettlement != null && lstAssessmentRuleSettlement.Where(t => t.AARID == item.AARID).Count() > 0)
                                        {
                                            foreach (var aitem in lstAssessmentRuleSettlement.Where(t => t.AARID == item.AARID))
                                            {
                                                <tr>
                                                    <td>@aitem.SettlementRefNo</td>
                                                    <td>@CommUtil.GetFormatedDate(aitem.SettlementDate)</td>
                                                    <td>@CommUtil.GetFormatedCurrency(aitem.SettlementAmount)</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">No Payment Found</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            }


            <hr class="margin-0">
            <div class="row info-row">

                <div class="col-sm-6">
                    Assessment Amount
                </div>
                <div class="col-sm-6 text-right">
                    @CommUtil.GetFormatedCurrency(Model.AssessmentAmount)
                </div>
            </div>

            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Adjustments <a data-toggle="modal" data-target="#dvViewAdjustmentModal">[View Adjustment]</a>
                </div>
                <div class="col-sm-6 text-right">
                    @CommUtil.GetFormatedCurrency(lstAssessmentAdjustment.Sum(t => t.Amount))
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Late Charges <a data-toggle="modal" data-target="#dvViewLateChargeModal">[View Late Charges]</a>
                </div>
                <div class="col-sm-6 text-right">
                    @CommUtil.GetFormatedCurrency(lstAssessmentLateCharge.Sum(t => t.TotalAmount))
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Total Amount
                </div>
                <div class="col-sm-6 text-right">
                    @CommUtil.GetFormatedCurrency(Model.AssessmentAmount + lstAssessmentAdjustment.Sum(t => t.Amount) + lstAssessmentLateCharge.Sum(t => t.TotalAmount))
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Total Paid <a data-toggle="modal" data-target="#dvViewSettlementModal">[View Payments]</a>
                </div>
                <div class="col-sm-6 text-right">
                    @CommUtil.GetFormatedCurrency(Model.SettlementAmount)
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row">
                <div class="col-sm-6">
                    Outstanding
                </div>
                <div class="col-sm-6 text-right">
                    @CommUtil.GetFormatedCurrency(Model.AssessmentAmount + lstAssessmentAdjustment.Sum(t => t.Amount) + lstAssessmentLateCharge.Sum(t => t.TotalAmount) - Model.SettlementAmount.GetValueOrDefault())
                </div>
            </div>
            <hr class="margin-0">
            <div class="row info-row font-red font-17">
                <div class="col-sm-6">
                    Amount to Pay
                </div>
                <div class="col-sm-6 text-right" id="dvAmountToPay">
                    @CommUtil.GetFormatedCurrency(Model.AssessmentAmount + lstAssessmentAdjustment.Sum(t => t.Amount) + lstAssessmentLateCharge.Sum(t => t.TotalAmount) - Model.SettlementAmount.GetValueOrDefault())
                </div>
            </div>

            @if (Model.SettlementStatusID < (int)EnumList.SettlementStatus.PendingApproval)
            {
                <hr class="margin-top-0" />

                <div class="form-horizontal">
                    @*<div class="form-group">
                        <label class="control-label col-sm-4">Settlement Method*</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("cboSettlementMethod", (SelectList)ViewBag.SettlementMethodList, "Select Settlement Method", htmlAttributes: new { @tabindex = "2", @class = "form-control bs-select", @width = "100%" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-sm-4">Add Notes *</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="txtareaId" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"></label>
                        <div class="col-sm-2">
                            <a href="@Url.Action("BillDetailToBeApproved", "CaptureIndividual", new { billid = Model.AssessmentID,type =1 })" class="btn btn-redtheme btn-block" id="btnCancel"> Disapprove </a>
                        </div>
                        <div class="col-sm-6">
                            @*<a class="btn btn-theme btn-block"> Approve </a>*@
                            <a href="@Url.Action("BillDetailToBeApproved", "CaptureIndividual", new { billid = Model.AssessmentID,type =2 })"class="btn btn-theme btn-block">
                                View Bill
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvViewSettlementModal" tabindex="-1" role="dialog" aria-labelledby="dvViewSettlementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewSettlementModalLabel">View Payments for @Model.AssessmentRefNo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped ">
                    <thead class="thead-theme">
                        <tr>
                            <th>Payment Ref</th>
                            <th>Payment Date</th>
                            <th>Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lstSettlement != null && lstSettlement.Count() > 0)
                        {
                            foreach (var sitem in lstSettlement)
                            {
                                <tr>
                                    <td>@sitem.SettlementRefNo</td>
                                    <td>@CommUtil.GetFormatedDate(sitem.SettlementDate)</td>
                                    <td>@CommUtil.GetFormatedCurrency(sitem.SettlementAmount)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" align="center">No Payment Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvViewAdjustmentModal" tabindex="-1" role="dialog" aria-labelledby="dvViewAdjustmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewAdjustmentModalLabel">View Adjustment for @Model.AssessmentRefNo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped ">
                    <thead class="thead-theme">
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Line</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lstAssessmentAdjustment != null && lstAssessmentAdjustment.Count() > 0)
                        {
                            foreach (var adj in lstAssessmentAdjustment)
                            {
                                <tr>
                                    <td>@CommUtil.GetFormatedDate(adj.AdjustmentDate)</td>
                                    <td>@adj.AdjustmentTypeName</td>
                                    <td>@adj.AdjustmentLine</td>
                                    <td>@CommUtil.GetFormatedCurrency(adj.Amount)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" align="center">No Adjustment Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="dvViewLateChargeModal" tabindex="-1" role="dialog" aria-labelledby="dvViewLateChargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dvViewLateChargeModalLabel">View LateCharge for @Model.AssessmentRefNo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped ">
                    <thead class="thead-theme">
                        <tr>
                            <th>Date</th>
                            <th>Penalty</th>
                            <th>Interest</th>
                            <th>Total Charges</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lstAssessmentLateCharge != null && lstAssessmentLateCharge.Count() > 0)
                        {
                            foreach (var lc in lstAssessmentLateCharge)
                            {
                                <tr>
                                    <td>@CommUtil.GetFormatedDate(lc.ChargeDate)</td>
                                    <td>@CommUtil.GetFormatedCurrency(lc.Penalty)</td>
                                    <td>@CommUtil.GetFormatedCurrency(lc.Interest)</td>
                                    <td>@CommUtil.GetFormatedCurrency(lc.TotalAmount)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" align="center">No Late Charge Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>