@{
    ViewBag.Title = "Capture Individual";
}

<div class="title">
    <h1>
        Search Tax Payer - Individual
    </h1>
    <hr>
</div>

<!-- Modal Structure for Searching NIN -->
<div class="modal fade" id="individualSearchModal" tabindex="-1" role="dialog" aria-labelledby="individualSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="ninMessage" class="alert" style="display: none;"></div>
                <h5 class="modal-title" id="individualSearchModalLabel">ENTER NIN</h5>
                <button type="button" style=" font-size: 30px;" class="close btn-danger border border-2 " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="individualSearchForm">
                    <div class="form-group">
                        <label for="ninSearch">Individual NIN or vNIN:</label>
                        <input type="number" class="form-control" id="ninSearch" placeholder="Enter NIN or vNIN" required />
                        <small id="ninError" class="text-danger" style="display:none;">Looks like you entered an invalid NIN number</small>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="verifyButton" style="justify-content:right; margin-right:10px;" class="btn btn-primary">Verify</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Search Tax Payer - Individual
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-7">
                @using (Ajax.BeginForm("Search", "CaptureIndividual", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchIndividual" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">Individual Name</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtName", "", new { @class = "form-control", @placeholder = "Enter Individual Name", @tabindex = "1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mobile</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtMobileNumber", "", new { @class = "form-control", @placeholder = "Enter Mobile Number", @tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">RIN</label>
                        <div class="col-sm-9">
                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN or NIN or TIN", @tabindex = "3" })
                        </div>
                    </div>
                    <div class="form-group text-right row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-theme btn-block" id="btnSearch"> Search </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-5">
                <p>
                    Enter the name of Individual and click on search below. The five most matching results will be returned where available. Select the one that best matches your Individual name and click on proceed.
                </p>

                <p>
                    You will be able to claim one business at a time and to view details of each Individual, click on the view link.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="portlet light" id="dvSearchData">
    <div class="portlet-title">
        <div class="caption">Individual List</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="openSearchModal()">Individuals</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Add","CaptureCorporate")">Corporates</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Add","CaptureGovernment")">Government</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Add","CaptureSpecial")">Special</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body" id="dvData">

    </div>
</div>

@{Html.RenderPartial("_IndividualDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsSearchIndividual.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script type="text/javascript">
        function openSearchModal() {
            $('#individualSearchModal').modal('show');
        }

      $(document).ready(function () {

           // Initially disable the Verify button and make it grey
           $('#verifyButton').prop('disabled', true).removeClass('btn-primary').addClass('btn-secondary');

           $('#ninSearch').on('input', function () {
               var nin = $(this).val(); // Get the NIN input value

               // If NIN exceeds 13 digits, trim it to 13
               if (nin.length > 13) {
                   $(this).val(nin.substring(0, 13)); // Limit input to 13 digits
               }

               // Check if the input has exactly 11 or 13 characters
               if (nin.length === 11) {
                   $('#ninMessage').html('NIN is valid').removeClass('alert-danger').addClass('alert-success').show();
               }
               else if (nin.length === 13) {
                   $('#ninMessage').html('vNIN is valid').removeClass('alert-danger').addClass('alert-success').show();
               }
               else if (nin.length > 0 && (nin.length !== 11 && nin.length !== 13)) {
                   $('#ninMessage').html('NIN requires 11 digits and vNIN requires 13 digits').removeClass('alert-success').addClass('alert-danger').show();
               }
               else {
                   $('#ninMessage').hide();  // Hide message if input is empty or exactly 11/13 digits
               }

               // Check if NIN has a valid length (between 11 and 13 digits)
               if (nin.length >= 11 && nin.length <= 13) {
                   $('#verifyButton').prop('disabled', false); // Enable the button
                   $('#verifyButton').removeClass('btn-secondary').addClass('btn-success'); // Change button color to green
               } else {
                   $('#verifyButton').prop('disabled', true); // Disable the button
                   $('#verifyButton').removeClass('btn-success').addClass('btn-secondary'); // Keep the button grey
               }
           });

           // Show the modal if the flag is set
           @if (ViewBag.ShowModal != null && ViewBag.ShowModal)
           {
               <text>$('#individualSearchModal').modal('show');</text>
           }

           $('#individualSearchForm').on('submit', function (e) {
               e.preventDefault(); // Prevent default form submission
               var nin = $('#ninSearch').val(); // Get the NIN input value

               if (nin.length < 10 || nin.length > 13) {
                   $('#ninError').show(); // Show error message
                   return; // Stop form submission
               } else {
                   $('#ninError').hide(); // Hide error message if validation passed
               }

       // Perform AJAX call to CheckActiveNIN
       $.ajax({
           url: '@Url.Action("CheckActiveNIN", "CaptureIndividual")',
           type: 'POST',
           data: { nin: nin },
           success: function (response) {
               if (response.success) {
                   $('#ninMessage').html(response.message).addClass('alert-success').removeClass('alert-danger').show();
                   populateForm(response.data);

                   // Store the response data globally
                   taxpayerData = response.data;

                   if (response.data.Id) {
                       console.log('why here')
                       $('#individualSearchModal .modal-body').html(`
                           <p><b>Taxpayer Already Exists</b></p>
                             <p>NIN: <strong>${response.data.NIN}</strong></p>
                           <p>Taxpayer Name: <strong>${response.data.FirstName} ${response.data.LastName}</strong></p>
                           <p>Taxpayer Rin: <strong>${response.data.Rin}</strong></p>
                           <p>Taxpayer Mobile Number: <strong>${response.data.MobileNumber}</strong></p>
                          <button class="btn btn-primary" id="continueAsTaxpayers">Continue to Taxpayers Page</button>
                          <button class="btn btn-danger" id="cancelToNewNIN">Cancel</button>
                      `);
                   } else if (response.data.NIN) {
                       console.log('get here1')
                        // Hide modal and redirect to Add action with nin
                       $('#individualSearchModal').modal('hide');
                       window.location.href = '@Url.Action("Add", "CaptureIndividual")?nin=' + nin;
                   }

               } else {
                   $('#ninMessage').html('NIN or vNIN NOT FOUND!!!').addClass('alert-danger').show();
                    console.log('get here2')
                   // Hide modal and redirect to Add action with nin

                   $('#individualSearchModal .modal-body').html(`
                      <p><b>NIN Not Found</b></p>
                       <button class="btn btn-info" id="continuewithoutNIN">Continue Without NIN or vNIN</button>
                       <button class="btn btn-danger" id="cancelToNewNIN">Cancel</button>
                  `);
               }
           },
           error: function (xhr, status, error) {
               console.error("Error occurred:", error);
           }
       });
   });

           // Event listener for "Continue Without NIN" button
                $(document).on('click', '#continueAsTaxpayers', function () {
                   if (taxpayerData) {
                       var redirectUrl = '@Url.Action("Details", "CaptureIndividual")?id=' + taxpayerData.Id;
                       console.log('Redirecting to: ' + redirectUrl);  // Check the URL in the console
                       window.location.href = redirectUrl;
                   } else {
                       console.error("Taxpayer data is not available.");
                   }
               });

           // Handle Cancel button to allow entering new NIN
           $(document).on('click', '#cancelToNewNIN', function () {
               window.location.reload();
           });

            $(document).on('load', '#', function () {
                 window.location.href = '@Url.Action("Add", "CaptureIndividual")?nin='
            })

           function populateForm(data) {
               $('#FirstName').val(data.FirstName);
               $('#LastName').val(data.LastName);
               $('#MiddleName').val(data.MiddleName);
               $('#NIN').val(data.NIN);
               $('#Id').val(data.Id);
               $('#Rin').val(data.Rin);
               $('#ContactAddress').val(data.ContactAddress);
               $('#MobileNumber').val(data.MobileNumber);
           }


               @*// Event listener for "Continue Without NIN" button
               $(document).on('click', '#continueWithoutNIN', function () {
                   // Redirect to the Add action without NIN
                   window.location.href = '@Url.Action("Add", "CaptureIndividual")';
               });*@
   });
    </script>
}


