@model EIRS.Models.EMIGRClassificationViewModel

@{
    ViewBag.Title = "Manage IGR Classification";
}

<div class="title">
    <h1>
        Manage IGR Classification
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Add New Classification
        </div>
        <div class="actions">
            <a href="@Url.Action("List","EMIGRClassification")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Add", "EMIGRClassification", FormMethod.Post, htmlAttributes: new { @id = "frmAddIGRClassification" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.CategoryList, "Select Category", htmlAttributes: new { @class = "form-control bs-select", @tabindex = "1", @placeholder = "Select Category", @id = "cboCategory" })
                        @Html.ValidationMessageFor(model => model.CategoryID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RevenueHeadID, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.DropDownListFor(model => model.RevenueHeadID, (SelectList)ViewBag.RevenueHeadList, "Select Revenue Head", htmlAttributes: new { @class = "form-control bs-select", @tabindex = "2", @placeholder = "Select Revenue Head", @id = "cboRevenueHead" })
                        @Html.ValidationMessageFor(model => model.RevenueHeadID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxMonth, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.DropDownListFor(model => model.TaxMonth, (SelectList)ViewBag.MonthList, "Select Month", htmlAttributes: new { @class = "form-control bs-select", @tabindex = "3", @placeholder = "Select Month" })
                        @Html.ValidationMessageFor(model => model.TaxMonth, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" value="Save" tabindex="4" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsEMAddEditIGRClassification.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}