@model EIRS.BOL.usp_EM_GetIGRClassificationList_Result
@using EIRS.Common
@{
    ViewBag.Title = "Manage IGR Classification";
    IList<usp_EM_GetClassificationDataSourceList_Result> lstDataSource = (IList<usp_EM_GetClassificationDataSourceList_Result>)ViewBag.DataSourceList;

}

<input type="hidden" id="hdnClassificationID" value="@Model.IGRClassificationID" />
<div class="title">
    <h1>
        Manage IGR Classification
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Classification Details
        </div>
        <div class="actions">
            <a href="@Url.Action("List","EMIGRClassification")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Category Name: </label>
                    <div class="form-control-static">
                        @Model.CategoryName
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Revenue Head: </label>
                    <div class="form-control-static">
                        @Model.RevenueHeadName
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Month: </label>
                    <div class="form-control-static">
                        @Model.TaxMonthName
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label bold">Status: </label>
                    <div class="form-control-static">
                        @Model.ActiveText
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Pay Direct - Main – Authorized (Amount : @CommUtil.GetFormatedCurrency(lstDataSource.Where(t=>t.DataSourceID == 1).Select(t=>t.Amount).FirstOrDefault()))</div>
        <div class="actions">
            <a href="@Url.Action("PDMainAuthorized","EMIGRClassification", new { id=Model.IGRClassificationID })" class="btn btn-redtheme"> Add New </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPDMainAuthorizedData">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref No</th>
                    <th>Payment Date</th>
                    <th>Customer Name</th>
                    <th class="none">RIN</th>
                    <th class="none">Bank</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Pay Direct - Main – Pending (Amount : @CommUtil.GetFormatedCurrency(lstDataSource.Where(t => t.DataSourceID == 2).Select(t => t.Amount).FirstOrDefault()))</div>
        <div class="actions">
            <a href="@Url.Action("PDMainPending","EMIGRClassification", new { id=Model.IGRClassificationID })" class="btn btn-redtheme"> Add New </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPDMainPendingData">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref No</th>
                    <th>Payment Date</th>
                    <th>Customer Name</th>
                    <th class="none">RIN</th>
                    <th class="none">Bank</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Pay Direct - MVA – Authorized (Amount : @CommUtil.GetFormatedCurrency(lstDataSource.Where(t => t.DataSourceID == 3).Select(t => t.Amount).FirstOrDefault()))</div>
        <div class="actions">
            <a href="@Url.Action("PDMVAAuthorized","EMIGRClassification", new { id=Model.IGRClassificationID })" class="btn btn-redtheme"> Add New </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPDMVAAuthorizedData">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref No</th>
                    <th>Payment Date</th>
                    <th>Customer Name</th>
                    <th class="none">RIN</th>
                    <th class="none">Bank</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Pay Direct - MVA – Pending (Amount : @CommUtil.GetFormatedCurrency(lstDataSource.Where(t => t.DataSourceID == 4).Select(t => t.Amount).FirstOrDefault()))</div>
        <div class="actions">
            <a href="@Url.Action("PDMVAPending","EMIGRClassification", new { id=Model.IGRClassificationID })" class="btn btn-redtheme"> Add New </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPDMVAPendingData">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref No</th>
                    <th>Payment Date</th>
                    <th>Customer Name</th>
                    <th class="none">RIN</th>
                    <th class="none">Bank</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Bank Statement (Amount : @CommUtil.GetFormatedCurrency(lstDataSource.Where(t => t.DataSourceID == 5).Select(t => t.Amount).FirstOrDefault()))</div>
        <div class="actions">
            <a href="@Url.Action("BankStatement","EMIGRClassification", new { id=Model.IGRClassificationID })" class="btn btn-redtheme"> Add New </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBankStatementData">
            <thead class="red-th">
                <tr>
                    <th>Payment Ref No</th>
                    <th>Payment Date</th>
                    <th>Customer Name</th>
                    <th class="none">Category</th>
                    <th class="none">Revenue Head</th>
                    <th class="none">Bank</th>
                    <th>Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="dvPayDirectModal" tabindex="-1" role="dialog" aria-labelledby="dvPayDirectModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvPayDirectModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Month</label>
                            <div id="dvPDTaxMonth">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Year</label>
                            <div id="dvPDTaxYear">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Payment Ref Number</label>
                            <div id="dvPDPaymentRefNumber">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Payment Date Time</label>
                            <div id="dvPDPaymentDateTime">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Assessment Reference/RIN</label>
                            <div id="dvAssessmentReference">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Receipt No</label>
                            <div id="dvReceiptNo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">RIN</label>
                            <div id="dvRIN">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Customer Name</label>
                            <div id="dvPDCustomerName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Revenue Item</label>
                            <div id="dvRevenueItem">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Amount</label>
                            <div id="dvPDAmount">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Payment Method</label>
                            <div id="dvPaymentMethod">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Deposit Slip</label>
                            <div id="dvDepositSlip">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Cheque Value Date</label>
                            <div id="dvChequeValueDate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Bank</label>
                            <div id="dvPDBank">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Additional Info</label>
                            <div id="dvAdditionalInfo">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Bank Branch</label>
                            <div id="dvBankBranch">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Payer Type</label>
                            <div id="dvTaxPayerType">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Payment Code</label>
                            <div id="dvPaymentCode">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Retrieval Ref. Number</label>
                            <div id="dvRetrievalRefNumber">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Auth-ID</label>
                            <div id="dvAuthID">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvBankStatementModal" tabindex="-1" role="dialog" aria-labelledby="dvBankStatementModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvBankStatementModalLabel">Bank Statement</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Month</label>
                            <div id="dvBSTaxMonth">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Tax Year</label>
                            <div id="dvBSTaxYear">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Payment Ref Number</label>
                            <div id="dvBSPaymentRefNumber">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Payment Date Time</label>
                            <div id="dvBSPaymentDateTime">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Customer Name</label>
                            <div id="dvBSCustomerName">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Category</label>
                            <div id="dvBSCategory">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Revenue Head</label>
                            <div id="dvBSRevenueHead">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Bank</label>
                            <div id="dvBSBank">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label control-label-static bold">Amount</label>
                            <div id="dvBSAmount">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsEMIGRClassificationDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}