@model IList<EIRS.BOL.usp_GetProfileList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileReferenceNo</td>
            <td>@item.AssetTypeName</td>
            <td>@item.ProfileSectorNames</td>
            <td>@item.ProfileSubSectorNames</td>
            <td>@item.ProfileGroupNames</td>
            <td>@item.ProfileSubGroupNames</td>
            <td>@item.ProfileSectorElementNames</td>
            <td>@item.ProfileSectorSubElementNames</td>
            <td>@item.ProfileAttributeNames</td>
            <td>@item.ProfileSubAttributeNames</td>
            <td>@item.TaxPayerTypeNames</td>
            <td>@item.TaxPayerRoleNames</td>
            <td>@item.ProfileDescription</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Profile", new { id = item.ProfileID, name=item.ProfileReferenceNo.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Profile", new { id = item.ProfileID, name=item.ProfileReferenceNo.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.ProfileID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
