@model usp_GetGovernmentList_Result
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Government Details";

    IList<usp_GetTaxPayerAssetList_Result> lstAsset = (IList<usp_GetTaxPayerAssetList_Result>)ViewBag.AssetList;
    IList<usp_GetAssessmentRuleInformation_Result> lstAssessmentRuleInformation = (IList<usp_GetAssessmentRuleInformation_Result>)ViewBag.AssessmentRuleInformation;
    IList<usp_GetProfileInformation_Result> lstProfileInformation = (IList<usp_GetProfileInformation_Result>)ViewBag.ProfileInformation;
    IList<usp_GetTaxPayerBill_Result> lstTaxPayerBill = (IList<usp_GetTaxPayerBill_Result>)ViewBag.TaxPayerBill;
    IList<usp_GetTaxPayerPayment_Result> lstTaxPayerPayment = (IList<usp_GetTaxPayerPayment_Result>)ViewBag.TaxPayerPayment;
    IList<usp_GetTaxPayerMDAService_Result> lstMDAService = (IList<usp_GetTaxPayerMDAService_Result>)ViewBag.MDAService;
    IList<usp_GetTaxPayerDocumentList_Result> lstDocument = (IList<usp_GetTaxPayerDocumentList_Result>)ViewBag.DocumentList;
}

<input type="hidden" id="hdnTaxPayerID" value="@Model.GovernmentID" />
<input type="hidden" id="hdnTaxPayerTypeID" value="@Model.TaxPayerTypeID" />

<div class="title">
    <h1>
        Government Tax Payer
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Government Tax Payer Information
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_GovernmentInformation(@Model.GovernmentID)">View Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","CaptureGovernment", new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })">Edit Detail</a>
                    </li>
                    <li><a onclick="javascript:jsfn_ChangeStatus(@Model.GovernmentID)">@(Model.Active == false ? "Mark Active" : "Mark Inactive")</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Type: </label>
                <div class="form-control-static">
                    @Model.TaxPayerTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer TIN: </label>
                <div class="form-control-static">
                    @Model.TIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Mobile Number: </label>
                <div class="form-control-static">
                    @Model.ContactNumber
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Office: </label>
                <div class="form-control-static">
                    @Model.TaxOfficeName
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Name: </label>
                <div class="form-control-static">
                    @Model.GovernmentName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer RIN: </label>
                <div class="form-control-static">
                    @Model.GovernmentRIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Contact  Address: </label>
                <div class="form-control-static">
                    @Model.ContactAddress
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Allocated Tax Officer: </label>
                <div class="form-control-static">
                    @Model.TaxOfficerName
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Assets</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("SearchBusiness","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" )">Business</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchBuilding","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" )">Building</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchLand","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" )">Land</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchVehicle","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" )">Vehicles</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssetList">
            <thead class="red-th">
                <tr>
                    <th>Asset Type</th>
                    <th>Asset Name</th>
                    <th>Tax Payer Role</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody id="tbAssetList">
                @{Html.RenderPartial("_BindAssetTable", lstAsset);}
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Profiles</div>

    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblProfileList">
            <thead class="red-th">
                <tr>
                    <th>Profile Description</th>
                    <th>Asset Type</th>
                    <th>Asset Name</th>
                    <th>Asset RIN</th>
                    <th>Tax Payer Role</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vProfile in lstProfileInformation)
                {
                    <tr>
                        <td>@vProfile.ProfileDescription</td>
                        <td>@vProfile.AssetTypeName</td>
                        <td>@vProfile.AssetName</td>
                        <td>@vProfile.AssetRIN</td>
                        <td>@vProfile.TaxPayerRoleName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_ProfileDetails(@vProfile.ProfileID)">Quick View</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Bills</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("GenerateAssessment","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" )">Assessment Bill</a>
                    </li>
                    <li>
                        <a href="@Url.Action("GenerateServiceBill","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" )">MDA Service Bill</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBillList">
            <thead class="red-th">
                <tr>
                    <th>Date</th>
                    <th>Bill Type</th>
                    <th class="desktop">Bill ID</th>
                    <th>Bill Amount</th>
                    <th class="desktop">Bill Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vBillItem in lstTaxPayerBill)
                {
                    <tr>
                        <td>@CommUtil.GetFormatedDate(vBillItem.BillDate)</td>
                        <td>@vBillItem.BillTypeName</td>
                        <td>@vBillItem.BillRefNo</td>
                        <td>@CommUtil.GetFormatedCurrency(vBillItem.BillAmount)</td>
                        <td>@vBillItem.SettlementStatusName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_BillDetails(@vBillItem.BillID, @vBillItem.BillTypeID)">Quick View</a>
                                    </li>
                                    @if (vBillItem.SettlementStatusID < 3)
                                    {
                                        <li>
                                            @if (vBillItem.BillTypeID == 1)
                                            {
                                                <a href="@Url.Action("EditAssessment", "CaptureGovernment", new { id = Model.GovernmentID, name = Model.GovernmentRIN.ToSeoUrl(), aid = vBillItem.BillID })" )"">
                                                    Edit Bill
                                                </a>
                                            }
                                            else if (vBillItem.BillTypeID == 2)
                                            {
                                                <a href="@Url.Action("EditServiceBill", "CaptureGovernment", new { id = Model.GovernmentID, name = Model.GovernmentRIN.ToSeoUrl(), sbid = vBillItem.BillID })" )"">
                                                    Edit Bill
                                                </a>
                                            }
                                        </li>
                                    }
                                    <li>
                                        <a href="@Url.Action("BillDetail", "CaptureGovernment", new { id = Model.GovernmentID, name = Model.GovernmentRIN.ToSeoUrl(), billid = vBillItem.BillID, billrefno = vBillItem.BillRefNo })">
                                            View Bill
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="@Url.Action("GenerateBill", "CaptureGovernment", new { id = Model.GovernmentID, name = Model.GovernmentRIN.ToSeoUrl(), billid = vBillItem.BillID, billrefno = vBillItem.BillRefNo })">
                                            Generate PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:jsfn_BillPaymentDetails(@vBillItem.BillID, @vBillItem.BillTypeID)">View Payments </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Rules</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tax Year <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript: jsfn_FilterAssessmentRuleTable(2018);">2018</a>
                    </li>
                    <li>
                        <a onclick="javascript: jsfn_FilterAssessmentRuleTable(2019);">2019</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblAssessmentRules">
            <thead class="red-th">
                <tr>
                    <th>Rule Year</th>
                    <th>Rule Name</th>
                    <th>Rule Amount</th>
                    <th>Billed Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vRule in lstAssessmentRuleInformation)
                {
                    <tr>
                        <td>@vRule.TaxYear</td>
                        <td>@vRule.AssessmentRuleName</td>
                        <td>@CommUtil.GetFormatedCurrency(vRule.AssessmentAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vRule.BilledAmount)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_AssessmentRuleDetails(@vRule.AssessmentRuleID)">Quick View</a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:jsfn_AssessmentRuleItemList(@vRule.AssessmentRuleID)">View Items </a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:jsfn_ProfileDetails(@vRule.ProfileID)">View Profiles </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div> 

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Associated MDA Services
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tax Year <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript: jsfn_FilterMDAServiceTable(2018);">2018</a>
                    </li>
                    <li>
                        <a onclick="javascript: jsfn_FilterMDAServiceTable(2019);">2019</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblMDAServiceList">
            <thead class="red-th">
                <tr>
                    <th>Service Year</th>
                    <th>Service Name</th>
                    <th>Service Amount</th>
                    <th>Billed Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vMDAService in lstMDAService)
                {
                    <tr>
                        <td>@vMDAService.TaxYear</td>
                        <td>@vMDAService.MDAServiceName</td>
                        <td>@CommUtil.GetFormatedCurrency(vMDAService.ServiceAmount)</td>
                        <td>@CommUtil.GetFormatedCurrency(vMDAService.BilledAmount)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_MDAServiceDetails(@vMDAService.MDAServiceID)">Quick View</a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:jsfn_MDAServiceItemList(@vMDAService.MDAServiceID)">View Items </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Payments</div>
        <div class="actions">
            <div class="btn-group">
                <span>PoA Balance : </span> @CommUtil.GetFormatedCurrency(ViewBag.PoABalance)
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPaymentList">
            <thead class="red-th">
                <tr>
                    <th>Date</th>
                    <th>Bill Type</th>
                    <th class="desktop">Bill ID</th>
                    <th>Bill Amount</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vPaymentItem in lstTaxPayerPayment)
                {
                    <tr>
                        <td>@CommUtil.GetFormatedDate(vPaymentItem.PaymentDate)</td>
                        <td>@vPaymentItem.PaymentTypeName</td>
                        <td>@vPaymentItem.PaymentRefNo</td>
                        <td>@CommUtil.GetFormatedCurrency(vPaymentItem.Amount)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_PaymentDetails(@vPaymentItem.PaymentID, @vPaymentItem.PaymentTypeID)">Quick View</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Documents</div>
        <div class="actions">
            <div class="btn-group">
                <a href="@Url.Action("AddDocument","CaptureGovernment",new { id=Model.GovernmentID, name =Model.GovernmentRIN.ToSeoUrl() })" class="btn btn-theme">Add New Document</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblDocumentList">
            <thead class="red-th">
                <tr>
                    <th>Document Ref No</th>
                    <th>Document Date</th>
                    <th>Upload By</th>
                    <th>Title</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody id="tbAssetList">
                @{Html.RenderPartial("_BindDocumentTable", lstDocument);}
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Messages</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body" id="dvMessaging">
        @{ Html.RenderAction("GetTaxPayerMessage", new { TaxPayerID = Model.GovernmentID, TaxPayerTypeID = Model.TaxPayerTypeID }); }
    </div>
</div>

@{
    Html.RenderPartial("_GovernmentDetailPopup");
    Html.RenderPartial("_BuildingDetailPopup");
    Html.RenderPartial("_VehicleDetailPopup");
    Html.RenderPartial("_BusinessDetailPopup");
    Html.RenderPartial("_LandDetailPopup");
    Html.RenderPartial("_AssessmentRuleDetailPopup");
    Html.RenderPartial("_ProfileDetailPopup");
    Html.RenderPartial("_AssessmentRuleItemPopup");
    Html.RenderPartial("_MDAServiceDetailPopup");
    Html.RenderPartial("_MDAServiceItemPopup");
    Html.RenderPartial("_ServiceBillDetailPopup");
    Html.RenderPartial("_AssessmentDetailPopup");
    Html.RenderPartial("_BillPaymentPopup");
    Html.RenderPartial("_SettlementDetailPopup");
    Html.RenderPartial("_PaymentAccountDetailPopup");


}

@section Footer {
    <script type="text/javascript" src="/Content/plugins/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsGovernmentDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    <script src="~/Scripts/jsTaxPayerMessage.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber" type="text/javascript"></script>
}

