@model EIRS.Web.Models.GenerateServiceBillViewModel
@using EIRS.Common
@using EIRS.BOL

@{
    ViewBag.Title = "Government Tax Payer - Generate Service Bill";
    IList<usp_GetMDAServiceForServiceBill_Result> lstMDAService = (IList<usp_GetMDAServiceForServiceBill_Result>)ViewBag.MDAServiceInformation;
}
<script type="text/javascript">
    let serviceIds = [];

    function setCheckedItemId(serviceId) {
        let checkboxId = "serviceCheckbox" + serviceId;
        let checkbox = document.getElementById(checkboxId);

        if (checkbox.checked) {
            let serviceObj = { serviceId };
            serviceIds.push(serviceObj);
            //console.log("serviceIds: ", serviceIds);
        }
        else {
            let index = serviceIds.findIndex((O) => O.serviceId == serviceId);
            serviceIds.splice(index, 1);
            //console.log("serviceIds: ", serviceIds);
        }

        //let stringArray = JSON.stringify(serviceIds);
        //console.log("stringArray: ", stringArray);
        document.getElementById("hdnMDAServiceIds").value = JSON.stringify(serviceIds);
        //document.getElementById("hdnMDAServiceIds").value = serviceId;
    }

</script>
<div class="title">
    <h1>
        Government Tax Payer: Add New Service Bill
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Government Tax Payer Information
        </div>
        <div class="actions">
            <a href="@Request.UrlReferrer" class="btn btn-redtheme" id="btnCancel"> Cancel </a>
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_GovernmentInformation(@Model.TaxPayerID)">View Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","CaptureGovernment", new { id=Model.TaxPayerID, name =Model.TaxPayerRIN.ToSeoUrl() })">Edit Detail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Type: </label>
                <div class="form-control-static">
                    @Model.TaxPayerTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer TIN: </label>
                <div class="form-control-static">
                    @Model.TaxPayerTIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Mobile Number: </label>
                <div class="form-control-static">
                    @Model.ContactNumber
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label bold">Tax Payer Name: </label>
                <div class="form-control-static">
                    @Model.TaxPayerTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Tax Payer RIN: </label>
                <div class="form-control-static">
                    @Model.TaxPayerRIN
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Contact  Address: </label>
                <div class="form-control-static">
                    @Model.ContactAddress
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("GenerateServiceBill", "CaptureGovernment", FormMethod.Post, htmlAttributes: new { @id = "frmAddServiceBill" }))
{
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                Generate New Service Bill
            </div>
            <div class="actions">
                <button id="btnSave" class="btn btn-redtheme">Generate Service Bill</button>
            </div>
        </div>
        <div class="portlet-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.TaxPayerID, new { @Value = Model.TaxPayerID })
            @Html.HiddenFor(m => m.TaxPayerTypeID, new { @Value = Model.TaxPayerTypeID })
            @Html.HiddenFor(m => m.TaxPayerTypeName, new { @Value = Model.TaxPayerTypeName })
            @Html.HiddenFor(m => m.TaxPayerName, new { @Value = Model.TaxPayerName })
            @Html.HiddenFor(m => m.TaxPayerTIN, new { @Value = Model.TaxPayerTIN })
            @Html.HiddenFor(m => m.TaxPayerRIN, new { @Value = Model.TaxPayerRIN })
            @Html.HiddenFor(m => m.ContactNumber, new { @Value = Model.ContactNumber })
            @Html.HiddenFor(m => m.ContactAddress, new { @Value = Model.ContactAddress })
            @Html.HiddenFor(m => m.MDAServiceIds, new { @Value = Model.MDAServiceIds, @id = "hdnMDAServiceIds" })

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblMDAServices">
                <thead class="red-th">
                    <tr>
                        <th>Service Year</th>
                        <th>Service Name</th>
                        <th>Service Amount</th>
                        <th class="action-th all">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in lstMDAService)
                    {
                        string checkBoxId = "serviceCheckbox" + service.MDAServiceID.ToString();

                        <tr>
                            <td>@service.TaxYear</td>
                            <td>@service.MDAServiceName</td>
                            <td>@CommUtil.GetFormatedCurrency(service.ServiceAmount)</td>
                            <td>
                                <input type="checkbox" id="@checkBoxId" onclick="setCheckedItemId('@service.MDAServiceID')" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
}


    @section footer {
        <script type="text/javascript" src="~/Scripts/jsGenerateServiceBill.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
    }


