@model IList<EIRS.BOL.usp_GetIndividualList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.IndividualRIN</td>
            <td>@item.GenderName</td>
            <td>@item.TitleName</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.MiddleName</td>
            <td>@CommUtil.GetFormatedDate(item.DOB)</td>
            <td>@item.TIN</td>
            <td>@item.MobileNumber1</td>
            <td>@item.MobileNumber2</td>
            <td>@item.EmailAddress1</td>
            <td>@item.EmailAddress2</td>
            <td>@item.BiometricDetails</td>
            <td>@item.TaxOfficeName</td>
            <td>@item.MaritalStatusName</td>
            <td>@item.NationalityName</td>
            <td>@item.TaxPayerTypeName</td>
            <td>@item.EconomicActivitiesName</td>
            <td>@item.NotificationMethodName</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Individual", new { id = item.IndividualID, name=(item.FirstName + " " + item.LastName).ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Individual", new { id = item.IndividualID, name=(item.FirstName + " " + item.LastName).ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddressInformationList", "Individual", new { id = item.IndividualID, name=item.IndividualRIN.ToSeoUrl() })">
                                Address Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssetList", "Individual", new { id = item.IndividualID, name=item.IndividualRIN.ToSeoUrl() })">
                                Asset Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ShowProfileInformation(@item.IndividualID,'@item.IndividualRIN','@item.FirstName @item.LastName')">
                                Profile Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ShowAssessmentRuleInformation(@item.IndividualID,'@item.IndividualRIN','@item.FirstName @item.LastName')">
                                Assessment Rule Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssessmentList", "Individual", new { id = item.IndividualID, name=item.IndividualRIN.ToSeoUrl() })">
                                Assessment Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.IndividualID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
