@model EIRS.Models.IndividualViewModel

@{
    ViewBag.Title = "Individual Details";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-child"></i>
                Individual
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvIndividualDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Individual</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Individual Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Individual RIN</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.IndividualRIN
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Gender</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.GenderName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Title</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TitleName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">First Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.FirstName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Last Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.LastName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Middle Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.MiddleName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Date of Birth</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.DOB
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">TIN</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TIN
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Mobile Number 1</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.MobileNumber1
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Mobile Number 2</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.MobileNumber2
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Email Address 1</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.EmailAddress1
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Email Address 2</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.EmailAddress2
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Biometric Details</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.BiometricDetails
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Office</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxOfficeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Marital Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.MaritalStatusName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Nationality</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NationalityName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Type</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Economic Activities</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.EconomicActivitiesName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Preferred Notification</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.NotificationMethodName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List","Individual")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
