
@{
    ViewBag.Title = "ERAS Manual List";
}

<div class="title">
    <h1>
        ERAS Manual
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">ERAS Manual</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblFunctionList">
            <thead class="red-th">
                <tr>
                    <th>Function ID</th>
                    <th>Function Name</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EM001</td>
                    <td>Manage Classification Categories</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","EMCategory")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>EM002</td>
                    <td>Manage Classification Manual Revenue Heads</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","EMRevenueHead")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>EM003</td>
                    <td>Manage Banks</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","EMBank")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>EM004</td>
                    <td>Data Imports</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("DataSource","ERASManual")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>EM005</td>
                    <td>Manage IGR Classification</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-xs md-skip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("List","EMIGRClassification")"> View</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
