@model EIRS.BOL.usp_GetIndividualList_Result

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Asset List";
}
<section class="alternate">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Register
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav">
                            <li>
                                <a><i class="fa fa-angle-right"></i> Search</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> OTP</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> Tax Payer</a>
                            </li>
                            <li class="active">
                                <a><i class="fa fa-angle-right"></i> Asset</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Tax Payer Summary
                        </div>
                    </div>
                    <div class="row view-form">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer Type: </label>
                                <div class="form-control-static">
                                    Individual
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer TIN: </label>
                                <div class="form-control-static">
                                    @Model.TIN
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Mobile Number: </label>
                                <div class="form-control-static">
                                    @Model.MobileNumber1
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer Name: </label>
                                <div class="form-control-static">
                                    @Model.FirstName @Model.LastName
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Tax Payer EIN: </label>
                                <div class="form-control-static">
                                    @Model.IndividualRIN
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label bold">Contact  Address: </label>
                                <div class="form-control-static">
                                    @Model.ContactAddress
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content" id="dvAlertConatiner">
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Step 4: Select Asset Type
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row radio-tile-group" id="dvAssetType">
                            <div class="col-sm-3">
                                <div class="input-container">
                                    <input id="rbBuilding" value="1" class="radio-button" type="radio" name="rbAssetType">
                                    <div class="radio-tile">
                                        <div class="radio-icon">
                                            <i class="fa fa-building-o"></i>
                                        </div>
                                        <label class="radio-tile-label">Building</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-container">
                                    <input id="rbBusiness" value="2" class="radio-button" type="radio" name="rbAssetType">
                                    <div class="radio-tile">
                                        <div class="radio-icon">
                                            <i class="fa fa-industry"></i>
                                        </div>
                                        <label class="radio-tile-label">Business</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-container">
                                    <input id="rbVehicles" value="3" class="radio-button" type="radio" name="rbAssetType">
                                    <div class="radio-tile">
                                        <div class="radio-icon">
                                            <i class="fa fa-car"></i>
                                        </div>
                                        <label class="radio-tile-label">Vehicles</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-container">
                                    <input id="rbLand" value="4" class="radio-button" type="radio" name="rbAssetType">
                                    <div class="radio-tile">
                                        <div class="radio-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <label class="radio-tile-label">Lands</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light" id="dvSearchBuilding">
                    <div class="portlet-title">
                        <div class="caption">
                            Search Assets - Building
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-7">
                                @using (Ajax.BeginForm("SearchBuilding", "SignupIndividual", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchBuilding" }))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Building Name</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtBuildingName", "", new { @class = "form-control", @placeholder = "Enter Building Name", @tabindex = "1" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Street Name</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtStreetName", "", new { @class = "form-control", @placeholder = "Enter Street Name", @tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RIN" class="control-label col-sm-3">RIN</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                                        </div>
                                    </div>
                                    <div class="form-group text-right row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-theme btn-block" id="btnBuildingSearch"> Search </button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    Enter name of Building and click on search below. The five most matches results will be returned where available. Select the one that best matches your Individual name and click on proceed.
                                </p>

                                <p>
                                    You will be able to claim one Building at a time and to view details of each Individual, click on the view link.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light" id="dvSearchBusiness">
                    <div class="portlet-title">
                        <div class="caption">
                            Search Assets - Business
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-7">
                                @using (Ajax.BeginForm("SearchBusiness", "SignupIndividual", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchBusiness" }))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Business Name</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtBusinessName", "", new { @class = "form-control", @placeholder = "Enter Business Name", @tabindex = "1" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Business Address</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtBusinessAddress", "", new { @class = "form-control", @placeholder = "Enter Business Address", @tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RIN" class="control-label col-sm-3">RIN</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                                        </div>
                                    </div>
                                    <div class="form-group text-right row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-theme btn-block" id="btnBusinessSearch"> Search </button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    Enter name of business and click on search below. The five most matches results will be returned where available. Select the one that best matches your Individual name and click on proceed.
                                </p>

                                <p>
                                    You will be able to claim one business at a time and to view details of each Individual, click on the view link.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light" id="dvSearchLand">
                    <div class="portlet-title">
                        <div class="caption">
                            Search Assets - Land
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-7">
                                @using (Ajax.BeginForm("SearchLand", "SignupIndividual", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchLand" }))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Plot Number</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtPlotNumber", "", new { @class = "form-control", @placeholder = "Enter Plot Number", @tabindex = "1" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Occupier</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtLandOccupier ", "", new { @class = "form-control", @placeholder = "Enter Occupier", @tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RIN" class="control-label col-sm-3">RIN</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                                        </div>
                                    </div>
                                    <div class="form-group text-right row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-theme btn-block" id="btnLandSearch"> Search </button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    Enter Land and click on search below. The five most matches results will be returned where available. Select the one that best matches your Individual name and click on proceed.
                                </p>

                                <p>
                                    You will be able to claim one Land at a time and to view details of each Individual, click on the view link.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light" id="dvSearchVehicle">
                    <div class="portlet-title">
                        <div class="caption">
                            Search Assets - Vehicle
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-7">
                                @using (Ajax.BeginForm("SearchVehicle", "SignupIndividual", new AjaxOptions() { UpdateTargetId = "dvData", AllowCache = true, HttpMethod = "Post", OnSuccess = "jsfn_ShowData", OnBegin = "jsfn_ShowLoading", OnComplete = "jsfn_HideLoading" }, new { @class = "form-horizontal", @id = "frmSearchVehicle" }))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Registration Number</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtRegNumber", "", new { @class = "form-control", @placeholder = "Enter Registration Number", @tabindex = "1" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Vehicle Description</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtVehicleDescription", "", new { @class = "form-control", @placeholder = "Enter Vehicle Description", @tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RIN" class="control-label col-sm-3">RIN</label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("txtRIN", "", new { @class = "form-control", @placeholder = "Enter RIN", @tabindex = "3" })
                                        </div>
                                    </div>
                                    <div class="form-group text-right row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-theme btn-block" id="btnVehicleSearch"> Search </button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    Enter name of Vehicle and click on search below. The five most matches results will be returned where available. Select the one that best matches your Individual name and click on proceed.
                                </p>

                                <p>
                                    You will be able to claim one Vehicle at a time and to view details of each Individual, click on the view link.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light" id="dvSearchData">
                    <div class="portlet-title">
                        <div class="caption">Asset List</div>
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add New <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("AddBuilding","SignupIndividual")">Building</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddBusiness","SignupIndividual")">Business</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddVehicle","SignupIndividual")">Vehicle</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddLand","SignupIndividual")">Land</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="dvData">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    Html.RenderPartial("_BuildingDetailPopup");
    Html.RenderPartial("_BusinessDetailPopup");
    Html.RenderPartial("_LandDetailPopup");
    Html.RenderPartial("_VehicleDetailPopup");
    Html.RenderPartial("_BindLinkAssetPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsSignUpIndividualAssetList.js"></script>
}

