@model EIRS.Models.BuildingViewModel
@using EIRS.Common
@using EIRS.BOL
@{
    Layout = "~/Views/Shared/_TaxPayerLayout.cshtml";
    ViewBag.Title = "Building Details";

    IList<usp_GetTaxPayerAssetList_Result> lstAsset = (IList<usp_GetTaxPayerAssetList_Result>)ViewBag.AssetList;
    IList<usp_GetBuildingUnitNumberList_Result> lstUnitInformation = (IList<usp_GetBuildingUnitNumberList_Result>)ViewBag.UnitList;

}

<div class="title">
    <h1>
        Building Asset
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Building Asset Information
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_BuildingInformation(@Model.BuildingID)">View Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit","ProfileBuilding", new { id=Model.BuildingID, name =Model.BuildingRIN.ToSeoUrl() })">Edit Detail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Asset Type: </label>
                <div class="form-control-static">
                    @Model.AssetTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Asset RIN: </label>
                <div class="form-control-static">
                    @Model.BuildingRIN
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Asset Name: </label>
                <div class="form-control-static">
                    @Model.BuildingName
                </div>
            </div>

            <div class="form-group">
                <label class="control-label bold">Asset LGA: </label>
                <div class="form-control-static">
                    @Model.LGAName
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Units</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBuildingUnitList">
            <thead class="red-th">
                <tr>
                    <th>Unit Number</th>
                    <th>Unit Purpose</th>
                    <th>Unit Function</th>
                    <th>Unit Occupancy</th>
                    <th>Unit Size</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vBUnit in lstUnitInformation)
                {
                    <tr>
                        <td>@vBUnit.UnitNumber</td>
                        <td>@vBUnit.UnitPurposeName</td>
                        <td>@vBUnit.UnitFunctionName</td>
                        <td>@vBUnit.UnitOccupancyName</td>
                        <td>@vBUnit.UnitSize</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Tax Payers</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("SearchCorporate","ProfileBuilding",new { id=Model.BuildingID, name =Model.BuildingRIN.ToSeoUrl() })" )">Corporates</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchIndividual","ProfileBuilding",new { id=Model.BuildingID, name =Model.BuildingRIN.ToSeoUrl() })" )">Individuals</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchGovernment","ProfileBuilding",new { id=Model.BuildingID, name =Model.BuildingRIN.ToSeoUrl() })" )">Governments</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchSpecial","ProfileBuilding",new { id=Model.BuildingID, name =Model.BuildingRIN.ToSeoUrl() })" )">Specials</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer Type</th>
                    <th>Tax Payer RIN</th>
                    <th>Asset Role</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vAsset in lstAsset)
                {
                    <tr>
                        <td>@vAsset.TaxPayerTypeName</td>
                        <td>@vAsset.TaxPayerRINNumber</td>
                        <td>@vAsset.TaxPayerRoleName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_ShowTaxPayerDetails(@vAsset.TPAID)">Quick View</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@{
    Html.RenderPartial("_BuildingDetailPopup");
    Html.RenderPartial("_IndividualDetailPopup");
    Html.RenderPartial("_CompanyDetailPopup");
    Html.RenderPartial("_GovernmentDetailPopup");
    Html.RenderPartial("_SpecialDetailPopup");

}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsBuildingDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}

