@model IList<EIRS.BOL.usp_GetServiceBillList_Result>
@using EIRS.Common
@{
    Layout = "~/Views/Shared/_TaxPayerLayout.cshtml";
    ViewBag.Title = "Service Bills";
}

<div class="title">
    <h1>
        Service Bills
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Service Bills</div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tax Year <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript: jsfn_FilterMDAServiceTable(2017);">2017</a>
                    </li>
                    <li>
                        <a onclick="javascript: jsfn_FilterMDAServiceTable(2018);">2018</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblServiceBills">
            <thead class="red-th">
                <tr>
                    <th>Bill Ref</th>
                    <th>Tax Payer Name</th>
                    <th class="desktop">Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody class="red-th">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ServiceBillRefNo</td>
                        <td>@item.TaxPayerName</td>
                        <td>@CommUtil.GetFormatedDate( item.ServiceBillDate)</td>
                        <td>@item.ServiceBillAmount</td>
                        <td>@item.SettlementStatusName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_MDAServiceDetails(@item.ServiceBillID)">
                                            Quick View
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:jsfn_MDAServiceItemList(@item.ServiceBillID)">
                                            View Items
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_MDAServiceDetailPopup");
    Html.RenderPartial("_MDAServiceItemPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerMDAServiceBills.js"></script>
}
