@model IList<EIRS.BOL.usp_GetNotificationList_Result>
@using EIRS.Common
@{
    Layout = "~/Views/Shared/_TaxPayerLayout.cshtml";
    ViewBag.Title = "Notification List";
}


<div class="title">
    <h1>
        Notification
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Notification List</div>
        <div class="actions">
            @*<div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add New <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="NotificationSearch.html">New Notification</a>
                        </li>
                    </ul>
            </div>*@
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-bordered v-middle" id="tblNotifications">
            <thead class="red-th">
                <tr>
                    <th>Ref</th>
                    <th>Date</th>
                    <th>Method</th>
                    <th>Type</th>
                    <th class="action-th">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NotificationRefNo</td>
                        <td>@item.NotificationDate</td>
                        <td>@item.NotificationMethodName</td>
                        <td>@item.NotificationTypeName</td>                       
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_NotificationInformation(@item.NotificationID)">
                                            View Notification
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<div class="modal fade" id="dvNotificationModal" tabindex="-1" role="dialog" aria-labelledby="dvNotificationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dvNotificationModalLabel">Notification Details</h4>
            </div>
            <div class="modal-body" id="dvNotificationContent">

            </div>
        </div>
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerNotificationList.js"></script>
}

