@model EIRS.Web.Models.SFTPDataSubmitterViewModel

@{
    ViewBag.Title = "Add Data Submitter";
}


<div class="title">
    <h1>
        Data Submitter
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Add New Data Submitter
        </div>
        <div class="actions">
            <a href="@Url.Action("List","SFTPDataSubmitter")" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Add", "SFTPDataSubmitter", FormMethod.Post, htmlAttributes: new { @id = "frmAddDataSubmitter" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SubmitterRIN, htmlAttributes: new { @class = "control-label required-star" })
                        @Html.TextBoxFor(model => model.SubmitterRIN, htmlAttributes: new { @class = "form-control", @tabindex = "1", @placeholder = "Enter RIN" })
                        @Html.ValidationMessageFor(model => model.SubmitterRIN, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control", @tabindex = "2", @placeholder = "Enter User Name" })
                        @Html.ValidationMessageFor(model => model.UserName, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", @tabindex = "3", @placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", @tabindex = "4", @placeholder = "Enter Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataSubmissionTypeID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.DataSubmissionTypeID, (SelectList)ViewBag.DataSubmissionTypeList, htmlAttributes: new { @class = "form-control bs-select", @tabindex = "5", @multiple = "multiple", @id = "cboDataSubmissionType", @data_initvalue = (Model != null && Model.DataSubmissionTypeID != null ? string.Join(",", Model.DataSubmissionTypeID) : "") })
                        @Html.ValidationMessageFor(model => model.DataSubmissionTypeID, "", htmlAttributes: new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn-theme btn" value="Save" tabindex="3" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsSFTPDataSubmitterDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}