@model IList<EIRS.BOL.usp_GetTaxPayerBusinessList_Result>
@using EIRS.Common
@{
    ViewBag.Title = "Business List";
}

<div class="title">
    <h1>Businesses</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            List of Businesses
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblBusiness">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Business Name</th>
                    <th>Address</th>
                    <th class="desktop">Sub Sector</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody class="red-th">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BusinessRIN</td>
                        <td>@item.BusinessName</td>
                        <td>@item.BusinessAddress</td>
                        <td>@item.BusinessSubSectorName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action<span class="caret"></span>
                                </button><ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_BusinessInformation(@item.BusinessID)">
                                            Quick View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("BusinessDetail","CorporatePanel",new { id=item.BusinessID, name=item.BusinessName.ToSeoUrl() })">
                                            Asset Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@{Html.RenderPartial("_BusinessDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerBusinessList.js"></script>
}



