@model IList<EIRS.BOL.usp_GetTaxPayerLandList_Result>
@using EIRS.Common
@{
    ViewBag.Title = "Land List";
}

<div class="title">
    <h1>Lands</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            List of Lands
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblLand">
            <thead class="red-th">
                <tr>
                    <th>RIN</th>
                    <th>Plot Number</th>
                    <th>Occupier</th>
                    <th class="desktop">Land Function</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody class="red-th">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LandRIN</td>
                        <td>@item.PlotNumber</td>
                        <td>@item.LandOccupier</td>
                        <td>@item.LandFunctionName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_LandInformation(@item.LandID)">
                                            Quick View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("LandDetail","CorporatePanel", new { @id=item.LandID, @name=item.PlotNumber.ToSeoUrl() })">
                                            Asset Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@{Html.RenderPartial("_LandDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerLandList.js"></script>
}




