@model IList<EIRS.BOL.usp_GetServiceBillList_Result>
@using EIRS.Common
@{
    ViewBag.Title = "Service Bills";
}

<div class="title">
    <h1>
        Service Bills
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Service Bills</div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblServiceBills">
            <thead class="red-th">
                <tr>
                    <th>Bill Ref</th>
                    <th>Tax Payer Name</th>
                    <th class="desktop">Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody class="red-th">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ServiceBillRefNo</td>
                        <td>@item.TaxPayerName</td>
                        <td>@CommUtil.GetFormatedDate(item.ServiceBillDate)</td>
                        <td>@item.ServiceBillAmount</td>
                        <td>@item.SettlementStatusName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-theme dropdown-toggle md-skip btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a onclick="javascript:jsfn_BillDetails(@item.ServiceBillID)">Quick View</a></li>
                                    <li><a onclick="javascript:jsfn_BillPaymentDetails(@item.ServiceBillID)">View Payments </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_ServiceBillDetailPopup");
    Html.RenderPartial("_BillPaymentPopup");
}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsTaxPayerServiceBill.js"></script>
}
