@model EIRS.Models.VehicleViewModel
@using EIRS.Common
@using EIRS.BOL
@{
    ViewBag.Title = "Vehicle Details";

    IList<usp_GetTaxPayerAssetList_Result> lstAsset = (IList<usp_GetTaxPayerAssetList_Result>)ViewBag.AssetList;

}

<div class="title">
    <h1>
        Vehicle Asset
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Vehicle Asset Information
        </div>
        <div class="actions">
            <div class="btn-group">
                <button type="button" class="btn btn-redtheme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="javascript:jsfn_VehicleInformation(@Model.VehicleID)">View Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row view-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Asset Type: </label>
                <div class="form-control-static">
                    @Model.AssetTypeName
                </div>
            </div>
            <div class="form-group">
                <label class="control-label bold">Asset RIN: </label>
                <div class="form-control-static">
                    @Model.VehicleRIN
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label bold">Asset Name: </label>
                <div class="form-control-static">
                    @Model.VehicleRegNumber
                </div>
            </div>

            <div class="form-group">
                <label class="control-label bold">Asset LGA: </label>
                <div class="form-control-static">
                    @Model.LGAName
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Associated Tax Payers</div>
        <div class="actions">
            
        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblTaxPayerList">
            <thead class="red-th">
                <tr>
                    <th>Tax Payer Type</th>
                    <th>Tax Payer RIN</th>
                    <th>Asset Role</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vAsset in lstAsset)
                {
                    <tr>
                        <td>@vAsset.TaxPayerTypeName</td>
                        <td>@vAsset.TaxPayerRINNumber</td>
                        <td>@vAsset.TaxPayerRoleName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="javascript:jsfn_ShowTaxPayerDetails(@vAsset.TPAID)">Quick View</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@{
    Html.RenderPartial("_VehicleDetailPopup");
    Html.RenderPartial("_IndividualDetailPopup");
    Html.RenderPartial("_CompanyDetailPopup");
    Html.RenderPartial("_GovernmentDetailPopup");
    Html.RenderPartial("_SpecialDetailPopup");

}

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsVehicleDetails.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}


