@model IList<EIRS.BOL.usp_GetBuildingList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.BuildingRIN</td>
            <td>@item.BuildingTagNumber</td>
            <td>@item.BuildingName</td>
            <td>@item.BuildingNumber</td>
            <td>@item.StreetName</td>
            <td>@item.OffStreetName</td>
            <td>@item.TownName</td>
            <td>@item.LGAName</td>
            <td>@item.WardName</td>
            <td>@item.BuildingTypeName</td>
            <td>@item.BuildingCompletionName</td>
            <td>@item.BuildingPurposeName</td>
            <td>@item.BuildingOwnershipName</td>
            <td>@item.NoOfUnits</td>
            <td>@item.BuildingSize_Length</td>
            <td>@item.BuildingSize_Width</td>
            <td>@item.Latitude</td>
            <td>@item.Longitude</td>
            <td>@item.ActiveText</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Building", new { id = item.BuildingID, name=item.BuildingName.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Building", new { id = item.BuildingID, name=item.BuildingName.ToSeoUrl() })">
                                Edit Details
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("TaxPayerList", "Building", new { id = item.BuildingID, name=item.BuildingRIN.ToSeoUrl() })">
                                Tax Payer Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("BusinessInformation", "Building", new { id = item.BuildingID, name=item.BuildingRIN.ToSeoUrl() })">
                                Business Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("UnitInformation", "Building", new { id = item.BuildingID, name=item.BuildingRIN.ToSeoUrl() })">
                                Unit Information
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("LandInformation", "Building", new { id = item.BuildingID, name=item.BuildingRIN.ToSeoUrl() })">
                                Land Information
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_ChangeStatus(@item.BuildingID)">
                                Mark @(item.Active.GetValueOrDefault() ? "Inactive" : "Active")
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
