@model EIRS.Models.BuildingUnitNumberViewModel
@using EIRS.BOL
@{
    ViewBag.Title = "Add Unit Information";
    IList<usp_GetBuildingUnitList_Result> lstBuildingUnit = (IList<usp_GetBuildingUnitList_Result>)ViewBag.BuildingUnitList;
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-th-list"></i>
                New Unit Information for @Model.BuildingName
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12" id="artBuildingUnitNumber">
                <div class="jarviswidget jarviswidget-color-green" id="dvAddBuildingUnitNumber">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add Unit Information</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("AddUnit", "Building", FormMethod.Post, htmlAttributes: new { @class = "smart-form", @id = "frmUnitNumber" }))
                            {

                                <header>
                                    UnitNumber Details
                                    <button id="btnSave" class="btn btn-primary pull-right">
                                        Save
                                    </button>
                                    <a href="@Url.Action("UnitInformation", "Building", new { id = Model.BuildingID, name = Model.BuildingRIN })" class="btn btn-default pull-right margin-right-5">
                                        Back
                                    </a>
                                </header>

                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(m => m.BuildingID, new { @value = Model.BuildingID })
                                @Html.HiddenFor(m => m.BuildingRIN, new { @value = Model.BuildingRIN })
                                @Html.HiddenFor(m => m.BuildingName, new { @value = Model.BuildingName })
                                @Html.HiddenFor(m => m.BuildingUnitIds, new { @value = "0", @id = "hdnUnitNumberIds" })

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset>
                                    <table id="tbBuildingUnit" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hasinput" style="width:25%">
                                                    <input type="text" class="form-control" placeholder="Filter Unit Number" />
                                                </th>
                                                <th class="hasinput" style="width:25%">
                                                    <input type="text" class="form-control" placeholder="Filter Unit Purpose" />
                                                </th>
                                                <th class="hasinput" style="width:25%">
                                                    <input type="text" class="form-control" placeholder="Filter Unit Function" />
                                                </th>
                                                <th class="hasinput" style="width:25%">
                                                    <input type="text" class="form-control" placeholder="Filter Unit Occupancy" />
                                                </th>
                                                <th class="hasinput" style="width:25%">
                                                    <input type="text" class="form-control" placeholder="Filter Unit Size" />
                                                </th>
                                                <th class="hasinput" style="width:25%">
                                                    <input type="text" class="form-control" placeholder="Filter Status" />
                                                </th>
                                                <th style="width:25%"></th>
                                            </tr>
                                            <tr>
                                                <th data-class="expand">Unit Number</th>
                                                <th>Unit Purpose</th>
                                                <th>Unit Function</th>
                                                <th>Unit Occupancy</th>
                                                <th>Unit Size</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (lstBuildingUnit != null && lstBuildingUnit.Count > 0)
                                            {
                                                foreach (var item in lstBuildingUnit)
                                                {
                                                    <tr>
                                                        <td>@item.UnitNumber</td>
                                                        <td>@item.UnitPurposeName</td>
                                                        <td>@item.UnitFunctionName</td>
                                                        <td>@item.UnitOccupancyName</td>
                                                        <td>@item.SizeName</td>
                                                        <td>@item.ActiveText</td>
                                                        <td>
                                                            <label class="checkbox">
                                                                @Html.CheckBox("chkBuildingUnit_" + item.BuildingUnitID, new { @onChange = "jsfn_MultiSelectBuildingUnit(this)", @data_buid = item.BuildingUnitID, @title = "Tick To Select" })
                                                                <i></i>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Footer{
    <script type="text/javascript" src="~/Scripts/jsBuildingUnitNumberDetails.js"></script>
}