@model EIRS.Models.MDAServiceViewModel
@using EIRS.BOL

@{
    ViewBag.Title = "MDA Service Details";
    IList<MDAService_MDAServiceItem> lstMDAServiceItem = (IList<MDAService_MDAServiceItem>)ViewBag.MDAServiceItemList;

}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                MDA Service
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artMDAService">
                <div class="jarviswidget jarviswidget-color-green" id="dvMDAService">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>MDA Service Details</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body" id="dvMDAServiceDetails">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>MDA ServiceDetails</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">MDA ServiceCode</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.MDAServiceCode
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">MDA ServiceName</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.MDAServiceName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Rule Run</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.RuleRunName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Frequency</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.PaymentFrequencyName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Year</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxYear
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Method</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SettlementMethodNames
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Payment Option</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.PaymentOptionName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                    <div class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <i class="fa fa-chevron-right"></i> <a id="aMDAServiceItem">MDA ServiceItems - <span id="spnARIRecordCount">@SessionManager.lstMDAServiceItem.Count()</span> Values</a>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List", "MDAService")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget-body no-padding" id="dvMDAServiceItemList">
                            <div class="smart-form">
                                <header>
                                    Record Link - MDA ServiceItems
                                </header>

                                <fieldset>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>MDAService Item </th>
                                                <th>Item Name</th>
                                                <th>Tax Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (lstMDAServiceItem.Count > 0)
                                            {
                                                foreach (var item in lstMDAServiceItem)
                                                {
                                                    <tr>
                                                        <td>@item.MDAServiceItemReferenceNo</td>
                                                        <td>@item.MDAServiceItemName</td>
                                                        <td>@item.ServiceAmount.ToString("N2")</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                    &nbsp;&nbsp; Actions
                                                                    <span class="caret"></span>&nbsp;&nbsp;
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a onclick="javascript:jsfn_ShowMDAServiceItemDetails(@item.MDAServiceItemID)">
                                                                            View
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                                <tr>
                                                    <td colspan="2">Total</td>
                                                    <td>@lstMDAServiceItem.Sum(t => t.ServiceAmount).ToString("N2")</td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4" align="center">No Records Found.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <a id="btnMSIBack" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </div>
                        </div>


                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@{ Html.RenderPartial("_MDAServiceItemDetailPopup"); }

@section Footer {
    <script Function="text/javascript" src="~/Scripts/jsMDAServiceView.js"></script>
}