@model EIRS.Models.MDAServiceViewModel
@using EIRS.BOL

@{
    ViewBag.Title = "Edit MDA Service";
    IList<MDAService_MDAServiceItem> lstMSMSItem = (IList<MDAService_MDAServiceItem>)ViewBag.MSMSItemList;
    IList<usp_GetMDAServiceItemList_Result> lstMDAServiceItem = (IList<usp_GetMDAServiceItemList_Result>)ViewBag.MDAServiceItemList;

}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                MDA Service
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artMDAService">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditMDAService">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Edit MDA Service</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("Edit", "MDAService", FormMethod.Post, htmlAttributes: new { @id = "frmMainMDAService", @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.HiddenFor(model => model.MDAServiceID, htmlAttributes: new { @value = Model.MDAServiceID, @id= "hdnMDAServiceID" })
                                @Html.HiddenFor(model => model.MDAServiceCode, htmlAttributes: new { @value = Model.MDAServiceCode })
                                @Html.Hidden("hdnMDAServiceItemIds", "")
                                <header id="hdStep1">
                                    MDA Service Details
                                </header>
                                <header id="hdStep2">
                                    Record Links
                                </header>

                                if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.Message
                                    </div>
                                }

                                <fieldset id="fsStep1">
                                    <section>
                                        @Html.LabelFor(model => model.MDAServiceCode, htmlAttributes: new { @class = "label" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.MDAServiceCode, htmlAttributes: new { @disabled = "true", @readonly = "true" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Auto numbering by system
                                            </b>
                                        </label>
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.MDAServiceName, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            <i class="icon-append fa fa-question-circle"></i>
                                            @Html.TextBoxFor(model => model.MDAServiceName, htmlAttributes: new { @tabindex = "1", @placeholder = "Enter MDA Service name" })
                                            <b class="tooltip tooltip-top-right">
                                                <i class="fa fa-warning txt-color-teal"></i>
                                                Enter MDA Service name
                                            </b>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.MDAServiceName, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.RuleRunID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.RuleRunID, (SelectList)ViewBag.RuleRunList, "Select Rule Run", htmlAttributes: new { @tabindex = "2", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.RuleRunID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.PaymentFrequencyID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.PaymentFrequencyID, (SelectList)ViewBag.PaymentFrequencyList, "Select Frequency", htmlAttributes: new { @tabindex = "3", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PaymentFrequencyID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.TaxYear, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.TaxYear, (SelectList)ViewBag.YearList, "Select Tax Year", htmlAttributes: new { @tabindex = "4", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.TaxYear, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.SettlementMethodIds, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.SettlementMethodIds, (SelectList)ViewBag.SettlementMethodList, htmlAttributes: new { @placeholder = "Select Settlement Method", @id = "cboSettlementMethod", @tabindex = "5", @class = "select2", @width = "100%", @multiple = "multiple", @data_initvalue = (Model != null && Model.SettlementMethodIds != null ? string.Join(",", Model.SettlementMethodIds) : "") })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.SettlementMethodIds, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.PaymentOptionID, htmlAttributes: new { @class = "label required" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.PaymentOptionID, (SelectList)ViewBag.PaymentOptionList, "Select Payment Options", htmlAttributes: new { @tabindex = "6", @class = "select2", @width = "100%" })
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PaymentOptionID, "", htmlAttributes: new { @class = "help-block" })
                                    </section>
                                    <section>
                                        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "label" })
                                        <label class="checkbox">
                                            @Html.CheckBoxFor(model => model.Active, htmlAttributes: new { @tabindex = "10" })
                                            <i></i> Active
                                        </label>
                                    </section>
                                </fieldset>
                                <fieldset id="fsStep2">
                                    <section class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item">
                                                <div class="dd-handle" id="ddliMDAServiceItem">
                                                    <i class="fa fa-chevron-right"></i> <a id="aMDAServiceItem">MDA Service Items - <span id="spnMSIRecordCount">@SessionManager.lstMDAServiceItem.Count()</span> Values</a>
                                                </div>
                                                <span class="help-block field-validation-error hide" id="MDAServiceItem-error">Select MDA Service Items</span>
                                            </li>
                                        </ol>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btnSave">
                                        Submit
                                    </button>
                                    <a id="btnNext" class="btn btn-primary">Next</a>
                                    <a id="btnBack" class="btn btn-default">
                                        Back
                                    </a>
                                    <a id="btnMainBack" href="@Url.Action("List","MDAService")" class="btn btn-default">
                                        Cancel
                                    </a>
                                </footer>
                            }
                           
                            <div class="smart-form" id="dvMDAServiceItemList">
                                <header>
                                    Record Link - MDA Service Items
                                    <button id="btnMSIAdd" class="btn btn-primary pull-right">
                                        Add New Record
                                    </button>
                                </header>

                                <fieldset>
                                    <table id="tbMSMSItem" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>MDAService Item </th>
                                                <th>Item Name</th>
                                                <th>Tax Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyMDAServiceItemList">
                                            @{Html.RenderPartial("_BindMDAServiceItem", lstMSMSItem);}
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <a id="btnMSIBack" class="btn btn-primary">
                                        Next
                                    </a>
                                    <a href="@Url.Action("List", "MDAService")" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </div>
                            <div class="smart-form" id="dvMSAddMDAServiceItem">
                                <header>
                                    MDAService Items List
                                    <button id="btnAddMDAServiceItems" class="btn btn-primary pull-right">
                                        Save
                                    </button>
                                    <button id="btnBackMDAServiceItems" class="btn btn-default pull-right margin-right-5">
                                        Back
                                    </button>
                                </header>
                                <fieldset>
                                    <table id="tbMDAServiceItem" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter MDA Service Item Reference No" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Revenue Stream" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Revenue Sub Stream " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Item Category" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Item Sub Category " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Revenue Agency " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter MDA Service Item Name " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Computation " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Service Base Amount " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Percentage " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Service Amount " />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Filter Status" />
                                                </th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th data-class="expand">MDA Service Item Reference No</th>
                                                <th>Revenue Stream</th>
                                                <th>Revenue Sub Stream</th>
                                                <th>Item Category</th>
                                                <th>Item Sub Category</th>
                                                <th>Revenue Agency</th>
                                                <th>MDA Service Item Name</th>
                                                <th>Computation</th>
                                                <th>Service Base Amount</th>
                                                <th>Percentage</th>
                                                <th>Service Amount</th>
                                                <th>Status</th>
                                                <th>Select</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @{Html.RenderPartial("_BindMDAServiceItemTable", lstMDAServiceItem);}
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@{ Html.RenderPartial("_MDAServiceItemDetailPopup"); }

@section Footer {
    <script type="text/javascript" src="~/Scripts/jsMDAServiceDetails.js"></script>
}