@model EIRS.Models.CompanyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Corporate Details";
}

<section class="alternate">
    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Register
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav">
                            <li>
                                <a><i class="fa fa-angle-right"></i> Search</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> OTP</a>
                            </li>
                            <li class="active">
                                <a><i class="fa fa-angle-right"></i> Tax Payer</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> Asset</a>
                            </li>
                            <li>
                                <a><i class="fa fa-angle-right"></i> Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                @using (Html.BeginForm("UpdateDetail", "SignupCorporate", FormMethod.Post, htmlAttributes: new { @id = "frmAddCorporate" }))
                {
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                Step 3: Enter Tax Payer Details
                            </div>
                        </div>
                        <div class="portlet-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.CompanyID, htmlAttributes: new { @value = Model.CompanyID })

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label required-star" })
                                        @Html.TextBoxFor(model => model.CompanyName, htmlAttributes: new { @tabindex = "2", @placeholder = "Enter Company name", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.TIN, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.TIN, htmlAttributes: new { @tabindex = "3", @placeholder = "enter JTB TIN number of company", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TIN, "", htmlAttributes: new { @class = "help-block" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileNumber1, htmlAttributes: new { @class = "control-label required-star" })
                                        <div class="input-group">
                                            <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                            @Html.TextBoxFor(model => model.MobileNumber1, htmlAttributes: new { @tabindex = "4", @placeholder = "Enter mobile phone number of Company", @class = "form-control" , @readonly="true"})
                                        </div>
                                        @Html.ValidationMessageFor(model => model.MobileNumber1, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileNumber2, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"> ( 234 - 0 - ) </span>
                                            @Html.TextBoxFor(model => model.MobileNumber2, htmlAttributes: new { @tabindex = "5", @placeholder = "Enter alternative mobile phone number of Company", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.MobileNumber2, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailAddress1, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.EmailAddress1, htmlAttributes: new { @tabindex = "6", @placeholder = "Enter Company email address", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EmailAddress1, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailAddress2, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.EmailAddress2, htmlAttributes: new { @tabindex = "7", @placeholder = "Enter Company alternative email address", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EmailAddress2, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TaxOfficeID, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.TaxOfficeID, (SelectList)ViewBag.TaxOfficeList, "Select Tax Office", htmlAttributes: new { @tabindex = "8", @id = "cboTaxOffice", @class = "form-control bs-select" })
                                        @Html.ValidationMessageFor(model => model.TaxOfficeID, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TaxPayerTypeID, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.TaxPayerTypeID, (SelectList)ViewBag.TaxPayerTypeList, "Select Tax Payer Type", htmlAttributes: new { @tabindex = "9", @class = "form-control bs-select", @id = "cboTaxPayerTypeID", @disabled = "true" })
                                        @Html.ValidationMessageFor(model => model.TaxPayerTypeID, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EconomicActivitiesID, htmlAttributes: new { @class = "control-label required-star" })
                                        @Html.DropDownListFor(model => model.EconomicActivitiesID, (SelectList)ViewBag.EconomicActivitiesList, "Select Economic Activities", htmlAttributes: new { @tabindex = "10", @class = "form-control bs-select" })
                                        @Html.ValidationMessageFor(model => model.EconomicActivitiesID, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NotificationMethodID, htmlAttributes: new { @class = "control-label required-star" })
                                        @Html.DropDownListFor(model => model.NotificationMethodID, (SelectList)ViewBag.NotificationMethodList, "Select Notification Method", htmlAttributes: new { @tabindex = "11", @class = "form-control bs-select" })
                                        @Html.ValidationMessageFor(model => model.NotificationMethodID, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactAddress, htmlAttributes: new { @class = "control-label required-star" })
                                        @Html.TextAreaFor(model => model.ContactAddress, htmlAttributes: new { @class = "form-control", @tabindex = "20", @placeholder = "Enter Contact Address", @Rows = "3" })
                                        @Html.ValidationMessageFor(model => model.ContactAddress, "", htmlAttributes: new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="portlet-footer text-right">
                            <a href="@Url.Action("GenerateOTP","SignupCorporate")" class="btn btn-theme btn-outline">
                                Previous
                            </a>
                            <button type="submit" class="btn btn-theme"> Next </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
