@model IList<EIRS.BOL.usp_GetAssessmentItemList_Result>
@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.AssessmentItemReferenceNo</td>
            <td>@item.AssetTypeName</td>
            <td>@item.AssessmentGroupName</td>
            <td>@item.AssessmentSubGroupName</td>
            <td>@item.RevenueStreamName</td>
            <td>@item.RevenueSubStreamName</td>
            <td>@item.AssessmentItemCategoryName</td>
            <td>@item.AssessmentItemSubCategoryName</td>
            <td>@item.AgencyName</td>
            <td>@item.AssessmentItemName</td>
            <td>@item.ComputationName</td>
            <td>@item.TaxBaseAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.Percentage.GetValueOrDefault().ToString("N2")</td>
            <td>@item.TaxAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.ActiveText</td>
            <td>
                <label class="checkbox">
                    @Html.CheckBox("chkAssessmentItemChecked_" + item.AssessmentItemID, new { @onChange = "jsfn_SelectAssessmentItem(this)", @data_assessmentitemid = item.AssessmentItemID, @title = "Tick To Select" })
                     <i></i> 
                </label>
               
            </td>
        </tr>
    }
}

