@model IList<AssessmentRule_AssessmentItem>
@using EIRS.Common

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.AssessmentItemReferenceNo</td>
            <td>@item.AssessmentItemName</td>
            <td>@item.TaxAmount.ToString("N2")</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        &nbsp;&nbsp; Actions
                        <span class="caret"></span>&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a onclick="javascript:jsfn_ShowAssessmentItemDetails(@item.AssessmentItemID)">
                                View
                            </a>
                        </li>
                        <li>
                            <a onclick="javascript:jsfn_RemoveAssessmentItem(@item.RowID)">
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

    <tr>
        <td colspan="2">Total</td>
        <td>@Model.Sum(t=>t.TaxAmount).ToString("N2")</td>
        <td></td>
    </tr>
}
else
{
    <tr>
        <td colspan="4" align="center">No Records Found.</td>
    </tr>
}

