@model EIRS.Models.AssessmentRuleViewModel
@using EIRS.BOL

@{
    ViewBag.Title = "Assessment Rule Details";
    IList<AssessmentRule_Profile> lstAssessmentRuleProfile = (IList<AssessmentRule_Profile>)ViewBag.AssessmentRuleProfileList;
    IList<AssessmentRule_AssessmentItem> lstAssessmentRuleItem = (IList<AssessmentRule_AssessmentItem>)ViewBag.AssessmentRuleItemList;

}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Assessment Rule
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="artAssessmentRule">
                <div class="jarviswidget jarviswidget-color-green" id="dvEditAssessmentRule">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Assessment Rule Details</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body" id="dvAssessmentRuleDetails">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Assessment Rule Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Assessment Rule Code</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.AssessmentRuleCode
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Assessment Rule Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.AssessmentRuleName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Rule Run</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.RuleRunName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Frequency</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.PaymentFrequencyName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Year</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxYear
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Method</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SettlementMethodNames
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Payment Option</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.PaymentOptionName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                    <div class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <i class="fa fa-chevron-right"></i> <a id="aAssessmentRuleProfile">Assessment Rule Profile  - <span id="spnARPRecordCount">@SessionManager.lstAssessmentRuleProfile.Count()</span> Values</a>
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <div class="dd-handle">
                                                    <i class="fa fa-chevron-right"></i> <a id="aAssessmentRuleItem">Assessment Rule Items - <span id="spnARIRecordCount">@SessionManager.lstAssessmentRuleItem.Count()</span> Values</a>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List", "AssessmentRule")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body no-padding" id="dvAssessmentRuleProfileList">
                            <div class="smart-form">
                                <header>
                                    Record Link - Assessment Rule Profile
                                </header>

                                <fieldset>
                                    <table id="tbAssessmentRuleProfile" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Profile Reference No</th>
                                                <th>Asset Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (lstAssessmentRuleProfile.Count > 0)
                                            {
                                                foreach (var item in lstAssessmentRuleProfile)
                                                {
                                                    <tr>
                                                        <td>@item.ProfileReferenceNo</td>
                                                        <td>@item.AssetTypeName</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                    &nbsp;&nbsp; Actions
                                                                    <span class="caret"></span>&nbsp;&nbsp;
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a onclick="javascript:jsfn_ShowProfileDetails(@item.ProfileID)">
                                                                            View
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="3" align="center">No Records Found.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <a id="btnARPBack" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </div>
                        </div>
                        <div class="widget-body no-padding" id="dvAssessmentRuleItemList">
                            <div class="smart-form">
                                <header>
                                    Record Link - Assessment Rule Items
                                </header>

                                <fieldset>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Assessment Item </th>
                                                <th>Item Name</th>
                                                <th>Tax Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (lstAssessmentRuleItem.Count > 0)
                                            {
                                                foreach (var item in lstAssessmentRuleItem)
                                                {
                                                    <tr>
                                                        <td>@item.AssessmentItemReferenceNo</td>
                                                        <td>@item.AssessmentItemName</td>
                                                        <td>@item.TaxAmount.ToString("N2")</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                    &nbsp;&nbsp; Actions
                                                                    <span class="caret"></span>&nbsp;&nbsp;
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a onclick="javascript:jsfn_ShowAssessmentItemDetails(@item.AssessmentItemID)">
                                                                            View
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                                <tr>
                                                    <td colspan="2">Total</td>
                                                    <td>@lstAssessmentRuleItem.Sum(t => t.TaxAmount).ToString("N2")</td>
                                                    <td></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4" align="center">No Records Found.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </fieldset>
                                <footer>
                                    <a id="btnARIBack" class="btn btn-default">
                                        Back
                                    </a>
                                </footer>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@{ Html.RenderPartial("_ProfileDetailPopup"); Html.RenderPartial("_AssessmentItemDetailPopup"); }
@section Footer {
    <script Function="text/javascript" src="~/Scripts/jsAssessmentRuleView.js"></script>
}