@model IList<EIRS.BOL.usp_GetSettlementList_Result>

@using EIRS.Common

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.SettlementRefNo</td>
            <td>@CommUtil.GetFormatedDate(item.SettlementDate)</td>
            <td>@item.ASRefNo</td>
            <td>@item.ASAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.SettlementAmount.GetValueOrDefault().ToString("N2")</td>
            <td>@item.SettlementMethodName</td>
            <td>@item.SettlementStatusName</td>
            <td>@item.SettlementNotes</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Details","Settlement", new { id = item.SettlementID, name=item.SettlementRefNo.ToSeoUrl()})">
                                View Details
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
