@model EIRS.BOL.usp_GetAssessmentList_Result
@using EIRS.Common
@using EIRS.BOL

@{
    ViewBag.Title = "Assessment Details";
    IList<usp_GetAssessmentRuleItemList_Result> lstAssessmentItems = (IList<usp_GetAssessmentRuleItemList_Result>)ViewBag.AssessmentItemList;
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-life-saver"></i>
                Assessment Details
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-green" id="dvAssessmentDetails">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                        <h2>Assessment</h2>
                    </header>
                    <div class="content">
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">
                        </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Assessment Details</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Assessment Ref No</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.AssessmentRefNo
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Assessment Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.AssessmentDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Type Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerTypeName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Tax Payer Name</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.TaxPayerName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Assessment Amount</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.AssessmentAmount.GetValueOrDefault().ToString("N2")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Due Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @CommUtil.GetFormatedDate(Model.SettlementDueDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SettlementStatusName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Settlement Date</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.SettlementDate
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Assessment Notes</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.AssessmentNotes
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label control-label-static">Status</label>
                                        <div class="col-md-10 form-control-static">
                                            @Model.ActiveText
                                        </div>
                                    </div>
                                    <section>
                                        <table id="tbAssessmentItem" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Assessment Rule</th>
                                                    <th>Assessment Item </th>
                                                    <th>Tax Amount</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyAssessmentItemList">
                                                @foreach(var item in lstAssessmentItems)
                                                {
                                                    <tr>
                                                        <td>@item.AssessmentRuleName</td>
                                                        <td>@item.AssessmentItemName</td>
                                                        <td>@item.TaxAmount.GetValueOrDefault().ToString("N2")</td>
                                                        <td>@item.PaymentStatusName</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </section>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("List","Assessment")">
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
