@{
    ViewBag.Title = "Consumption Tax";
}

<div class="title">
    <h1>Consumption Tax</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Consumption Tax
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblWasteManagement">
            <thead class="red-th">
                <tr>
                    <th>Profile Name</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Consumption Tax Collections</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTC","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Bars</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCB","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Restaurants</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCR","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Event Centres</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCEC","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Guest Houses</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCGH","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Hotels</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCH","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Motels</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCM","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Consumption Tax Collections - Online Drinks Trading</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CTCODT","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsWasteManagementList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
