@{
    ViewBag.Title = "Pools Betting";
}

<div class="title">
    <h1>Pools Betting</h1>
    <hr />
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Pools Betting
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <table class="dt-responsive table table-bordered v-middle" width="100%" id="tblPoolsBetting">
            <thead class="red-th">
                <tr>
                    <th>Profile Name</th>
                    <th class="action-th all">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pools Betting</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PB","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Casino Operators</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBCO","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Gaming Machine Operators</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBGMO","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Lottery Operator</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBLO","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Lotto Agents</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBLTA","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Lottery Agents</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBLA","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting Lotto Operators</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBLTO","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Online Sports Betting Agents</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBOSBA","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Online Sports Betting Operators</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBOSBO","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Pools Agent</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBPA","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pools Betting - Pools Promoters</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("PBPP","Profile")">View Profile</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/jsPoolsBettingList.js?v=@EIRS.Common.GlobalDefaultValues.VersionNumber"></script>
}
