@model IList<usp_GetTaxPayerDocumentList_Result>

@foreach (var vDocument in Model)
{
    <tr>
        <td>@vDocument.DocumentRefNo</td>
        <td>@CommUtil.GetFormatedDate(vDocument.DocumentDate)</td>
        <td>@vDocument.StaffName</td>
        <td>@vDocument.DocumentTitle</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs md-skip btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("DocumentDetails","CaptureCorporate", new { tpdid = vDocument.TPDID })">View</a>
                    </li>

                    @*<li>
                        <a onclick="javascript:jsfn_ChangeDocumentLinkStatus(@vDocument.TPAID, @vDocument.TaxPayerID, @vDocument.TaxPayerTypeID)">
                            Remove Link
                        </a>
                    </li>*@

                </ul>
            </div>
        </td>
    </tr>
}